<ui:component xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets">
	<ice:panelGroup width="100%">
		
		<p>
			<ice:outputText value="#{msgs['registration.approval.review.legend']}"/>
		</p>
		
		<!--p>
			<ice:messages layout="list"/>
		</p-->
		

		<ice:panelCollapsible id="formPanel1" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader" value="#{msgs['registration.request.form.title1']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup >
            	<ice:panelGroup>
		      		<ice:messages layout="list"/>
		      	</ice:panelGroup>
                <ice:panelGrid columns="2">
                	<!-- Request ID-->
                    <ice:outputLabel for="formRequestId"
                                     value="#{msgs['registration.request.form.field.id']}"/>
                                   
                    <ice:outputText id="formRequestId"
                                   value="#{registrationApprovalBean.registration.id}"/>
                    <!-- First Name-->
                    <ice:outputLabel for="formFirstName"
                                     value="#{msgs['registration.request.form.field.firstname']}"/>
                                   
                    <ice:outputText id="formFirstName"
                                   value="#{registrationApprovalBean.registration.firstName}"/>
                                   
                    <!-- Last Name-->
                    <ice:outputLabel for="formLastName"
                                     value="#{msgs['registration.request.form.field.lastname']}"/>

                    <ice:outputText id="formLastName" 
                    		value="#{registrationApprovalBean.registration.lastName}" />     
                    
                    <!-- Middle Name-->
                    <ice:outputLabel for="formMiddleName"
                                     value="#{msgs['registration.request.form.field.middlename']}"/>
                    <ice:outputText id="formMiddleName" value="#{registrationApprovalBean.registration.middleName}"/>                 
                    
                    <!-- User Name-->
                    <!--ice:outputLabel for="formUserName"
                                     value="#{msgs['registration.request.form.field.username']}"/>

                   	<ice:outputText id="formUserName" 
                   		value="#{registrationApprovalBean.registration.userName}"/-->
                    	
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
		<ice:panelCollapsible id="formPanel2" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader2" value="#{msgs['registration.request.form.title2']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup>
                <ice:panelGrid columns="2">
                    <!-- Organization Type -->
                    <ice:outputLabel for="SlctOrgTyp"
                                     value="#{msgs['registration.request.form.field.organizationtype']}"/>
                    <ice:selectOneMenu id="SlctOrgTyp" value="#{registrationApprovalBean.selectedOrgType}"
                    				   valueChangeListener="#{registrationApprovalBean.organizationTypeChanged}"
                    				   partialSubmit="true">
                    	<f:selectItems value="#{registrationApprovalBean.organizationTypes}" />
                    </ice:selectOneMenu>
                  
                  	<!-- Organization -->
                    <ice:outputLabel for="SlctOrg"
                                     value="#{msgs['registration.request.form.field.organization']}"/>
					<ice:selectOneMenu id="SlctOrg" value="#{registrationApprovalBean.selectedOrg}"
                    				   partialSubmit="true">
                    	<f:selectItems value="#{registrationApprovalBean.organizations}" />
					</ice:selectOneMenu>
                                   
					<!-- Organization Name -->
                    <ice:outputLabel for="formOrgName"
                                     value="#{msgs['registration.request.form.field.organizationname']}"/>
                    <ice:outputText id="formOrgName" style="color: red;"
                   		value="#{registrationApprovalBean.registration.organizationName}"/>
                                   
                    <!-- Organization Description -->
                    <ice:outputLabel for="formOrgDesc"
                                     value="#{msgs['registration.request.form.field.organizationdesc']}"/>
                    <ice:outputText id="formOrgDesc" style="color: red;"
                   		value="#{registrationApprovalBean.registration.organizationDescription}"/>
					
					<!-- Title -->
                    <ice:outputLabel for="formTitle"
                                     value="#{msgs['registration.request.form.field.title']}"/>
                    <ice:outputText id="formTitle" value="#{registrationApprovalBean.registration.title}"/>
					
					
					<!-- Department -->
                    <ice:outputLabel for="formDept"
                                     value="#{msgs['registration.request.form.field.department']}"/>
                    <ice:outputText id="formDept" value="#{registrationApprovalBean.registration.department}"/>              
                                   
                    <!-- AreaField -->
                    <ice:outputLabel for="SlctAreaField"
                                     value="#{msgs['registration.request.form.field.areafield']}"/>
					<ice:selectOneMenu id="SlctAreaField" value="#{registrationApprovalBean.selectedAreaField}"
                    				   partialSubmit="true">
                    	<f:selectItems value="#{registrationApprovalBean.areaFields}" />
					</ice:selectOneMenu>
                                   
					<!-- Role -->
                    <ice:outputLabel for="SlctRole"
                                     value="#{msgs['registration.request.form.field.role']}"/>
					<ice:selectOneMenu id="SlctRole" value="#{registrationApprovalBean.selectedRole}"
                    				   partialSubmit="true">
                    	<f:selectItems value="#{registrationApprovalBean.roles}" />
					</ice:selectOneMenu>
                                   
					<!-- Telephone -->
                    <ice:outputLabel for="formPhone"
                                     value="#{msgs['registration.request.form.field.telephone']}"/>
                    <ice:panelGroup>
                    	<ice:outputText id="formPhone" value="#{registrationApprovalBean.registration.workTelephone}"/>
                    	<ice:outputText value="#{msgs['registration.request.form.field.telephoneExt']}"/>
                    	<ice:outputText id="formPhoneExt" value="#{registrationApprovalBean.registration.workTelephoneExt}"/> 
					</ice:panelGroup>
					<!-- Email -->
                    <ice:outputLabel for="formEmail"
                                     value="#{msgs['registration.request.form.field.email']}"/>
                    <ice:outputText id="formEmail" value="#{registrationApprovalBean.registration.email}"/>                    
                                 
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        <ice:panelCollapsible id="formPanel3" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader3" value="#{msgs['registration.request.form.title3']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup >
                <ice:panelGrid columns="2">
                    <!-- Purpose-->
                    <ice:outputLabel for="formPurpose"
                                     value="#{msgs['registration.request.form.field.purpose']}"/>
                    <ice:outputText id="formPurpose" value="#{registrationApprovalBean.registration.referralPurpose}"/>
					
                    <!-- Referral Name-->
                    <ice:outputLabel for="formReferralName"
                                     value="#{msgs['registration.request.form.field.referralname']}"/>
                    <ice:outputText id="formReferralName" value="#{registrationApprovalBean.registration.referralName}"/>
                    
                    <!-- Referral Title-->
                    <ice:outputLabel for="formReferralTitle"
                                     value="#{msgs['registration.request.form.field.referraltitle']}"/>
					<ice:outputText id="formReferralTitle" value="#{registrationApprovalBean.registration.referralTitle}"/>                 
                    
                    <!-- Referral Phone-->
                    <ice:outputLabel for="formReferralTelephone"
                                     value="#{msgs['registration.request.form.field.referraltelephone']}"/>
                    <ice:panelGroup>
                    	<ice:outputText id="formReferralTelephone" value="#{registrationApprovalBean.registration.referralTelephone}"/>
                    	<ice:outputText value="#{msgs['registration.request.form.field.telephoneExt']}"/>
	                	<ice:outputText id="formReferralTelephoneExt" value="#{registrationApprovalBean.registration.referralTelephoneExt}"/>
                	</ice:panelGroup>
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        
        <!-- Buttons -->
        <ice:commandButton id="BackBtn"
               value="#{msgs['registration.approval.review.back.button']}"
               action="#{registrationApprovalBean.reviewBackButtonAction}"
               immediate="true"/>
        <ice:commandButton id="RejectBtn"
               value="#{msgs['registration.approval.review.reject.button']}"
               action="#{registrationApprovalBean.rejectButtonAction}"/>     
        <ice:commandButton id="ApproveBtn"
               value="#{msgs['registration.approval.review.approve.button']}"
               action="#{registrationApprovalBean.approveButtonAction}"/>    
	</ice:panelGroup>
</ui:component>