<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGrid columns="2" width="100%">
		<ice:panelGrid columns="2">
			<ice:outputLabel value="#{msg['alerts.compose.notification.priority']}" for="priority" />
			<ice:selectOneMenu id="priority" value="#{composeAlertBean.priority}" readonly="#{composeAlertBean.notEditable}">
				<f:selectItems value="#{topicsBean.priorities}"/>
			</ice:selectOneMenu>
			<ice:outputText value="#{msg['alerts.compose.notification.source']}" />
			<ice:selectOneMenu id="initiator" value="#{composeAlertBean.contactUserId}" readonly="#{composeAlertBean.notEditable}">
				<f:selectItems value="#{alertInitiatorsBean.initiators}" />
			</ice:selectOneMenu>
			<ice:graphicImage value="../images/powered_by_logo_blue.gif" />
		</ice:panelGrid>
	</ice:panelGrid>
</ui:component>