<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelCollapsible expanded="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText value="#{msg['alerts.reports.statistics.title']}" />
			</ice:panelGroup>
		</f:facet>
		<ice:panelGrid columns="2" width="100%">
			<ice:outputText value="#{msg['alerts.reports.statistics.detail.title']}" />
			<ice:panelGrid columns="6" bgcolor="#ffffff" border="1" width="100%"
				columnClasses="hanDatatableElementBorderLeft,hanDatatableElementBorder,hanDatatableElementBorderLeft,
				hanDatatableElementBorder,hanDatatableElementBorderLeft,hanDatatableElementBorder">
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.responses']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalResponded}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.total.calls']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalCalls}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.total.emails']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalEmails}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.total.pages']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalPages}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.total.faxes']}" />
				<ice:outputText value="#{alertTrackingBean.report.totalFaxes}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.sms']}" />
				<ice:outputText value="#{alertTrackingBean.report.sms}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.hang.up']}" />
				<ice:outputText value="#{alertTrackingBean.report.hangUp}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.no.answer']}" />
				<ice:outputText value="#{alertTrackingBean.report.noAnswer}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.busy']}" />
				<ice:outputText value="#{alertTrackingBean.report.busy}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.not.at.this.location']}" />
				<ice:outputText value="#{alertTrackingBean.report.notAtThisLocation}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.invalid.response']}" />
				<ice:outputText value="#{alertTrackingBean.report.invalidResponse}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.answering.machine']}" />
				<ice:outputText value="#{alertTrackingBean.report.answeringMachine}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.left.message']}" />
				<ice:outputText value="#{alertTrackingBean.report.leftMessages}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.wrong.address.tel']}" />
				<ice:outputText value="#{alertTrackingBean.report.wrongAddressTel}" />
				<ice:outputText value="#{msg['alerts.reports.statistics.detail.other']}" />
				<ice:outputText value="#{alertTrackingBean.report.other}" />
			</ice:panelGrid>
		</ice:panelGrid>
	</ice:panelCollapsible>
</ui:component>