<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="false">
			<ice:messages layout="list" />
			<!-- ui:include src="alertDetailMenu.xhtml" / -->
			<ice:panelGrid columns="1" columnClasses="left_menu" width="96%">
				<ui:include src="alertDetailMenu.xhtml" />
				<p>
					<br />
					<ice:commandButton value="#{msg['alerts.detail.back']}"
									   actionListener="#{alertBrowseBean.refreshSearch}"
									   action="#{alertMenuBean.searchSelected}">
						<f:setPropertyActionListener value="CURRENT_BY_PUBLICATION_DATE"
													 target="#{alertMenuBean.toExecute}" />
						<f:setPropertyActionListener value="CURRENT_BY_PUBLICATION_DATE"
													 target="#{alertBrowseBean.toExecute}" />
					</ice:commandButton>
				</p>
				<ui:include src="alertDetails.xhtml" />
			</ice:panelGrid>
			<ui:include src="alertConfirmArchive.xhtml" />
			<ui:include src="alertConfirmDelete.xhtml" />
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>