<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="false">
			<ice:messages layout="list" />
			<!-- ui:include src="alertMenu.xhtml" / -->
			<ice:panelGrid columns="1" width="96%" columnClasses="left_menu">
			<ui:include src="alertTrackingMenu.xhtml" />
			<ice:panelGroup style="position: relative;">
				<ice:panelGroup styleClass="exampleBox" style="width: 100%;">
					<ui:include src="alertReportBasic.xhtml" />
					<ui:include src="alertReportNotification.xhtml" />
					<ui:include src="alertReportDetailStatistics.xhtml" />
					<ui:include src="alertReportRecipientsDetail.xhtml" />
					<ice:panelGrid columns="3">
						<ice:commandButton actionListener="#{alertTrackingBean.retrieveAlertReport}"
										   action="#{alertMenuBean.searchSelected}"
										   value="#{msg['alerts.back']}">
							<f:setPropertyActionListener value="ABORT_TRACK_ALERTS_DETAIL"
														 target="#{alertMenuBean.toExecute}" />
						</ice:commandButton>
						<ice:outputResource shared="false" fileName="report.csv"
											resource="#{alertTrackingBean.csvFile}"
											label="#{msg['alerts.reports.export.link']}"
											type="button" />
						<ice:commandButton value="#{msg['alerts.tracking.abort.title']}"
										   actionListener="#{alertBrowseBean.toggleAbort}"
										   rendered="#{alertTrackingBean.updating}">
							<f:setPropertyActionListener value="#{alertTrackingBean.report.reportId}"
														 target="#{alertBrowseBean.alertId}" />
						</ice:commandButton>
					</ice:panelGrid>
				</ice:panelGroup>
			</ice:panelGroup>
			</ice:panelGrid>
			<ui:include src="alertConfirmAbort.xhtml" />
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>