<ice:panelGrid xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	columns="2" width="100%" columnClasses="hanDatatableElementLeft"
>
	<ice:outputLabel value="#{msg['alerts.compose.notification.incident.date']}" for="incidentDate"/>
	<ice:selectInputDate id="incidentDate" 
			label="#{msg['alerts.compose.notification.incident.date']}"
			value="#{composeAlertBean.incidentDate}"
			highlightClass="weekend"
           	highlightUnit="DAY_OF_WEEK"
			highlightValue="1,7"
			renderAsPopup="true" rendered="#{not composeAlertBean.notEditable}">
		<f:convertDateTime pattern="#{msg['alerts.compose.short.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
	</ice:selectInputDate>
	<ice:outputText value="#{composeAlertBean.incidentDate}" rendered="#{composeAlertBean.notEditable}">
		<f:convertDateTime pattern="#{msg['alerts.compose.short.date.pattern']}" timeZone="#{msg['han.time.zone']}" />
	</ice:outputText>
	<ice:panelGroup>
		<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
		<ice:outputLabel value="#{msg['alerts.compose.notification.title']}" for="title" />
	</ice:panelGroup>
	<ice:inputText value="#{composeAlertBean.alertName}" id="title" maxlength="100" 
		readonly="#{composeAlertBean.notEditable}" style="width:100%" />
	<ice:panelGroup>
		<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
		<ice:outputLabel value="#{msg['alerts.compose.notification.topic']}" for="topic" />
	</ice:panelGroup>
	<ice:panelGroup>
		<ice:selectOneMenu id="topic" value="#{composeAlertBean.topicId}" readonly="#{composeAlertBean.notEditable}">
			<f:selectItem itemValue="-1" itemLabel="#{msg['alerts.compose.notification.topic.select']}"/>
			<f:selectItems value="#{topicsBean.topics}"/>
		</ice:selectOneMenu>
		<ice:commandButton value="#{msg['alerts.compose.notification.topic.add.new']}"
						   actionListener="#{topicsBean.toggleAddTopic}"
						   rendered="#{not composeAlertBean.notEditable}" />
	</ice:panelGroup>
	<ice:panelGroup>
		<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
		<ice:outputLabel value="#{msg['alerts.compose.notification.abstract']}" for="abstract" />
	</ice:panelGroup>
	<ice:inputTextarea value="#{composeAlertBean.abstractText}" id="abstract" rows="8" 
		readonly="#{composeAlertBean.notEditable}" style="width:100%"/>
	<!--ice:inputTextarea value="#{composeAlertBean.abstractText}" id="abstract" cols="113" rows="8" readonly="#{composeAlertBean.notEditable}" /-->
	<ice:panelGroup>
		<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
		<ice:outputLabel value="#{msg['alerts.compose.notification.telephony.message']}" for="telephonyMessage" />
	</ice:panelGroup>
	<ice:inputTextarea value="#{composeAlertBean.telephonyMessage}" id="telephonyMessage" rows="8" 
		readonly="#{composeAlertBean.notEditable}" style="width:100%" />
	<!--ice:inputTextarea value="#{composeAlertBean.telephonyMessage}" id="telephonyMessage" cols="113" rows="8" readonly="#{composeAlertBean.notEditable}" /-->
	<ice:panelGroup>
		<ice:outputText value="#{msg['required.field.marker']}" style="#{msg['required.field.marker.style']}" />
		<ice:outputLabel value="#{msg['alerts.compose.notification.full.details']}" for="iceInpRchTxt" />
	</ice:panelGroup>
	<ice:panelGroup> 
<!--  	<ice:inputRichText id="iceInpRchTxt"
		                   height="300"
		                   style="width:100%"
		                   toolbar="HANBasic"
		                   customConfigPath="/js/custom_toolbar.js"
		                   language="en"
		                   skin="silver"
		                   value="#{composeAlertBean.fullDetailText}"
		                   saveOnSubmit="true" />
		                  -->
		<ice:inputTextarea value="#{composeAlertBean.fullDetailText}" id="iceInpRchTxt" rows="8" 
		readonly="#{composeAlertBean.notEditable}" style="width:100%" />
	<!--ice:inputTextarea value="#{composeAlertBean.telephonyMessage}" id="telephonyMessage" cols="113" rows="8" readonly="#{composeAlertBean.notEditable}" /-->
	</ice:panelGroup> 
	
	<ice:outputLabel value="#{msg['alerts.compose.notification.attachments']}" for="attachments" />
	<ui:include src="alertAttachments.xhtml" />
	<ice:outputLabel value="#{msg['alerts.compose.notification.schedule']}" />
	<ui:include src="alertSchedule.xhtml" />
	<ice:outputLabel value="#{msg['alerts.compose.notification.expiration']}"/>
	<ui:include src="alertExpiration.xhtml" />
	<ice:panelGroup>
		<ice:commandButton value="#{msg['alerts.cancel']}"
						   actionListener="#{alertBrowseBean.executeSearch}"
						   action="#{alertMenuBean.searchSelected}">
			<f:param name="selectedSearch" value="CURRENT_BY_PUBLICATION_DATE" />
		</ice:commandButton> 
	
		<ice:commandButton value="#{msg['alerts.save']}" actionListener="#{composeAlertBean.saveAlert}" />
	
		<ice:commandButton value="#{msg['alerts.compose.notification.next']}"
						   action="#{composeAlertBean.selectRecipients}"
						   actionListener="#{groupManagementBean.loadListFromSession}"
						   partialSubmit="false" />
	</ice:panelGroup>
</ice:panelGrid>
