<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelCollapsible expanded="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText value="#{msg['alerts.reports.recipients.detail.title']}" />
			</ice:panelGroup>
		</f:facet>
		<ice:panelGrid id="recipientsDetailsTable" columns="1" columnClasses="hanDatatableElementLeft">
			<ice:outputText value="#{msg['alerts.reports.recipients.detail.filter']}" />

			<ice:panelGrid columns="2" width="100%">
				<ice:panelGrid columns="4" columnClasses="hanDatatableElementLeft">
					<ice:outputLabel value="#{msg['alerts.reports.recipients.detail.first.name']}" />
					<ice:inputText value="#{alertTrackingBean.firstName}"
								   valueChangeListener="#{alertTrackingBean.firstNameChanged}"
								   partialSubmit="true" />
					<ice:outputLabel value="#{msg['alerts.reports.recipients.detail.last.name']}" />
					<ice:inputText value="#{alertTrackingBean.lastName}"
								   valueChangeListener="#{alertTrackingBean.lastNameChanged}"
								   partialSubmit="true" />
				</ice:panelGrid>
				<ice:panelGrid columns="2" columnClasses="hanDatatableElementRight,hanDatatableElementLeft" width="100%">
					<ice:outputLabel value="#{msg['alerts.reports.recipients.detail.responses.definitions.caption']}" />
					<ice:outputResource shared="false" fileName="HAN-alert-tracking-response-defs.xls"
										resource="#{alertTrackingBean.definitions}" image="/images/excel_icon.png"
										style="img {border: none; height: 100px; width: 100px;}" />
				</ice:panelGrid>
			</ice:panelGrid>
			<ice:dataTable id="recipients" var="recipient" value="#{alertTrackingBean.reportRecipients}"
						   rows="10" scrollable="false" columnWidths="250px,250px,250px,250px,250px" 
						   bgcolor="#ffffff"
						   width="100%">
				<ice:column groupOn="#{recipient.recipient.completeName}" styleClass="hanDatatableElementLeft">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.recipients.detail.recipients.title']}" />
					</f:facet>
					<ice:outputText value="#{recipient.recipient.completeName}" />
				</ice:column>
				<ice:column styleClass="hanDatatableElement">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.recipients.detail.time.issued.title']}" />
					</f:facet>
					<ice:outputText value="#{recipient.device.timeSent}">
						<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
				</ice:column>
				<ice:column styleClass="hanDatatableElement">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.recipients.detail.response.received.title']}" />
					</f:facet>
					<ice:outputText value="#{recipient.device.timeResponded}">
						<f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
				</ice:column>
				<ice:column styleClass="hanDatatableElementLeft">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.recipients.detail.devices.title']}" />
					</f:facet>
					<ice:outputText value="#{recipient.device.description}" />
				</ice:column>
				<ice:column styleClass="hanDatatableElementLeft">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.reports.recipients.detail.responses.title']}" />
					</f:facet>
					<ice:outputText value="#{recipient.contactResult}" />
				</ice:column>
			</ice:dataTable>
			<ice:panelGroup>
				<ice:dataPaginator for="recipients" rendered="true"
								   rowsCountVar="rowsCount"
								   displayedRowsCountVar="displayedRowsCountVar"
								   firstRowIndexVar="firstRowIndex"
								   lastRowIndexVar="lastRowIndex"
								   pageCountVar="pageCount" pageIndexVar="pageIndex">
					<ice:outputFormat value="#{msg['alerts.tracking.recipients.paginator.info']}"
									  styleClass="standard">
						<f:param value="#{rowsCount}" />
						<f:param value="#{displayedRowsCountVar}" />
						<f:param value="#{firstRowIndex}" />
						<f:param value="#{lastRowIndex}" />
						<f:param value="#{pageIndex}" />
						<f:param value="#{pageCount}" />
					</ice:outputFormat>
				</ice:dataPaginator>
				<ice:dataPaginator for="recipients" fastStep="3"
								   pageCountVar="pageCount" pageIndexVar="pageIndex"
								   paginator="true" paginatorMaxPages="4">
					<f:facet name="first">
						<ice:graphicImage id="firstpage_1"
							url="#{msg['icefaces.paginator.first.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="last">
						<ice:graphicImage id="lastpage_1"
							url="#{msg['icefaces.paginator.last.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="previous">
						<ice:graphicImage id="previouspage_1"
							url="#{msg['icefaces.paginator.previous.button.image']}"
							style="border:none;"
							title="#{msg['page.dataScrolling.previouspage']}" />
					</f:facet>
					<f:facet name="next">
						<ice:graphicImage id="nextpage_1"
							url="#{msg['icefaces.paginator.next.button.image']}"
							style="border:none;" />
					</f:facet>
				</ice:dataPaginator>
			</ice:panelGroup>
		</ice:panelGrid>
	</ice:panelCollapsible>
</ui:component>