<ui:component xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets">
	<ice:panelGroup width="100%">
				
		<h2><ice:outputText value="#{msgs['registration.request.title']}"/></h2>		

		<p>
			<b><ice:outputText value="#{msgs['registration.request.legend']}"/></b><br/>
			<ice:outputText value="#{msgs['registration.request.legend2']}"/>
			<ice:outputText value="#{msgs['registration.request.legend2.1']}" style="color:red; font-weight:bold;"/>
			<ice:outputText value="#{msgs['registration.request.legend2.2']}"/> 
		</p>		
		
		<ice:panelCollapsible id="formPanel1" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader" value="#{msgs['registration.request.form.title1']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup >
                <ice:panelGrid columns="3">
	                
                    <!-- First Name-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formFirstName"
                                     value="#{msgs['registration.request.form.field.firstname']}"/>
					</ice:panelGroup>
					<!--ice:panelGroup-->                                     
	                    <ice:inputText id="formFirstName"
	                    			   label="#{msgs['registration.request.form.field.firstname']}"
	                                   value="#{registrationBean.firstName}"
	                                   required="true"
	                                   partialSubmit="true"
	                                   maxlength="20" />
                    	<ice:message for="formFirstName"/> 
					<!-- /ice:panelGroup-->
					
                    <!-- Last Name-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formLastName"
                                     value="#{msgs['registration.request.form.field.lastname']}"/>
                    </ice:panelGroup>
                    <!--ice:panelGroup-->
	                    <ice:inputText id="formLastName" 
	                    		label="#{msgs['registration.request.form.field.lastname']}"
	                    		value="#{registrationBean.lastName}"                    		
	                            required="true"
	                            partialSubmit="true"
	                            maxlength="20" />
	                	<ice:message for="formLastName"/>           
	               	<!-- ice:panelGroup-->
                    
                    <!-- Middle Name-->
                    <ice:outputLabel for="formMiddleName"
                                     value="#{msgs['registration.request.form.field.middlename']}"/>
                    <ice:inputText id="formMiddleName" value="#{registrationBean.middleName}" maxlength="10" />      
                    <ice:message for="formMiddleName"/>  
                                       
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
		<ice:panelCollapsible id="formPanel2" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader2" value="#{msgs['registration.request.form.title2']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup>
                <ice:panelGrid columns="3">
                    <!-- Organization Type -->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
	                    <ice:outputLabel for="SlctOrgTyp"
	                                     value="#{msgs['registration.request.form.field.organizationtype']}"/>
                    </ice:panelGroup>
                    <ice:selectOneMenu id="SlctOrgTyp"
                    		label="#{msgs['registration.request.form.field.organizationtype']}"
	                        valueChangeListener="#{registrationBean.orgTypeChanged}"
	                        value="#{registrationBean.organizationType}"
	                        required="true"
	                        partialSubmit="true"
	                        binding="#{registrationBean.organizationTypeComp}">
	                    <f:selectItems id="SlctOrgTypeItms"
	                                   value="#{registrationBean.organizationTypes}"/>
	                </ice:selectOneMenu>                    
					<ice:message for="SlctOrgTyp"/>
                  
                  	<!-- Organization -->
                  	<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="SlctOrg"
                                     value="#{msgs['registration.request.form.field.organization']}"/>
                    </ice:panelGroup>
                    <ice:selectOneMenu id="SlctOrg"
                    		label="#{msgs['registration.request.form.field.organization']}"
	                        value="#{registrationBean.organization}"
	                        valueChangeListener="#{registrationBean.organizationChanged}"
	                        required="true"
	                        partialSubmit="true">
	                    <f:selectItems id="SlctOrgItms"
	                                   value="#{registrationBean.organizations}"/>
	                </ice:selectOneMenu>           
                    <ice:message for="SlctOrg"/>
                                   
					<!-- Organization Name -->
                    <!--ice:outputLabel for="formOrgName"
                                     value="#{msgs['registration.request.form.field.organizationname']}"/>
                    <ice:inputText id="formOrgName"
                    			   label="#{msgs['registration.request.form.field.organizationname']}"
                                   value="#{registrationBean.organizationName}"
                                   disabled="#{!registrationBean.otherOrganization}"/>
                    <ice:message for="formOrgName"/-->
                                   
                    <!-- Organization Description -->
                    <!-- ice:outputLabel for="formOrgDesc"
                                     value="#{msgs['registration.request.form.field.organizationdesc']}"/>
                    <ice:inputText id="formOrgDesc"
                                   value="#{registrationBean.organizationDesc}"
                                   disabled="#{!registrationBean.otherOrganization}"/>                                   
					<ice:message for="formOrgDesc"/-->
					
					<!-- Title -->
					<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formTitle"
                                     value="#{msgs['registration.request.form.field.title']}"/>
                    </ice:panelGroup>
                    <!--ice:panelGroup-->
                    	<ice:inputText id="formTitle"
                    				   label="#{msgs['registration.request.form.field.title']}"
                            	       value="#{registrationBean.title}"
                                	   required="true"
                                	   partialSubmit="true"
                                	   maxlength="100" />
                    	<ice:message for="formTitle"/>    
                    <!--/ice:panelGroup-->
					
					
					<!-- Department -->
					<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formDept"
                                     value="#{msgs['registration.request.form.field.department']}"/>
                    </ice:panelGroup>
                    <!--ice:panelGroup-->
	                    <ice:inputText id="formDept"
	                    			   label="#{msgs['registration.request.form.field.department']}"	
	                                   value="#{registrationBean.department}"
	                                   required="true"
	                                   partialSubmit="true"
	                                   maxlength="50" />          	
	                    <ice:message for="formDept"/>                             
                    <!--/ice:panelGroup-->               
                                   
                    <!-- AreaField -->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="SlctAreaField"
                                     value="#{msgs['registration.request.form.field.areafield']}"/>
                    </ice:panelGroup>
                    <ice:selectOneMenu id="SlctAreaField"
                    		label="#{msgs['registration.request.form.field.areafield']}"
	                        value="#{registrationBean.areaField}"
	                        required="true">
	                    <f:selectItems id="SlctAreaFieldItms"
	                                   value="#{registrationBean.areaFields}"/>
	                </ice:selectOneMenu>    
                    <ice:message for="SlctAreaField"/>
                                   
					<!-- Role -->
					<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="SlctRole"
                                     value="#{msgs['registration.request.form.field.role']}"/>
                    </ice:panelGroup>
                    <ice:selectOneMenu id="SlctRole"
                    		label="#{msgs['registration.request.form.field.role']}"
	                        value="#{registrationBean.role}"
	                        required="true">
	                    <f:selectItems id="SlctRolesItms"
	                                   value="#{registrationBean.roles}"/>
	                </ice:selectOneMenu>    
                    <ice:message for="SlctRole"/>
                                   
                                   
					<!-- Telephone -->
					<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formPhone"
                                     value="#{msgs['registration.request.form.field.telephone']}"/>
                    </ice:panelGroup>
                    <ice:panelGroup>
	                    <ice:inputText id="formPhone"
	                    			   label="#{msgs['registration.request.form.field.telephone']}"
	                                   value="#{registrationBean.telephone}"
	                                   partialSubmit="true"
	                                   required="true"
	                                   maxlength="12">
	                    	<f:validator validatorId="phoneNumberValidator"/>                    	               
	                    </ice:inputText>
	                    <ice:inputText id="formPhoneExt"
	                    			   label="#{msgs['registration.request.form.field.telephone']}"
	                                   value="#{registrationBean.telephoneExt}"
	                                   partialSubmit="true"
	                                   required="false"
	                                   size="5"
	                                   maxlength="8">
	                    	<f:validateLongRange maximum="99999999" minimum="0"/>	                    	
	                    </ice:inputText>
	                </ice:panelGroup>
	                <ice:panelGroup>
	                	<ice:message for="formPhone"/>
	                	<ice:message for="formPhoneExt"/>
	               	</ice:panelGroup> 
	               	
	               	 <!-- Email -->
					<ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formEmail"
                                     value="#{msgs['registration.request.form.field.email']}"/>
                    </ice:panelGroup>
                    <ice:inputText id="formEmail"
                    			   label="#{msgs['registration.request.form.field.email']}"
                                   value="#{registrationBean.email}"
                                   partialSubmit="true"
                                   required="true"
                                   valueChangeListener="#{registrationBean.emailValueChangeListener}"
                                   binding="#{registrationBean.emailComp}"
                                   maxlength="50">
                     	<f:validator validatorId="emailValidator"/>              
                     </ice:inputText>          	
                     <ice:panelGroup>
                    	<ice:outputText  
                    		value="#{registrationBean.emailCheckMessage}" 
                    		style="#{registrationBean.emailCheckStyle}"/>
                   		<ice:message for="formEmail"/>   
                   	</ice:panelGroup>
                    
                        
                    <!-- Email 2-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formUserName"
                                     value="#{msgs['registration.request.form.field.email2']}"/>
                    </ice:panelGroup>
                   	<ice:inputText id="formEmail2" 
                   		label="#{msgs['registration.request.form.field.email2']}"
                   		value="#{registrationBean.email2}"
                   		required="true"
                   		valueChangeListener="#{registrationBean.emailConfirmationValueChangeListener}"
                   		partialSubmit="true"
                        binding="#{registrationBean.emailComp2}"
                        maxlength="50"/>  
                   	<ice:panelGroup>
                   		<ice:message for="formEmail2"/>   
                   	</ice:panelGroup>               
                   	    					                  	
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        <ice:panelCollapsible id="formPanel3" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader3" value="#{msgs['registration.request.form.title3']}"/>
                </ice:panelGroup>
            </f:facet>      
            <ice:panelGroup >
                <ice:panelGrid columns="3">
                    <!-- Purpose-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formPurpose"
                                     value="#{msgs['registration.request.form.field.purpose']}"/>
                    </ice:panelGroup>
                    <ice:inputText id="formPurpose"
                    			   label="#{msgs['registration.request.form.field.purpose']}"
                                   value="#{registrationBean.purpose}"
                                   required="true"
                                   partialSubmit="true"
                                   maxlength="255"/>
					<ice:message for="formPurpose"/>
					
                    <!-- Referral Name-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formReferralName"
                                     value="#{msgs['registration.request.form.field.referralname']}"/>
                    </ice:panelGroup>
                    <ice:inputText id="formReferralName" 
                    	value="#{registrationBean.referralName}"
                    	label="#{msgs['registration.request.form.field.referralname']}"
                    	required="true"
                    	partialSubmit="true"
                    	maxlength="255" />
                    <ice:message for="formReferralName"/>
                    
                    <!-- Referral Title-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formReferralTitle"
                                     value="#{msgs['registration.request.form.field.referraltitle']}"/>
					</ice:panelGroup>
					<!--ice:panelGroup-->                                     
	                   <ice:inputText id="formReferralTitle" 
	                   	value="#{registrationBean.referralTitle}"
	                   	label="#{msgs['registration.request.form.field.referraltitle']}"
	                   	required="true"
	                   	partialSubmit="true"
	                   	maxlength="255" />
	                    <ice:message for="formReferralTitle"/>
                    <!--/ice:panelGroup-->                    
                    
                    <!-- Referral Phone-->
                    <ice:panelGroup>
	                    <ice:outputText value="*" style="color:red; font-weight:bold;"/>
                    	<ice:outputLabel for="formReferralTelephone"
                                     value="#{msgs['registration.request.form.field.referraltelephone']}"/>
                    </ice:panelGroup>
                    <ice:panelGroup>
	                    <ice:inputText id="formReferralTelephone" 
	                    	value="#{registrationBean.referralTelephone}"
	                    	label="#{msgs['registration.request.form.field.referraltelephone']}"
	                    	required="true"
	                    	partialSubmit="true">
	                    	<f:validator validatorId="phoneNumberValidator"/>
	                    </ice:inputText>
	                    <ice:inputText id="formReferralTelephoneExt"
	                    			   label="#{msgs['registration.request.form.field.referraltelephone']}"
	                                   value="#{registrationBean.referralTelephoneExt}"
	                                   partialSubmit="true"
	                                   required="false"
	                                   size="5"
	                                   maxlength="8">
	                    	<f:validateLongRange maximum="99999999" minimum="0"/>	                    	
	                    </ice:inputText>
                	</ice:panelGroup>
                	<ice:panelGroup>
		                <ice:message for="formReferralTelephone"/>
		                <ice:message for="formReferralTelephoneExt"/>
	                </ice:panelGroup>
                   
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        
        <!-- Modal Panel Popup -->
		<ice:panelPopup draggable="false" modal="true"
		                visible="#{registrationBean.popUpRendered}"
		                autoCentre="true"
		                styleClass="corePopup" style="height: 175px;">
		    <f:facet name="header">
		        <ice:panelGroup styleClass="popupHeaderWrapper">
		            <ice:outputText
		                    value="#{msgs['registration.request.form.popup.title']}"
		                    styleClass="popupHeaderText"/>
		            <ice:commandButton type="button"
		                               image="#{msgs['page.panelPopup.closeImage']}"
		                               actionListener="#{registrationBean.togglePopUp}"
		                               styleClass="popupHeaderImage"
		                               title="#{msgs['registration.request.form.popup.close.caption']}" 
		                               alt="#{msgs['registration.request.form.popup.close.alt']}"
		                               immediate="true"
		                               partialSubmit="true"/>
		        </ice:panelGroup>
		    </f:facet>
		    <f:facet name="body">
		        <ice:panelGroup>
		        	<ice:outputText value="#{msgs['registration.request.form.popup.body']}"/>
			        <ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft" width="100%">
			            <!-- Organization Name -->
	                    <ice:outputLabel for="formOrgName"
	                                     value="#{msgs['registration.request.form.field.organizationname']}"/>
	                    <ice:panelGroup>
		                    <ice:inputText id="formOrgName"
		                    			   label="#{msgs['registration.request.form.field.organizationname']}"
		                                   value="#{registrationBean.organizationName}"/>
		                    <ice:message for="formOrgName"/>
		               	</ice:panelGroup>
	                                   
	                    <!-- Organization Description -->
	                    <ice:outputLabel for="formOrgDesc"
	                                     value="#{msgs['registration.request.form.field.organizationdesc']}"/>
	                    <ice:panelGroup>
		                    <ice:inputText id="formOrgDesc"
		                                   value="#{registrationBean.organizationDesc}"/>                                   
							<ice:message for="formOrgDesc"/>
						</ice:panelGroup>						
			        </ice:panelGrid>
			        <ice:panelGrid columns="21" columnClasses="hanDatatableElement" width="100%">
			        	<!-- Buttons -->
			        	<ice:panelGroup>
							<ice:commandButton type="submit"
				                               value="#{msgs['registration.request.form.popup.ok.button']}"
				                               actionListener="#{registrationBean.togglePopUp}"
				                               immediate="true"
				                               partialSubmit="true"/>
				            <ice:commandButton type="submit"
				                               value="#{msgs['registration.request.form.popup.cancel.button']}"
				                               actionListener="#{registrationBean.togglePopUp}"
				                               immediate="true"
				                               partialSubmit="true"/>
                    	</ice:panelGroup>
			        </ice:panelGrid>
		        </ice:panelGroup>
		    </f:facet>
		</ice:panelPopup>
        
        <!-- Buttons -->
        <ice:commandButton id="CancelBtn"
               value="#{msgs['registration.request.form.button.cancel']}"
               action="#{registrationBean.formCancelButtonAction}"
               immediate="true"/>
        <ice:commandButton id="SubmitBtn"
               value="#{msgs['registration.request.form.button.continue']}"
               action="#{registrationBean.formSubmitButtonAction}"/>       
	</ice:panelGroup>
</ui:component>