
<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ui:composition>
		<!-- DataTable with 5 rows per page -->
		<ice:dataTable id="data" var="member" value="#{groupBean.members}"
			rows="5" scrollable="false" scrollHeight="250px" style="float:left"
			columnWidths="75px,200px"
			styleClass="dataPaginatorDataTable" cellpadding="0">
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column1" value="ID" />
				</f:facet>
				<ice:outputText id="number" value="#{member.id}" />
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column2" value="Name" />
				</f:facet>
				<ice:outputText id="firstName" value="#{member.name}" />
			</ice:column>

			<!--ice:column>
					<f:facet name="header">
						<ice:outputText id="column3"
							value="#{msgs['page.dataTable.column3']}" />
					</f:facet>
					<ice:outputText id="lastName" value="#{employee.lastName}" />
				</ice:column>

				<ice:column>
					<f:facet name="header">
						<ice:outputText id="column4"
							value="#{msgs['page.dataTable.column4']}" />
					</f:facet>
					<ice:outputText id="phoneNo" value="#{employee.phone}" />
				</ice:column-->
		</ice:dataTable>
	</ui:composition>
</f:view>
