<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:ui="http://java.sun.com/jsf/facelets" 
			  	xmlns:h="http://java.sun.com/jsf/html" 
			  	xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:ice="http://www.icesoft.com/icefaces/component"
			  	draggable="false" modal="true" rendered="#{messageBean.deleteVisible}"
				visible="#{messageBean.deleteVisible}"
				autoCentre="true" positionOnLoadOnly="true" styleClass="corePopup hanInboxPopup">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['email.inbox.folder.delete.confirmation']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{messageBean.toggleDeleteMessages}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    	<ice:panelGrid columns="1">
	    	<ice:outputText value="#{msg['email.inbox.folder.delete.confirmation.message']}" />
    	</ice:panelGrid>
    		<br />
    		<ice:commandButton value="#{msg['email.inbox.yes.label']}"
    						   actionListener="#{messageBean.deleteMessages}"
    						   action="#{folderBean.reload}" />
    		<ice:commandButton value="#{msg['email.inbox.no.label']}"
    						   actionListener="#{messageBean.toggleDeleteMessages}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>