<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup>
		<ice:outputFormat value="#{msg['email.inbox.compose.attachments.max.size']}" />
		<br />
		<ice:outputFormat value="#{msg['email.inbox.compose.attachments.limit']}">
			<f:param value="#{composeMessageBean.maxAttachments}" />
		</ice:outputFormat>
		<ice:panelGroup styleClass="attachmentContainer">
			<ice:inputFile id="attachmentName" progressListener="#{composeMessageBean.fileUploadProgress}"
						   actionListener="#{composeMessageBean.uploadFile}" />
			<ice:outputProgress value="#{composeMessageBean.uploadProgress}"
								styleClass="uploadProgressBar" />
			<br />
			<ice:panelGroup styleClass="#{composeMessageBean.uploadMsgStyle}"
							rendered="#{composeMessageBean.uploadMessage != null and composeMessageBean.uploadMessage != ''}">
				<ice:outputText value="#{composeMessageBean.uploadMessage}" />
			</ice:panelGroup>
		</ice:panelGroup>
		<ice:panelGroup styleClass="exampleBox firstChildTitle inputFileContainer">
			<ice:outputText value="#{msg['email.inbox.compose.uploaded.attachments']}" />
			<ice:dataTable width="450px" value="#{composeMessageBean.attachments}" var="file"
					columnClasses="hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElement">
				<ice:column>
					<f:facet name="header">
						<ice:outputLabel value="#{msg['email.inbox.compose.uploaded.name']}" />
					</f:facet>
					<ice:outputText value="#{file.fileInfo.fileName}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputLabel value="#{msg['email.inbox.compose.uploaded.size']}" />
					</f:facet>
					<ice:outputText value="#{file.formattedSize}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['email.inbox.compose.uploaded.content.type']}" />
					</f:facet>
					<ice:outputText value="#{file.fileInfo.contentType}" />
				</ice:column>
				<ice:column rendered="#{not composeAlertBean.notEditable}">
					<f:facet name="header">
						<ice:outputText value="#{msg['email.inbox.compose.uploaded.remove']}" />
					</f:facet>
					<ice:commandLink value="#{msg['email.inbox.compose.uploaded.remove']}"
									 actionListener="#{composeMessageBean.removeFile}">
						<f:param name="fileName" value="#{file.fileInfo.fileName}" />
					</ice:commandLink>
				</ice:column>
			</ice:dataTable>
		</ice:panelGroup>
	</ice:panelGroup>
</ui:component>