<ui:component xmlns="http://www.w3.org/1999/xhtml"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<br />
	<ice:panelGrid columns="1" style="width: 100%; background-color: #ffffff;"
				   styleColumns="hanDatatableElementLeft"
				   rendered="#{composeMessageBean.editorVisible and not messageBean.showMessage}">
	<ice:panelGroup>
		<p>
		<ice:commandButton value="#{msg['email.inbox.compose.send']}"
						   actionListener="#{composeMessageBean.sendMessage}"
						   action="#{folderBean.reload}">
			<f:actionListener binding="#{messageBean}" type="org.cdph.han.email.beans.MessageBean" />
		</ice:commandButton>
		<ice:commandButton value="#{msg['email.inbox.compose.save']}"
						   actionListener="#{composeMessageBean.saveDraft}"
						   action="#{folderBean.reload}">
			<f:actionListener binding="#{messageBean}" type="org.cdph.han.email.beans.MessageBean" />
		</ice:commandButton>
		<ice:commandButton value="#{msg['email.inbox.compose.cancel']}"
						   actionListener="#{composeMessageBean.toggleCancel}" />
		</p>
	</ice:panelGroup>
	<br />
	<ice:panelGrid columns="2" style="width: 100%; background-color: #dcdcdc; border: 1px solid white;"
				   columnWidths="30px,580px" width="100%" columnClasses="hanInboxRecipientLabel,hanInboxRecipients">
		<ice:commandLink actionListener="#{composeMessageBean.closePanels}"
						 action="#{composeMessageBean.toggleTo}"
						 value="#{msg['email.inbox.compose.to.label']}"
						 style="font-weight: bold; padding: 5px; color: #0000ff; text-decoration: underline;">
			<f:setPropertyActionListener value="#{composeMessageBean.to}"
										 target="#{groupManagementBean.recipients}" />
		</ice:commandLink>
		<ice:outputText value="#{composeMessageBean.formattedTo}" style="font-weight: normal; padding: 5px;" />
	</ice:panelGrid>
	<ice:panelGrid columns="1" rendered="#{composeMessageBean.toExpanded}">
		<ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.title']}" style="font-weight: bold;" />
		<ul>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.1']}" escape="false" /></li>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.2']}" escape="false" /></li>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.3']}" escape="false" /></li>
		</ul>
		<ice:panelDivider dividerPosition="59" orientation="vertical" style="width: 100%; height: 300px;">
			<f:facet name="first">
				<ui:include src="foundUsers.xhtml" />
			</f:facet>
			<f:facet name="second">
				<ui:include src="recipientsTo.xhtml" />
			</f:facet>
		</ice:panelDivider>
		<ui:include src="../groupManagement/criteria.xhtml" />
		<ui:include src="../groupManagement/individualSearch.xhtml" />
	</ice:panelGrid>
	<ice:panelGrid columns="2" style="width: 100%; background-color: #dcdcdc; border: 1px solid white;"
				   columnWidths="30px,580px" width="100%" columnClasses="hanInboxRecipientLabel,hanInboxRecipients">
		<ice:commandLink actionListener="#{composeMessageBean.closePanels}"
						 action="#{composeMessageBean.toggleCC}"
						 value="#{msg['email.inbox.compose.cc.label']}"
						 style="font-weight: bold; padding: 5px; color: #0000ff; text-decoration: underline;">
			<f:setPropertyActionListener value="#{composeMessageBean.cc}"
										 target="#{groupManagementBean.recipients}" />
		</ice:commandLink>
		<ice:outputText value="#{composeMessageBean.formattedCc}" style="font-weight: normal; padding: 5px;" />
	</ice:panelGrid>
	<ice:panelGrid columns="1" rendered="#{composeMessageBean.ccExpanded}">
		<ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.title']}" style="font-weight: bold;" />
		<ul>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.1']}" escape="false" /></li>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.2']}" escape="false" /></li>
			<li><ice:outputText value="#{msg['email.inbox.compose.recipients.instructions.3']}" escape="false" /></li>
		</ul>
		<ice:panelDivider dividerPosition="59" orientation="vertical" style="width: 100%; height: 300px;">
			<f:facet name="first">
				<ui:include src="foundUsers.xhtml" />
			</f:facet>
			<f:facet name="second">
				<ui:include src="recipientsCc.xhtml" />
			</f:facet>
		</ice:panelDivider>
		<ui:include src="../groupManagement/criteria.xhtml" />
		<ui:include src="../groupManagement/individualSearch.xhtml" />
	</ice:panelGrid>
	<ice:outputText value=" "  style="height: 3px;" />
	<ice:panelGrid columns="2">
		<ice:outputLabel value="#{msg['email.inbox.compose.subject']}" />
		<ice:inputText value="#{composeMessageBean.subject}" size="96" maxlength="140" />
		<ice:outputLabel value="#{msg['email.inbox.compose.save.sent']}" />
		<ice:selectBooleanCheckbox value="#{composeMessageBean.saveSent}" />
	</ice:panelGrid>
	<br />
	<ice:panelGroup>
		<ice:inputRichText id="iceInpRchTxt"
						   height="300"
						   style="width:100%"
						   toolbar="HANBasic"
						   customConfigPath="/js/custom_toolbar.js"
						   language="en"
						   skin="silver"
						   value="#{composeMessageBean.content}"
						   saveOnSubmit="true" />
	</ice:panelGroup>
	<ui:include src="mailAttachments.xhtml" />
	<br />
	<ice:panelGroup>
		<p>
		<ice:commandButton value="#{msg['email.inbox.compose.send']}"
						   actionListener="#{composeMessageBean.sendMessage}"
						   action="#{folderBean.reload}">
			<f:actionListener binding="#{messageBean}" type="org.cdph.han.email.beans.MessageBean" />
		</ice:commandButton>
		<ice:commandButton value="#{msg['email.inbox.compose.save']}"
						   actionListener="#{composeMessageBean.saveDraft}"
						   action="#{folderBean.reload}">
			<f:actionListener binding="#{messageBean}" type="org.cdph.han.email.beans.MessageBean"/>
		</ice:commandButton>
		<ice:commandButton value="#{msg['email.inbox.compose.cancel']}"
						   actionListener="#{composeMessageBean.toggleCancel}" />
		</p>
	</ice:panelGroup>
	</ice:panelGrid>
	<ui:include src="cancelMessagePopup.xhtml" />
</ui:component>