<f:view xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ice="http://www.icesoft.com/icefaces/component">
    <f:loadBundle basename="messages" var="msg"/>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:graphicImage value="/images/#{environmentBean.imageName}" />
	</ice:portlet>
</f:view>