@CHARSET "UTF-8";

.hanIceOutConStat {
    margin-left:70%;
    width: 25px;
    height: 25px;
    border: none;
    font-size: .5em;
}

.hanDatatableElement {
	text-align: center; 
	white-space: nowrap;
	padding: 5px;
}

.innerBox {
    margin: 15px 15px 0 0;
    padding: 15px;
    background: #FFF;
    border: 1px solid #d9d9d9;
    display: block;
    float:left;
}

.left_menu {
	vertical-align: top;
}

.right_data {
	vertical-align: top;
	text-align: right;
	align: right;
}

.alert_link {
	color: blue;
}

.positionPanelContainerContacts {
    /*border: 1px solid #d9d9d9;    */
}

.positionPanelContainerContacts div.containerContacts{
    background: #FFF url( '../xmlhttp/rime/css-images/PnlHdr_bgslice.gif' ) repeat-x top left;
    color: #484848;
    padding-left: 5px;
    font-weight: normal;
    width: 175px;
    border: 1px solid #d9d9d9;
}

.positionPanelContainerContacts div.moveLabelContacts{
    background: url( '../images/move_arrows.gif' ) no-repeat center left;
    padding: 6px 0 0 25px;
    height: 20px;
}

/* Override for the panel divider */

.panelDivider, .panelDividerHor {
    width: 500px;
    height: 250px;
}

.panelDividerCnt, .panelDividerHorCnt {
    border: 1px solid #ABABAB;
    height: 100%;

}

.panelDividerFst, .panelDividerSnd {
    height: 100%;
    display: block;
    float: left;
    overflow: auto;
}

.panelDividerSpt {
    width: 2px;
    height: 100%;
    display: inline;
    background-color: #EFEFEF;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    float: left;
    cursor: e-resize;
}

.panelDividerHorFst, .panelDividerHorSnd {
    width: 100%;
    display: block;
    overflow: auto;
    display: block;
}

.panelDividerHorSpt {
    width: 100%;
    height: 2px;
    background-color: #EFEFEF;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    cursor: n-resize;
}

.graphicBar-2 {
	background-color: red;
	height: 10px;
}

.graphicBar-1 {
	background-color: purple;
	height: 10px;
}

.graphicBar0 {
	background-color: green;
	height: 10px;
}

.graphicBar1 {
	background-color: aqua;
	height: 10px;
}

.graphicBar2 {
	background-color: blue;
	height: 10px;
}

.graphicBar3 {
	background-color: maroon;
	height: 10px;
}

.graphicBar4 {
	background-color: navy;
	height: 10px;
}

.graphicBar5 {
	background-color: olive;
	height: 10px;
}

.graphicBar6 {
	background-color: teal;
	height: 10px;
}

.graphicBar7 {
	background-color: aqua;
	height: 10px;
}

.graphicBar8 {
	background-color: blue;
	height: 10px;
}

.graphicBar9 {
	background-color: lime;
	height: 10px;
}

/*
----------- Panel Collapsible --------
*/

.hanPnlClpsbl {
    border: 1px solid #d9d9d9;
}

.hanPnlClpsblCnt .hanPnlClpsbl {
    border: none;
}

.hanPnlClpsblHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 6px 0 0 8px;
    font-weight: bold;
    height: 20px;
    background: #FFF url(css-images/PnlHdr_bgslice.gif) repeat-x top left;
    border-bottom: 1px solid #d9d9d9;
}

.hanPnlClpsblHdr .iceCmdLnk, .hanPnlClpsblColpsdHdr .iceCmdLnk {
    padding-left: 22px;
}

.hanPnlClpsblHdr .icePnlGrp a {
	font-weight: bold;
}

.hanPnlClpsblCnt {
    font: 11px / 17px tahoma;
    color: #494949;
    background: #ffffff;
    padding: 4px 4px 4px 9px;
    border-bottom: none;
}

.hanPnlClpsblCnt .hanPnlClpsblHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 0 0 0 0;
    font-weight: bold;
    height: 20px;
    border: none;
    margin-top: 8px;
}

.hanPnlClpsblCnt .hanPnlClpsblHdr .iceOutTxt {
    background: none;
}

.hanPnlClpsblCnt .hanPnlClpsblColpsdHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 0 0 0 0;
    font-weight: bold;
    height: 20px;
    border: none;
    margin-top: 8px;
}

.hanPnlClpsblCnt .hanPnlClpsblColpsdHdr .iceOutTxt{
    background: none;
}

.hanPnlClpsblCnt .hanPnlClpsblCnt {
    border-left: none;
    border-right: none;
    padding: 0 0 0 10px;
}

.hanPnlClpsblColpsd {
    border: 1px solid #d9d9d9;
}

.hanPnlClpsblCnt .hanPnlClpsblColpsd {
    border: none;
}

.hanPnlClpsblColpsdHdr {
    font: 11px tahoma;
    color: #484848;
    padding: 6px 0 0 8px;
    font-weight: bold;
    height: 20px;
    background: #FFF url(css-images/PnlHdr_bgslice.gif) repeat-x top left;
    border-bottom: none;
}

.hanPnlClpsblColpsdHdr .iceOutTxt,
    .hanPnlClpsblHdr .iceOutTxt {
    padding-left: 22px;
}

.hanPnlClpsblColpsdCnt {
    border: none;
}

.hanPnlClpsblHdr, .hanPnlClpsblHdr-dis, .hanPnlClpsblColpsdHdr, .hanPnlClpsblColpsdHdr-dis {
    cursor: pointer;
}

.hanPnlClpsblHdr div, .hanPnlClpsblHdr-dis div, .hanPnlClpsblColpsdHdr div, .hanPnlClpsblColpsdHdr-dis div {
    background-repeat: no-repeat;
    background-position: left top;
    height: 18px;
}

.hanPnlClpsblHdr div, .hanPnlClpsblHdr-dis div {
    background: url(css-images/PnlHdr_down.gif) no-repeat top left;
    padding: 2px 0 0 5px;
    margin: -2px 0 0 -3px;
}

.hanPnlClpsblColpsdHdr div, .hanPnlClpsblColpsdHdr-dis div {
    background: url(css-images/PnlHdr_collapsed.gif) no-repeat top left;
    padding: 2px 0 0 5px;
    margin: -2px 0 0 -3px;
}

.hanInboxRecipientLabel {
	width: 30px;
	font-weight: bold;
	padding: 5px;
	color: #0000ff;
	text-decoration: underline;
}

.hanInboxRecipients {
	width: 580px;
	font-weight: normal;
	padding: 5px;
	text-decoration: none;
}

.hanInboxFolder {
	width: 230px;
	margin: 0px 0px 0px 0px;
	vertical-align: top;
}

.hanInboxMessages {
	width: auto;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: auto;
	margin-bottom: auto;
	vertical-align: top;
}

.hanInboxPopup {
	width: 350px;
}
