<ice:panelCollapsible xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  id="responseOptionsPanel" expanded="true">
	<f:facet name="header">
		<ice:panelGroup>
			<ice:outputText id="responseOptionsPanelHeader"
							value="#{msg['alerts.compose.notification.response.options.title']}" />
		</ice:panelGroup>
	</f:facet>
	<ice:dataTable id="responseOptions" var="option" value="#{composeAlertBean.responseOptions}"
				   binding="#{composeAlertBean.optionsDataTable}" scrollable="true"
				   columnWidths="300px,100px,100px"
				   headerClasses="hanDatatableElement"
				   columnClasses="hanDatatableElement">
		<ice:column>
			<f:facet name="header">
				<ice:outputText value="#{msg['alerts.compose.notification.response.options.title']}" />
			</f:facet>
			<ice:panelGrid columns="1">
				<ice:inputText value="#{option.optionText}" size="50" maxlength="100"/>
				<ice:panelGrid columns="2" rendered="#{option.action eq 1}">
					<ice:outputLabel value="#{msg['alerts.compose.options.callbridge']}"
									 rendered="#{option.action eq 1}" />
					<ice:inputText value="#{option.callBridge}" size="20" maxlength="40"
								   rendered="#{option.action eq 1}" />
				</ice:panelGrid>
			</ice:panelGrid>
		</ice:column>
		<ice:column>
			<f:facet name="header">
				<ice:outputText value="#{msg['alerts.compose.notification.response.options.action']}" />
			</f:facet>
			<ice:selectOneMenu value="#{option.action}" partialSubmit="true">
				<f:selectItem itemValue="0" itemLabel="#{msg['alerts.compose.notification.response.options.action.off']}" />
				<f:selectItem itemValue="1" itemLabel="#{msg['alerts.compose.notification.response.options.action.call.bridge']}" />
				<!-- <f:selectItem itemValue="2" itemLabel="#{msg['alerts.compose.notification.response.options.action.follow.up']}" /> -->
			</ice:selectOneMenu>
		</ice:column>
		<ice:column rendered="#{not composeAlertBean.notEditable}">
			<f:facet name="header">
				<ice:outputText value="#{msg['alerts.compose.notification.response.options.remove']}" />
			</f:facet>
			<ice:commandLink value="#{msg['alerts.compose.notification.response.options.remove']}"
							 actionListener="#{composeAlertBean.removeOption}" />
		</ice:column>
	</ice:dataTable>
	<ice:commandButton value="#{msg['alerts.compose.notification.response.options.add']}"
					   actionListener="#{composeAlertBean.addNewOption}"
					   rendered="#{not composeAlertBean.notEditable}" />
</ice:panelCollapsible>