<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup style="position: relative;">
		<ice:panelGroup styleClass="exampleBox" style="width: 100%;">
			<ice:outputText value="#{msg['alerts.search.draft.title']}" style="font-weight: bold" />
			<br />
			<ice:dataTable id="drafts" var="draft" value="#{alertBrowseBean.foundAlerts}"
						   rows="#{msg['alerts.search.rows']}" scrollable="false" cellpadding="0"
						   columnWidths="160px,80px,100px,350px,160px"
						   columnClasses="hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElementLeft,hanDatatableElement"
						   width="100%">
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.search.draft.last.modified.date.title']}" />
					</f:facet>
					<ice:commandLink action="#{composeAlertBean.loadAlert}">
						<ice:outputText value="#{draft.lastModifiedDate}" styleClass="alert_link">
							<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
											   timeZone="#{msg['han.time.zone']}" />
						</ice:outputText>
						<f:param name="alertId" value="#{draft.alertId}" />
					</ice:commandLink>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.search.draft.alert.id.title']}" />
					</f:facet>
					<ice:outputText value="#{draft.alertId}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.search.draft.topic.title']}" />
					</f:facet>
					<ice:outputText value="#{draft.topic}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.search.draft.alert.title.title']}" />
					</f:facet>
					<ice:commandLink action="#{composeAlertBean.loadAlert}">
						<ice:outputText value="#{draft.title}" styleClass="alert_link" />
						<f:param name="alertId" value="#{draft.alertId}" />
					</ice:commandLink>
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.search.draft.creation.date']}" />
					</f:facet>
					<ice:outputText value="#{draft.creationDate}">
						<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
				</ice:column>
			</ice:dataTable>
			<ice:panelGroup style="float:left; font-weight: normal;">
				<ice:dataPaginator id="draftsScrollHeader" for="drafts" rendered="true"
								   rowsCountVar="rowsCount"
								   displayedRowsCountVar="displayedRowsCountVar"
								   firstRowIndexVar="firstRowIndex"
								   lastRowIndexVar="lastRowIndex"
								   pageCountVar="pageCount" pageIndexVar="pageIndex">
					<ice:outputFormat value="#{msg['alerts.search.draft.paginator.info']}"
									  styleClass="standard">
						<f:param value="#{rowsCount}" />
						<f:param value="#{displayedRowsCountVar}" />
						<f:param value="#{firstRowIndex}" />
						<f:param value="#{lastRowIndex}" />
						<f:param value="#{pageIndex}" />
						<f:param value="#{pageCount}" />
					</ice:outputFormat>
				</ice:dataPaginator>
				<ice:dataPaginator id="draftsScrollFooter" for="drafts" fastStep="3"
								   pageCountVar="pageCount" pageIndexVar="pageIndex"
								   paginator="true" paginatorMaxPages="4">
					<f:facet name="first">
						<ice:graphicImage id="firstpage_1"
							url="#{msg['icefaces.paginator.first.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="last">
						<ice:graphicImage id="lastpage_1"
							url="#{msg['icefaces.paginator.last.button.image']}"
							style="border:none;" />
					</f:facet>
					<f:facet name="previous">
						<ice:graphicImage id="previouspage_1"
							url="#{msg['icefaces.paginator.previous.button.image']}"
							style="border:none;"
							title="#{msg['page.dataScrolling.previouspage']}" />
					</f:facet>
					<f:facet name="next">
						<ice:graphicImage id="nextpage_1"
							url="#{msg['icefaces.paginator.next.button.image']}"
							style="border:none;" />
					</f:facet>
				</ice:dataPaginator>
			</ice:panelGroup>
		</ice:panelGroup>
	</ice:panelGroup>
</ui:component>