<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup>
		<ice:outputFormat value="#{msg['alerts.compose.notification.uploaded.attachments.max.size']}" />
		<br />
		<ice:outputFormat value="#{msg['alerts.compose.notification.uploaded.attachments.limit']}">
			<f:param value="#{composeAlertBean.maxAttachments}" />
		</ice:outputFormat>
		<ice:panelGroup styleClass="attachmentContainer" rendered="#{not composeAlertBean.notEditable}">
			<ice:inputFile id="attachmentName" progressListener="#{composeAlertBean.fileUploadProgress}"
						   actionListener="#{composeAlertBean.uploadFile}" />
			<ice:outputProgress value="#{composeAlertBean.uploadProgress}"
								styleClass="uploadProgressBar" />
			<br />
			<ice:panelGroup styleClass="#{composeAlertBean.uploadMsgStyle}"
							rendered="#{composeAlertBean.uploadMessage != null and composeAlertBean.uploadMessage != ''}">
				<ice:outputText value="#{composeAlertBean.uploadMessage}" />
			</ice:panelGroup>
		</ice:panelGroup>
		<ice:panelGroup styleClass="exampleBox firstChildTitle inputFileContainer">
			<ice:outputText value="#{msg['alerts.compose.notification.uploaded.attachments']}" />
			<ice:dataTable width="450px" value="#{composeAlertBean.attachments}" var="file"
				columnClasses="hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElement">
				<ice:column>
					<f:facet name="header">
						<ice:outputLabel value="#{msg['alerts.compose.notification.uploaded.name']}" />
					</f:facet>
					<ice:outputText value="#{file.fileInfo.fileName}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputLabel value="#{msg['alerts.compose.notification.uploaded.size']}" />
					</f:facet>
					<ice:outputText value="#{file.formattedSize}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.compose.notification.uploaded.content.type']}" />
					</f:facet>
					<ice:outputText value="#{file.fileInfo.contentType}" />
				</ice:column>
				<ice:column rendered="#{not composeAlertBean.notEditable}">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.compose.notification.uploaded.remove']}" />
					</f:facet>
					<ice:commandLink value="#{msg['alerts.compose.notification.uploaded.remove']}"
									 actionListener="#{composeAlertBean.removeFile}">
						<f:param name="fileName" value="#{file.fileInfo.fileName}" />
					</ice:commandLink>
				</ice:column>
			</ice:dataTable>
		</ice:panelGroup>
	</ice:panelGroup>
</ui:component>