<ice:panelGroup 
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  style="exampleBox">
	<ice:panelGrid columns="4"
				   columnWidths="50px,400px,50px,200px"
				   columnClasses="hanHeaderElementRight,hanHeaderElementLeft,hanHeaderElementRight,hanHeaderElementLeft"
				   width="100%">
		<ice:outputText value="#{msg['alerts.reports.initiated']}" />
		<ice:outputText value="#{alertTrackingBean.report.initiatedBy}" />
		<ice:outputText value="#{msg['alerts.reports.status']}" />
		<ice:panelGroup>
			<ice:outputText value="#{alertTrackingBean.report.status}" />
			<ice:panelGroup style="text-align: center;"
							rendered="#{alertTrackingBean.updating}">
				<ice:graphicImage  style="margin-left: auto; margin-right: auto;"
								   value="#{msg['alerts.loading.image']}" />
				<ice:outputText value="#{msg['alerts.loading.label']}" />
			</ice:panelGroup>
		</ice:panelGroup>
		<ice:outputText value="#{msg['alerts.reports.date.issued']}" />
		<ice:outputText value="#{alertTrackingBean.report.issued}">
			<f:convertDateTime pattern="MM/dd/yyyy"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.reports.time.issued']}" />
		<ice:outputText value="#{alertTrackingBean.report.issued}">
			<f:convertDateTime pattern="hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.reports.completed.date']}" />
		<ice:outputText value="#{alertTrackingBean.report.completed}">
			<f:convertDateTime pattern="MM/dd/yyyy"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.reports.completed.time']}" />
		<ice:outputText value="#{alertTrackingBean.report.completed}">
			<f:convertDateTime pattern="hh:mm:ss a"
							   timeZone="#{msg['han.time.zone']}" />
		</ice:outputText>
		<ice:outputText value="#{msg['alerts.reports.title']}" />
		<ice:panelGrid columns="1" style="width: 100px; white-space: pre;" width="100px">
			<ice:outputText value="#{alertTrackingBean.report.name}" />
		</ice:panelGrid>
		<ice:outputText value="#{msg['alerts.reports.type']}" />
		<ice:outputText value="#{alertTrackingBean.report.type}" />
		<ice:outputText value="#{msg['alerts.reports.report.id']}" />
		<ice:outputText value="#{alertTrackingBean.report.reportId}" />
		<ice:outputText value="#{msg['alerts.reports.expedited.delivery']}" />
		<ice:outputText value="#{alertTrackingBean.report.expeditedDelivery}" />
		<ice:outputText value="#{msg['alerts.reports.phone.time']}" />
		<ice:outputText value="#{alertTrackingBean.report.formattedPhoneTime}" />
	</ice:panelGrid>
	<br/><br/>
</ice:panelGroup>