<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup styleClass="exampleBox menuBarContainer">
		<ice:inputHidden value="#{alertMenuBean.lastOutcome}" />
		<ice:menuBar id="menuBar" style="background-color: #E0E0E0;">
			<ice:menuItem value="#{msg['alerts.compose.notification.new']}"
						  action="#{composeAlertBean.startNewAlert}"
						  rendered="#{composeAlertBean.admin}" />
			<!-- <ice:menuItem value="#{msg['alerts.search.refresh']}"
						  actionListener="#{alertBrowseBean.refreshSearch}" /> -->
			<ice:menuItem value="#{msg['alerts.compose.copy']}"
						  action="#{composeAlertBean.copyAlert}"
						  rendered="#{alertMenuBean.canCopy and composeAlertBean.admin}">
				<f:param name="alertId" value="#{alertDetailsBean.alert.alertId}" />
				<f:param name="archived" value="#{alertDetailsBean.alert.archived}" />
			</ice:menuItem>
			<ice:menuItem value="#{msg['alerts.action.archive']}"
						  actionListener="#{alertBrowseBean.toggleArchive}"
						  rendered="#{alertMenuBean.canCopy and composeAlertBean.admin and not alertDetailsBean.alert.archived}">
				<f:param name="alertId" value="#{alertDetailsBean.alert.alertId}" />
			</ice:menuItem>
			<ice:menuItem value="#{msg['alerts.action.delete']}"
						  actionListener="#{alertBrowseBean.toggleDelete}"
						  rendered="#{alertMenuBean.canCopy and composeAlertBean.admin}">
				<f:param name="alertId" value="#{alertDetailsBean.alert.alertId}" />
				<f:param name="archived" value="#{alertDetailsBean.alert.archived}" />
			</ice:menuItem>
			<ice:menuItem value="#{msg['alerts.menu.search']}"
						  action="#{alertMenuBean.searchSelected}"
						  actionListener="#{alertBrowseBean.executeSearch}">
				<f:param name="selectedSearch" value="ROOT_MENU" />
				<!-- <ice:menuItem value="#{msg['alerts.requiring.action.title']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertActionBean.loadAlerts}">
					<f:param name="selectedSearch" value="ALERTS_REQUIRING_ACTION" />
				</ice:menuItem> -->
				<ice:menuItem value="#{msg['alerts.menu.current.by']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertBrowseBean.executeSearch}">
					<f:param name="selectedSearch" value="CURRENT_MENU" />
					<ice:menuItem value="#{msg['alerts.menu.publication.date']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="CURRENT_BY_PUBLICATION_DATE" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['alerts.menu.topic']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="CURRENT_BY_TOPIC" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['alerts.menu.level.of.alert']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="CURRENT_BY_LEVEL_OF_ALERT" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['alerts.menu.archived.by']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertBrowseBean.executeSearch}"
							  rendered="#{composeAlertBean.admin}">
					<f:param name="selectedSearch" value="ARCHIVED_MENU" />
					<ice:menuItem value="#{msg['alerts.menu.publication.date']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="ARCHIVED_BY_PUBLICATION_DATE" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['alerts.menu.topic']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="ARCHIVED_BY_TOPIC" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['alerts.menu.level.of.alert']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="ARCHIVED_BY_LEVEL_OF_ALERT" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['alerts.menu.draft']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertBrowseBean.executeSearch}"
							  rendered="#{composeAlertBean.admin}">
					<f:param name="selectedSearch" value="DRAFT_MENU" />
					<ice:menuItem value="#{msg['alerts.menu.last.modified.date']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="DRAFT_BY_LAST_MODIFIED" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['alerts.menu.scheduled']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertBrowseBean.executeSearch}"
							  rendered="#{composeAlertBean.admin}">
					<f:param name="selectedSearch" value="SCHEDULED_MENU" />
					<ice:menuItem value="#{msg['alerts.menu.scheduled.date']}"
								  action="#{alertMenuBean.searchSelected}"
								  actionListener="#{alertBrowseBean.executeSearch}">
						<f:param name="selectedSearch" value="SCHEDULED_BY_SCHEDULED_DATE" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['alerts.menu.scheduled.track.abort']}"
							  action="#{alertMenuBean.searchSelected}"
							  actionListener="#{alertTrackingBean.retrieveTracking}"
							  rendered="#{composeAlertBean.admin}">
					<f:param name="selectedSearch" value="ABORT_TRACK_ALERTS" />
				</ice:menuItem>
			</ice:menuItem>
		</ice:menuBar>
	</ice:panelGroup>
	<ice:panelGroup style="display: none;">
		<ice:inputRichText height="300"
		                   width="500"
		                   toolbar="Default"
		                   language="en"
		                   skin="silver"
		                   rendered="true"
		                   saveOnSubmit="true"
		                   value="#{composeAlertBean.fullDetailText}" />
	</ice:panelGroup>
</ui:component>