<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>

	<!-- <ice:outputDeclaration doctypeRoot="HTML"
		doctypePublic="-//W3C//DTD HTML 4.01 Transitional//EN"
		doctypeSystem="http://www.w3.org/TR/html4/transitional.dtd" /> -->

	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msg['icefaces.portlet.style.showcase.css']}" />
		<ice:form>
			<ice:panelGroup>
				<h2><ice:outputText value="#{msg['registration.approval.approved.title']}" style="font-color:green;font-weight:bold;"/></h2>
				<p>
					<ice:outputText value="#{msg['registration.approval.approved.legend']}" style="font-weight:bold;"/>
				</p>
				<p>
					<ul>
						<li><ice:outputText value="#{msg['registration.approval.approved.step1']}"/></li>
						<li><ice:outputText value="#{msg['registration.approval.approved.step2']}"/></li>
						<li><ice:outputText value="#{msg['registration.approval.approved.step3']}"/></li>
						<li><ice:outputText value="#{msg['registration.approval.approved.step4']}"/></li>
						<li><ice:outputText value="#{msg['registration.approval.approved.step5']}"/></li>
					</ul>
				</p>
				<ice:commandButton
                           value="#{msg['registration.approval.approved.finish.button']}"
                           action="finish"
                           immediate="true"/>
			</ice:panelGroup>
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>