<h:panelGrid columns="1" width="100%" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>

	<!--  <h:panelGrid columns="1" width="100%"> -->

		<!-- DataTable with 10 rows per page  #{registrationApprovalBean.pendingRegistrations.rowsPerPage}
		columnClasses="hanDatatableElement"
						  <ice:rowSelector id="selected"
                                 value="#{regReq.selected}"
					multiple="false"
					selectionAction="#{registrationApprovalBean.rowSelectionAction}" /> 
				 <f:facet name="header">
					<h:outputText id="column1"
						value="#{msg['registration.approval.form.table.header1']}" />
				</f:facet> 
				
				  <ace:column id="id" headerText="ID" sortBy="#{car.id}"
                            filterBy="#{car.id}" filterMatchMode="contains">
                    <h:outputText id="idCell" value="#{car.id}"/>
                </ace:column>
		-->
		
			<!--  <f:facet name="header">
					<h:outputText id="column2"
						value="#{msg['registration.approval.form.table.header2']}" />
				</f:facet> -->
				
				<!--  			scrollable="false"
			columnWidths="100px,150px,300px,200px" 
			cellpadding="0" 
			style="background-color:white"			
			> -->
			<!--  selectionAction="#{registrationApprovalBean.rowSelectionAction}" -->
		<ace:dataTable id="resultTable" var="regReq"
			value="#{registrationApprovalBean.pendingRegistrations}"
			stateMap="#{registrationApprovalBean.stateMap}"			
			selectionMode="single"
            rowSelectListener="#{registrationApprovalBean.rowSelectionAction}"
			><!-- rows="10" -->
			<ace:column headerText="#{msg['registration.approval.form.table.header1']}">
				<h:outputText id="reqId" value="#{regReq.id}" />
			</ace:column>			
			<ace:column headerText="#{msg['registration.approval.form.table.header2']}">
				<h:outputText id="groupName" value="#{regReq.firstName} #{regReq.middleName} #{regReq.lastName}"/>
			</ace:column>
			<ace:column headerText="#{msg['registration.approval.form.table.header3']}">
				<h:outputText value="#{regReq.organizationName}" /> <!--  -->
			</ace:column>
			<ace:column headerText="#{msg['registration.approval.form.table.header4']}">
				<h:outputText id="requestSubmissionDate" value="#{regReq.lastName}"> <!-- requestSubmissionDate -->
					<!--  <f:convertDateTime pattern="#{msg['han.date.format']}"
						timeZone="#{msg['han.time.zone']}" /> -->
				</h:outputText>
			</ace:column>
		</ace:dataTable>

		<!-- DataPaginator displaying information about the currently displayed
	         page and location within the dataModel-->
	<!-- 	<ice:panelGroup>
			<ice:dataPaginator id="dataScroll" for="resultTable"
				rowsCountVar="rowsCount"
				displayedRowsCountVar="displayedRowsCountVar"
				firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
				pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat
					value="#{msg['registration.approval.form.title.summary']}">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
		</ice:panelGroup>

		<ice:dataPaginator id="dataScroll_2" 
			for="resultTable" rendered="true" fastStep="3" pageIndexVar="pageIndex"
			paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>  -->
			<!--f:facet name="fastforward">
				<ice:graphicImage id="fastforward"
					url="#{msg['icefaces.paginator.fastforward.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="fastrewind">
				<ice:graphicImage id="fastrewind"
					url="#{msg['icefaces.paginator.fastrewind.button.image']}"
					style="border:none;" />
			</f:facet-->
	<!-- 	</ice:dataPaginator>  -->

	<!--  </h:panelGrid> -->

</h:panelGrid>