<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>



	$theme.include($top_head_include)
	#css ($css_main_file)
	#js ($js_main_file)

	

	#if ($company_logo != "")
		<style type="text/css">
			/* <![CDATA[ */
				#banner .logo a {
					background: url($company_logo) no-repeat;
					display: block;
					font-size: 0;
					height: ${company_logo_height}px;
					text-indent: -9999em;
					width: ${company_logo_width}px;
				}

				#ie6_png_fix()
			/* ]]> */
		</style>
	#end
</head>

<body class="$css_class">



$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a class="png" href="$company_url">$company_name</a>
		</h1>



		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end
	</div>



		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content-wrapper">
	

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<div id="footer">
		#parse ("$full_templates_path/footer.vm")
	</div>
</div>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>
