<ui:component xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ice:panelGrid width="100%" style="padding: 20px;" columns="1">
	
		<p>
			<ice:outputText value="#{msgs['registration.request.intro.legend']}"/>
		</p>
		
		<p>
			<ice:outputText value="#{msgs['registration.request.intro.legend3']}" />		
		</p>
		<table width="100%">
        <tr>
		<!--ice:panelGrid columns="2" width="100%" columnClasses="left_menu,right_data"-->
			<td><ice:outputConnectionStatus/></td>
			<td style="text-align:right;">
			<ice:commandButton id="toFormBtn"
                          value="#{msgs['registration.request.intro.link.text']}"
                          action="goToForm"
                          immediate="true"/>
        	</td>
		<!--/ice:panelGrid-->
		</tr>
		</table>
	</ice:panelGrid>
</ui:component>