<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:loadBundle basename="messages" var="msgs" />

	<ice:outputDeclaration doctypeRoot="HTML"
		doctypePublic="-//W3C//DTD HTML 4.01 Transitional//EN"
		doctypeSystem="http://www.w3.org/TR/html4/transitional.dtd" />

	<ice:portlet>
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
		<ice:form>
			<ui:include src="validatePage.xhtml" />
		</ice:form>
	</ice:portlet>
</f:view>