<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
			  	xmlns:ui="http://java.sun.com/jsf/facelets" 
			  	xmlns:h="http://java.sun.com/jsf/html" 
			  	xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:ice="http://www.icesoft.com/icefaces/component" draggable="false" 
			  	modal="true" rendered="#{alertBrowseBean.deleteVisible}"
				visible="#{alertBrowseBean.deleteVisible}" styleClass="corePopup"
				autoCentre="true" positionOnLoadOnly="true">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['alerts.action.confirmation.delete']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{alertBrowseBean.toggleDelete}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    		<ice:outputText value="#{msg['alerts.action.confirmation.delete.text']}" />
    		<br />
    		<ice:commandButton value="#{msg['alerts.action.confirmation.yes']}"
    						   actionListener="#{alertBrowseBean.deleteAlert}"
    						   action="#{alertMenuBean.previouslySelectedSearch}">
    			<f:param name="alertId" value="#{alertDetailsBean.alert.alertId}" />
    			<f:param name="archived" value="#{alertDetailsBean.alert.archived}" />
    			<f:setPropertyActionListener value="#{alertMenuBean.previouslyExecuted}"
    										 target="#{alertTrackingBean.refresh}" />
    		</ice:commandButton>
    		<ice:commandButton value="#{msg['alerts.action.confirmation.no']}"
    						   actionListener="#{alertBrowseBean.toggleDelete}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>