<ice:panelGroup xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  style="position: relative;">
	<ice:panelGroup styleClass="exampleBox" style="width: 100%;">
		<ice:outputText value="#{msg['alerts.tracking.title']}" style="font-weight: bold" />
		<br />
		<ice:dataTable id="tracking" var="alert" value="#{alertTrackingBean.foundAlerts}"
					   rows="#{msg['alerts.search.rows']}" scrollable="false" cellpadding="0"
					   columnWidths="16px,80px,100px,500px,160px,160px,60px,50px"
					   columnClasses="hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElement"
					   width="100%">
			<ice:column>
				<ice:panelGroup styleClass="groupRowIndentStyle" rendered="#{alert.specialized}">
					<ice:commandLink actionListener="#{alertTrackingBean.toggleGroup}">
						<ice:graphicImage value="/css/images/navigation_tree/#{alert.image}"
										  style="border: 0px solid;"/>
						<f:param value="#{alert.title}" name="groupTitle" />
					</ice:commandLink>
				</ice:panelGroup>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.alert.id.title']}" />
				</f:facet>
				<ice:panelGroup styleClass="hanDatatableElement" rendered="#{not alert.specialized}">
					<ice:commandLink actionListener="#{alertDetailsBean.retrieveAlertDetails}"
									 action="#{alertMenuBean.searchSelected}">
						<ice:outputText value="#{alert.alertId}" styleClass="alert_link"/>
						<f:param name="alertId" value="#{alert.alertId}" />
						<f:param name="selectedSearch" value="SHOW_ALERT_DETAIL" />
					</ice:commandLink>
				</ice:panelGroup>
				<ice:outputText value="#{alert.title}" rendered="#{alert.specialized}" styleClass="hanDatatableElementLeft" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.topic.title']}" />
				</f:facet>
				<ice:outputText value="#{alert.topic}" rendered="#{not alert.specialized}"/>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.title.title']}" />
				</f:facet>
				<ice:commandLink actionListener="#{alertDetailsBean.retrieveAlertDetails}"
								 action="#{alertMenuBean.searchSelected}"
								 rendered="#{not alert.specialized}">
					<ice:outputText value="#{alert.title}" styleClass="alert_link"/>
					<f:param name="alertId" value="#{alert.alertId}" />
					<f:param name="selectedSearch" value="SHOW_ALERT_DETAIL" />
				</ice:commandLink>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.creation.date.title']}" />
				</f:facet>
				<ice:outputText value="#{alert.creationDate}" rendered="#{not alert.specialized}">
					<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
									   timeZone="#{msg['han.time.zone']}" />
				</ice:outputText>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.last.modified.date.title']}" />
				</f:facet>
				<ice:outputText value="#{alert.lastModifiedDate}" rendered="#{not alert.specialized}">
					<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
									   timeZone="#{msg['han.time.zone']}" />
				</ice:outputText>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.tracking.title']}" />
				</f:facet>
				<ice:commandLink actionListener="#{alertTrackingBean.retrieveAlertReport}"
								 action="#{alertMenuBean.searchSelected}" rendered="#{not alert.specialized}">
					<ice:outputText value="#{msg['alerts.tracking.tracking.title']}" styleClass="alert_link" />
					<f:param name="alertId" value="#{alert.alertId}" />
					<f:param name="selectedSearch" value="ABORT_TRACK_ALERTS_DETAIL" />
					<f:param name="archived" value="#{alert.archived}" />
				</ice:commandLink>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['alerts.tracking.abort.title']}" />
				</f:facet>
				<ice:commandLink rendered="#{not alert.specialized and not alert.finished}"
								 actionListener="#{alertBrowseBean.toggleAbort}">
					<ice:outputText value="#{msg['alerts.tracking.abort.title']}" styleClass="alert_link" />
					<f:param name="alertId" value="#{alert.alertId}" />
				</ice:commandLink>
			</ice:column>
		</ice:dataTable>
		<ice:panelGroup style="float:left; font-weight: normal;">
			<ice:dataPaginator id="trackingScrollHeader" for="tracking" rendered="true"
							   rowsCountVar="rowsCount"
							   displayedRowsCountVar="displayedRowsCountVar"
							   firstRowIndexVar="firstRowIndex"
							   lastRowIndexVar="lastRowIndex"
							   pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat value="#{msg['alerts.search.level.paginator.info']}"
								  styleClass="standard">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
			<ice:dataPaginator id="trackingScrollFooter" for="tracking" fastStep="3"
							   pageCountVar="pageCount" pageIndexVar="pageIndex"
							   paginator="true" paginatorMaxPages="4">
				<f:facet name="first">
					<ice:graphicImage id="firstpage_1"
						url="#{msg['icefaces.paginator.first.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="last">
					<ice:graphicImage id="lastpage_1"
						url="#{msg['icefaces.paginator.last.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="previous">
					<ice:graphicImage id="previouspage_1"
						url="#{msg['icefaces.paginator.previous.button.image']}"
						style="border:none;"
						title="#{msg['page.dataScrolling.previouspage']}" />
				</f:facet>
				<f:facet name="next">
					<ice:graphicImage id="nextpage_1"
						url="#{msg['icefaces.paginator.next.button.image']}"
						style="border:none;" />
				</f:facet>
			</ice:dataPaginator>
		</ice:panelGroup>
	</ice:panelGroup>
</ice:panelGroup>