<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup style="text-align: center;"
					rendered="#{alertDetailsBean.showOptions and not alertDetailsBean.finalResponse}">
		<br />
		<ice:graphicImage  style="margin-left: auto; margin-right: auto;"
						   value="#{msg['alerts.loading.image']}" />
		<ice:outputText value="#{msg['alerts.loading.label']}" />
	</ice:panelGroup>
	<ice:panelGroup rendered="#{alertDetailsBean.showOptions and alertDetailsBean.finalResponse}">
		<br />
		<ice:outputText value="#{msg['alerts.compose.notification.response.options.title']}" />
		<ice:dataTable value="#{alertDetailsBean.alert.responseOptions}" var="option">
			<ice:column>
				<f:facet name="header"><ice:outputText value="#{msg['alerts.compose.notification.response.options.title']}" /></f:facet>
				<ice:outputText value="#{option.optionText}" />
			</ice:column>
			<ice:column>
				<f:facet name="header"><ice:outputText value="#{msg['alerts.perform.action']}" /></f:facet>
				<ice:commandLink value="#{msg['alerts.perform.action']}"
								 actionListener="#{alertDetailsBean.respondAlert}">
					<f:param name="reportId" value="#{alertDetailsBean.notificationReportId}" />
					<f:param name="recipientReportId" value="#{alertDetailsBean.recipientReportId}" />
					<f:param name="optionSelected" value="#{option.optionText}" />
				</ice:commandLink>
			</ice:column>
		</ice:dataTable>
	</ice:panelGroup>
</ui:component>