<f:view xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <f:loadBundle basename="messages" var="msg"/>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="false">
			<ice:messages layout="list" />
			<!-- ui:include src="alertMenu.xhtml" / -->
			<ice:panelGrid columns="1" width="96%" columnClasses="left_menu">
			<ui:include src="alertTreeMenu.xhtml" />
			<ui:include src="alertReqAction.xhtml" />
			</ice:panelGrid>
		</ice:form>
	</ice:portlet>
</f:view>