<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelPopup draggable="true" modal="true" rendered="#{topicsBean.addTopic}" visible="#{topicsBean.addTopic}"
					autoCentre="true">
		<f:facet name="header">
	        <ice:panelGroup styleClass="popupHeaderWrapper">
	            <ice:outputText value="#{msg['alerts.compose.notification.topic.add.new']}"
								styleClass="popupHeaderText"/>
	            <ice:commandButton type="button"
								   image="/images/popupclose.gif"
								   actionListener="#{topicsBean.toggleAddTopic}"
								   styleClass="popupHeaderImage"
								   title="Close Popup" alt="Close"/>
	        </ice:panelGroup>
	    </f:facet>
	    <f:facet name="body">
	    	<ice:panelGroup styleClass="popupBody">
	    		<ice:inputText id="topicTitle" value="#{topicsBean.topicTitle}" size="30">
	    			<f:validateLength maximum="40" minimum="2"/>
	    		</ice:inputText>
	    		<ice:commandButton actionListener="#{topicsBean.addNewTopic}"
	    						   action="#{composeAlertBean.topicAdded}"
	    						   value="#{msg['alerts.compose.notification.topic.save']}"/>
	    	</ice:panelGroup>
	    </f:facet>
	</ice:panelPopup>
</ui:component>