<ice:panelGroup xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGrid colums="1" columnClasses="hanDatatableElementLeft">
		<ice:commandButton value="#{msg['alerts.back']}"
						   action="back" />
		
		<ice:panelGrid columns="3">
			<ice:commandButton value="#{msg['alerts.cancel']}"
							   actionListener="#{alertBrowseBean.executeSearch}"
							   action="#{alertMenuBean.searchSelected}">
				<f:param name="selectedSearch" value="CURRENT_BY_PUBLICATION_DATE" />
			</ice:commandButton> 

			<ice:commandButton value="#{msg['alerts.save']}" actionListener="#{composeAlertBean.saveAlert}" />

			<ice:commandButton value="#{msg['alerts.publish']}"
							   actionListener="#{composeAlertBean.publishAlert}"
							   action="#{alertTrackingBean.retrieveAlertReport}">
				<f:setPropertyActionListener value="SCHEDULED_BY_SCHEDULED_DATE"
											 target="#{alertMenuBean.toExecute}" />
				<f:setPropertyActionListener value="SCHEDULED_BY_SCHEDULED_DATE"
											 target="#{alertBrowseBean.toExecute}" />
			</ice:commandButton>
		</ice:panelGrid>
	</ice:panelGrid>
	<ice:panelGrid columns="1" width="100%">
		<ice:panelCollapsible id="generalOptions" expanded="true">
			<f:facet name="header">
				<ice:panelGroup>
					<ice:outputText id="optionsPanelHeader" value="#{msg['alerts.compose.options.general.title']}" />
				</ice:panelGroup>
			</f:facet>
			<ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft">
				<ice:outputLabel value="#{msg['alerts.compose.options.voice.delivery']}" for="voiceDelivery" styleClass="hanOutLbl"/>
				<ice:selectOneMenu value="#{composeAlertBean.voiceDelivery}" id="voiceDelivery"
								   readonly="#{composeAlertBean.notEditable}" partialSubmit="true"
								   valueChangeListener="#{composeAlertBean.deliveryChanged}">
					<f:selectItem itemLabel="#{msg['alerts.compose.options.voice.delivery.text.to.speach']}"
								  itemValue="1" />
					<f:selectItem itemLabel="#{msg['alerts.compose.options.voice.delivery.recorded.message']}"
								  itemValue="2" />
				</ice:selectOneMenu>
				<ice:outputLabel value="#{msg['alerts.compose.options.notification.voice.file']}"
								 for="voiceFile" rendered="#{composeAlertBean.voiceDelivery == 2}"
								 styleClass="hanOutLbl" />
				<ice:selectOneMenu value="#{composeAlertBean.selectedVoiceFile}" id="voiceFile"
								   readonly="#{composeAlertBean.notEditable}"
								   rendered="#{composeAlertBean.voiceDelivery == 2}">
					<f:selectItems value="#{composeAlertBean.voiceMessageFiles}"/>
				</ice:selectOneMenu>
				<!-- <ice:outputLabel value="#{msg['alerts.compose.options.notification.method']}"
								 for="notificationMethod" />
				<ice:selectOneMenu value="#{composeAlertBean.notificationMethod}" id="notificationMethod"
								   readonly="#{composeAlertBean.notEditable}">
					<f:selectItem itemLabel="#{msg['alerts.compose.options.notification.method.broadcast']}"
								  itemValue="1" />
					<f:selectItem itemLabel="#{msg['alerts.compose.options.notification.method.first.response']}"
								  itemValue="2" />
					<f:selectItem itemLabel="#{msg['alerts.compose.options.notification.method.call.out']}"
								  itemValue="3" />
					<f:selectItem itemLabel="#{msg['alerts.compose.options.notification.method.bulletin.board']}"
								  itemValue="4" />
				</ice:selectOneMenu> -->
				<ice:outputLabel value="#{msg['alerts.compose.notification.duration']}" for="duration" 
				 	styleClass="hanOutLbl"/>
				<ice:inputText value="#{composeAlertBean.duration}" id="duration" maxlength="6" size="6"
							   readonly="#{composeAlertBean.notEditable}" />
				<!-- <ice:outputLabel value="#{msg['alerts.compose.options.notification.attachment.title']}"
								 for="notificationAttachment" />
				<ice:selectOneMenu value="#{composeAlertBean.notificationAttachment}" id="notificationAttachment"
								   readonly="#{composeAlertBean.notEditable}">
					<f:selectItem itemLabel="#{msg['alerts.compose.options.notification.attachment.none']}"
								  itemValue="-1" />
					<f:selectItems value="#{composeAlertBean.sortedAttachments}"/>
				</ice:selectOneMenu>-->
			</ice:panelGrid>
		</ice:panelCollapsible>
		<ice:panelCollapsible id="extendedOptions" expanded="true">
			<f:facet name="header">
				<ice:panelGroup>
					<ice:outputText value="#{msg['alerts.compose.notification.extendedoptions.title']}"
									id="extendedOptionsPanelHeader" />
				</ice:panelGroup>
			</f:facet>
			<ice:panelGrid columns="1" width="100%" columnClasses="hanDatatableElementLeft">
				<ice:panelGrid columns="4" columnClasses="hanDatatableElementLeft">
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.validate']}"
									 for="validateRecipients"  styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.validateRecipients}" id="validateRecipients"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.override']}"
									 for="locationOverride"  styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.locationOverride}" id="locationOverride"
											   readonly="#{composeAlertBean.notEditable}" partialSubmit="true"
											   valueChangeListener="#{composeAlertBean.toggleLocation}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.replay']}"
									 for="replayMessages"  styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.replayMessages}" id="replayMessages"
											   readonly="#{composeAlertBean.notEditable}" />
					<!-- <ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.onetext']}"
									 for="oneTextContact" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.oneTextContact}" id="oneTextContact"
											   readonly="#{composeAlertBean.notEditable}" /> -->
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.reqpin']}" for="requiresPIN" 
						 styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.requiresPIN}" id="requiresPIN"
											   valueChangeListener="#{composeAlertBean.requiresPINChanged}"
											   readonly="#{composeAlertBean.notEditable}" partialSubmit="true" />
					<!-- <ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.confirm']}"
									 for="confirmResponse" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.confirmResponse}" id="confirmResponse"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.report']}"
									 for="reportRecipients" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.reportRecipients}" id="reportRecipients"
											   readonly="#{composeAlertBean.notEditable}" /> -->
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.greeting']}"
									 for="playGreeting"  styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.playGreeting}" id="playGreeting"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.alternates']}"
									 for="useAlternates"  styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.useAlternates}" id="useAlternates"
											   readonly="#{composeAlertBean.notEditable}" />
					<!-- <ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.selectlanguage']}"
									 for="selectLanguage" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.selectLanguage}" id="selectLanguage"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.topics']}"
									 for="useTopics" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.useTopics}" id="useTopics"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.send']}"
									 for="sendToSubscribers" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.sendToSubscribers}" id="sendToSubscribers"
											   readonly="#{composeAlertBean.notEditable}" /> -->
				</ice:panelGrid>
	
				<ui:include src="alertOverrideLocation.xhtml" />
	
				<ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft">
					<f:facet name="header">
						<ice:outputText value="#{msg['alerts.compose.notification.extendedoptions.stop.title']}"/>
					</f:facet>
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.stop.listened']}"
									 for="stopAfterEntireMessage" styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.stopAfterEntireMessage}" id="stopAfterEntireMessage"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.stop.answered']}"
									 for="stopAnswerPhone" styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.stopAnswerPhone}" id="stopAnswerPhone"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.stop.entiremachine']}"
									 for="entireMachine" styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.entireMachine}" id="entireMachine"
											   readonly="#{composeAlertBean.notEditable}" />
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.stop.partialmachine']}"
									 for="partialMachine" styleClass="hanOutLbl"/>
					<ice:selectBooleanCheckbox value="#{composeAlertBean.partialMachine}" id="partialMachine"
											   readonly="#{composeAlertBean.notEditable}" />
					
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.text.delay']}"
						styleClass="hanOutLbl" />
					<ice:panelGroup>
						<ice:inputText value="#{composeAlertBean.textDelay}" id="textDelay"
									   readonly="#{composeAlertBean.notEditable}" size="6"/>&amp;nbsp;
						<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.text.delay.info']}" 
							styleClass="hanOutLbl" style="font-style: italic;"/>
					</ice:panelGroup>
					
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.delay']}"
						styleClass="hanOutLbl" />
					<ice:panelGroup>
						<ice:inputText value="#{composeAlertBean.contactCycleDelay}" id="contactCycleDelay"
									   readonly="#{composeAlertBean.notEditable}" size="6"/>&amp;nbsp;
						<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.delay.info']}" 
							styleClass="hanOutLbl" style="font-style: italic;"/>
					</ice:panelGroup>
		
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.attempts']}" 
						styleClass="hanOutLbl"/>
					<ice:panelGroup>
						<ice:inputText value="#{composeAlertBean.contactCycles}" id="contactCycles"
									   readonly="#{composeAlertBean.notEditable}" size="2"
									   maxlength="2"/>&amp;nbsp;
						<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.contact.attempts.info']}"
							styleClass="hanOutLbl" style="font-style: italic;" />
					</ice:panelGroup>
					
					<ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.leavemessage']}"
									 for="leaveMessage" styleClass="hanOutLbl"/>
					<ice:panelGroup>
						<ice:selectOneMenu value="#{composeAlertBean.leaveMessage}" id="leaveMessage"
										   readonly="#{composeAlertBean.notEditable or composeAlertBean.leaveMessageReadOnly}"
										   rendered="#{not composeAlertBean.leaveMessageReadOnly}">
							<f:selectItem itemLabel="#{msg['alerts.compose.notification.extendedoptions.leavemessage.off']}"
										  itemValue="1" />
							<f:selectItem itemLabel="#{msg['alerts.compose.notification.extendedoptions.leavemessage.message.callback']}"
										  itemValue="2" />
							<f:selectItem itemLabel="#{msg['alerts.compose.notification.extendedoptions.leavemessage.message']}"
										  itemValue="3" />
							<f:selectItem itemLabel="#{msg['alerts.compose.notification.extendedoptions.leavemessage.callback']}"
										  itemValue="4" />
						</ice:selectOneMenu>
						<ice:outputText value="#{msg['alerts.compose.notification.extendedoptions.leavemessage.callback']}"
										rendered="#{composeAlertBean.leaveMessageReadOnly}" />
					</ice:panelGroup>
					
				</ice:panelGrid>
				<ice:panelGroup>			
					<!-- <ice:outputLabel value="#{msg['alerts.compose.notification.extendedoptions.expedited']}" />
					<ice:selectBooleanCheckbox value="#{composeAlertBean.expeditedDelivery}" id="expeditedDelivery"
											   readonly="#{composeAlertBean.notEditable}" />
					<br /> -->
				</ice:panelGroup>
			</ice:panelGrid>
		</ice:panelCollapsible>
		<ui:include src="alertResponseOptions.xhtml" />
	</ice:panelGrid>
</ice:panelGroup>