<ice:panelGroup xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  style="exampleBox" rendered="#{composeAlertBean.locationOverride}">
	<ice:panelGrid columns="3" columnClasses="hanDatatableElementLeft">
		<ice:outputLabel value="#{msg['alerts.compose.options.available.locations']}" for="availableLocations" />
		<ice:outputLabel value="#{msg['alerts.compose.options.selected.locations']}" for="selectedLocations" />
		<ice:outputText value="" />
		<ice:selectManyListbox valueChangeListener="#{composeAlertBean.addLocation}"
							   id="availableLocations" size="8"
							   value="#{composeAlertBean.toMoveLocation}"
							   partialSubmit="true">
			<f:selectItems value="#{composeAlertBean.locations}"/>
		</ice:selectManyListbox>
		<ice:selectManyListbox id="selectedLocations" size="8"
							   value="#{composeAlertBean.selectedLocation}"
							   partialSubmit="true">
			<f:selectItems value="#{composeAlertBean.selectedLocations}"/>
		</ice:selectManyListbox>
		<ice:panelGroup>
			<ice:commandButton value="#{msg['alerts.compose.options.location.move.up']}"
							   actionListener="#{composeAlertBean.moveUpLocation}"
							   disabled="#{composeAlertBean.selectedLocationsEmpty}" />
			<br />
			<ice:commandButton value="#{msg['alerts.compose.options.location.move.down']}"
							   actionListener="#{composeAlertBean.moveDownLocation}"
							   disabled="#{composeAlertBean.selectedLocationsEmpty}" />
			<br />
			<ice:commandButton value="#{msg['alerts.compose.options.location.remove']}"
							   actionListener="#{composeAlertBean.removeLocation}"
							   disabled="#{composeAlertBean.selectedLocationsEmpty}" />
		</ice:panelGroup>
	</ice:panelGrid>
	<!--ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft">
		<ice:outputLabel value="#{msg['alerts.compose.options.location.override.default.only']}"
						 for="overrideDefaultStatus" />
		<ice:selectBooleanCheckbox value="#{composeAlertBean.overrideDefaultStatus}" id="overrideDefaultStatus" />
	</ice:panelGrid-->
</ice:panelGroup>