<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
			 	xmlns:ui="http://java.sun.com/jsf/facelets" 
			  	xmlns:h="http://java.sun.com/jsf/html" 
			  	xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:ice="http://www.icesoft.com/icefaces/component"
			  	draggable="false" modal="true" rendered="#{alertBrowseBean.abortVisible}"
			  	autoCentre="true" positionOnLoadOnly="true"
				visible="#{alertBrowseBean.abortVisible}" styleClass="corePopup">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['alerts.action.confirmation.abort']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{alertBrowseBean.toggleAbort}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    		<ice:outputText value="#{msg['alerts.action.confirmation.abort.text']}" />
    		<br />
    		<ice:commandButton value="#{msg['alerts.action.confirmation.yes']}"
    						   actionListener="#{alertBrowseBean.abortAlert}"
    						   action="#{alertMenuBean.lastSearch}">
    			<f:param name="alertId" value="#{alertBrowseBean.alertId}" />
    		</ice:commandButton>
    		<ice:commandButton value="#{msg['alerts.action.confirmation.no']}"
    						   actionListener="#{alertBrowseBean.toggleAbort}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>