<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelGroup style="position: relative;">
		<ice:panelGroup styleClass="exampleBox" style="width: 100%">
			<ice:panelGrid columns="1" width="100%">
				<ice:panelGroup style="text-align: right;background-color: #E3EFF5;">
					<ice:panelGroup style="text-align: left; font-weight: normal;">
						<ice:panelGrid columns="2" columnClasses="right_data,left_menu"
									   style="margin-left:auto; margin-right:5px; background-color: #E3EFF5;">
							<ice:outputText value="#{msg['alerts.detail.alert.id.title']}" style="font-weight: bold;" />
							<ice:outputText value="#{alertDetailsBean.alert.alertId}" style="font-weight: bold;"/>
							<ice:outputText value="#{msg['alerts.detail.status.title']}" style="font-weight: bold;"/>
							<ice:outputText value="#{msg[alertDetailsBean.alertStatus]}" style="font-weight: bold;"/>
							<ice:outputText value="#{msg['alerts.detail.created.date']}" />
							<ice:outputText value="#{alertDetailsBean.alert.createdDate}">
								<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
												   timeZone="#{msg['han.time.zone']}" />
							</ice:outputText>
							<ice:outputText value="#{msg['alerts.detail.author']}" />
							<ice:outputText value="#{alertDetailsBean.alert.authorName}" />
							<ice:outputText value="#{msg['alerts.detail.publish.date']}" />
							<ice:outputText value="#{alertDetailsBean.alert.publishedDate}">
								<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
												   timeZone="#{msg['han.time.zone']}" />
							</ice:outputText>
							<ice:outputText value="#{msg['alerts.detail.last.modified.date']}" />
							<ice:outputText value="#{alertDetailsBean.alert.lastModifiedDate}">
								<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
												   timeZone="#{msg['han.time.zone']}" />
							</ice:outputText>
							<ice:outputText value="#{msg['alerts.detail.notification.date']}" />
							<ice:outputText value="#{alertDetailsBean.alert.notificationDate}">
								<f:convertDateTime pattern="#{msg['alerts.search.date.pattern']}"
												   timeZone="#{msg['han.time.zone']}" />
							</ice:outputText>
						</ice:panelGrid>
					</ice:panelGroup>
				</ice:panelGroup>
				<br />
				<ice:panelGroup>
					<ice:outputLabel value="#{msg['alerts.compose.notification.priority']}" />
					<ice:outputText value="#{alertDetailsBean.alert.priority}" />
					<br />
					<!--ice:graphicImage value="../images/powered_by_logo_blue.gif" /-->
				</ice:panelGroup>
				<!-- </ice:panelGrid> -->
				<ice:panelGroup>
					<ice:outputText value="#{alertDetailsBean.alert.alertName}" style="font-weight: bold; font-size: 14px" />
					<br />
					<ice:outputText value="#{msg['alerts.detail.topic.label']}" />
					<ice:outputText value="#{alertDetailsBean.alert.topic}" />
					<br />
					<ice:outputText value="#{msg['alerts.detail.incident.date']}" rendered="#{alertDetailsBean.alert.incidentDate != null}" />
					<ice:outputText value="#{alertDetailsBean.alert.incidentDate}" rendered="#{alertDetailsBean.alert.incidentDate != null}">
							<f:convertDateTime pattern="#{msg['alerts.compose.short.date.pattern']}"
											   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
					<!-- Keywords will be here -->
					<br />
					<p>
						<ice:outputText value="#{msg['alerts.detail.abstract.label']}" />
						<ice:outputText value="#{alertDetailsBean.alert.abstractText}" />
					</p>
					<br />
					<p><ice:outputText value="#{alertDetailsBean.alert.fullDetailText}" escape="false" style="color: black;" /></p>
					<br /><br/>
					<ice:commandButton value="#{msg['alerts.detail.back']}"
									   actionListener="#{alertBrowseBean.refreshSearch}"
									   action="#{alertMenuBean.searchSelected}">
						<f:setPropertyActionListener value="CURRENT_BY_PUBLICATION_DATE"
													 target="#{alertMenuBean.toExecute}" />
						<f:setPropertyActionListener value="CURRENT_BY_PUBLICATION_DATE"
													 target="#{alertBrowseBean.toExecute}" />
					</ice:commandButton>
					<br /><br />
					<ice:outputText value="#{msg['alerts.detail.attachments']}" style="font-weight: bold;"/>
					<br />
					<ice:dataTable var="attachment" value="#{alertDetailsBean.alert.attachments}"
								   columnWidths="270px,100px,100px"
								   columnClasses="hanDatatableElementLeft,hanDatatableElement,hanDatatableElement">
						<ice:column>
							<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.name']}" /></f:facet>
							<ice:outputResource shared="false" fileName="#{attachment.fileInfo.fileName}"
												resource="#{attachment.fileContent}" />
						</ice:column>
						<ice:column>
							<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.size']}" /></f:facet>
							<ice:outputText value="#{attachment.formattedSize}" />
						</ice:column>
						<ice:column>
							<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.type']}" /></f:facet>
							<ice:outputText value="#{attachment.fileInfo.contentType}" />
						</ice:column>
					</ice:dataTable>
				</ice:panelGroup>
				<br />
				<ice:panelGroup rendered="#{composeAlertBean.admin}">
					<ice:outputText value="#{msg['alerts.detail.publication.info']}" style="font-weight: bold" />
					<br />
					<ice:outputText value="#{msg['alerts.detail.current.period']}" />
					<br />
					<ice:outputText value="#{msg['alerts.detail.from']}" />
					<ice:outputText value="#{alertDetailsBean.alert.publishedDate}">
						<f:convertDateTime pattern="MM/dd/yyyy"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
					<br />
					<ice:outputText value="#{msg['alerts.detail.to']}" />
					<ice:outputText value="#{alertDetailsBean.alert.expirationDate}">
						<f:convertDateTime pattern="MM/dd/yyyy"
										   timeZone="#{msg['han.time.zone']}" />
					</ice:outputText>
					<br/>
					<br/>
					<ice:outputText value="#{msg['alerts.detail.viewer.list']}" style="font-weight: bold;"/>
					<ice:dataTable var="recipient" value="#{alertDetailsBean.alert.recipients}"
								   columnClasses="hanDatatableElementLeft,hanDatatableElement">
						<ice:column>
							<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.viewer.name']}" /></f:facet>
							<ice:outputText value="#{recipient.name}" />
						</ice:column>
						<ice:column>
							<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.viewer.type']}" /></f:facet>
							<ice:outputText value="#{msg[recipient.typeMessage]}" />
						</ice:column>
					</ice:dataTable>
				</ice:panelGroup>
				<ui:include src="alertChooseResponse.xhtml" />
			</ice:panelGrid>
		</ice:panelGroup>
	</ice:panelGroup>
</ui:component>