<ice:panelGrid
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	columns="1" width="100%"
>
	<f:facet name="header">
		<ice:outputText value="#{msg['member.search.bulkupload.lists']}" style="text-weight: bold;"/>
	</f:facet>
	<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft">
		<ice:panelGroup>
			<ice:outputText value="#{msg['member.search.bulkupload.caption']}"/>
			<ice:outputText value="#{msg['member.search.bulkupload.caption2']}"/>
		</ice:panelGroup>
		
		<ice:panelGroup>
			<ice:dataTable id="bulists" var="list" value="#{groupManagementBean.bulkUploadList}"
						   rows="100" scrollable="false" 
						   columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft,
						   hanDatatableElement"
						   bgcolor="#ffffff">
				<ice:column>
					<ice:rowSelector id="listSelected" value="#{list.selected}" multiple="true"
									 selectionListener="#{groupManagementBean.listSelected}" />
					<f:facet name="header">
						<ice:outputText id="idListTitle" value="#{msg['member.bulkupload.id.title']}" />
					</f:facet>
					<ice:outputText id="listId" value="#{list.id}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText id="listNameTitle" value="#{msg['member.bulkupload.name.title']}" />
					</f:facet>
					<ice:outputText id="listName" value="#{list.name}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText id="createdByTitle" value="#{msg['member.bulkupload.createdby.title']}" />
					</f:facet>
					<ice:outputText id="listCreatedBy" value="#{list.createdBy}" />
				</ice:column>
				<ice:column>
					<f:facet name="header">
						<ice:outputText id="dateCreatedTitle" value="#{msg['member.bulkupload.datecreated.title']}" />
					</f:facet>
					<ice:outputText id="listDateCreated" value="#{list.dateCreated}">
						<f:convertDateTime pattern="MM/dd/yyyy"/>
					</ice:outputText>
				</ice:column>
			</ice:dataTable>
<!-- 
			<ice:dataPaginator id="bulkScrollHeader" for="bulists" rendered="true"
						   rowsCountVar="rowsCount"
						   displayedRowsCountVar="displayedRowsCountVar"
						   firstRowIndexVar="firstRowIndex"
						   lastRowIndexVar="lastRowIndex"
						   pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat value="#{msg['member.bulkupload.paginator.info']}"
								  styleClass="standard">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
			<ice:dataPaginator id="bulkScrollFooter" for="bulists" fastStep="3"
							   pageCountVar="pageCount" pageIndexVar="pageIndex"
							   paginator="true" paginatorMaxPages="4">
				<f:facet name="first">
					<ice:graphicImage id="firstpage_1bu"
						url="#{msg['icefaces.paginator.first.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="last">
					<ice:graphicImage id="lastpage_1bu"
						url="#{msg['icefaces.paginator.last.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="previous">
					<ice:graphicImage id="previouspage_1bu"
						url="#{msg['icefaces.paginator.previous.button.image']}"
						style="border:none;"
						title="#{msg['page.dataScrolling.previouspage']}" />
				</f:facet>
				<f:facet name="next">
					<ice:graphicImage id="nextpage_1bu"
						url="#{msg['icefaces.paginator.next.button.image']}"
						style="border:none;" />
				</f:facet>
			</ice:dataPaginator>
 -->		
		</ice:panelGroup>
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addSelectedLists}"/>
	</ice:panelGrid>
</ice:panelGrid>