<h:panelGrid xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	columns="1" columnClasses="hanDatatableElementLeft"
	width="100%"
>
	<h:outputText value="#{msg['members.foundUsers.title']}" style="font-weight: bold;" />
	<h:outputText value="#{msg['members.foundUsers.caption']}"/>	
	<!-- rowSelectListener="#{todoListBean.rowSelectListener}" -->
	<h:panelGroup>
		<ace:dataTable id="foundUsers" var="user" value="#{groupManagementBean.foundUsers}"	
					stateMap="#{groupManagementBean.stateMap}"			 
					   selectionMode="single"
					   rowSelectListener="#{groupManagementBean.userSelected}"					  
					   >
<!-- 
					 <ace:ajax event="cellClick" listener="#{groupManagementBean.userSelected}"
					   rows="#{msg['page.size']}" scrollable="false" cellpadding="0"
					   columnWidths="60px,150px,150px,250px,250px"
					   columnClasses="hanDatatableElement,hanDatatableElementLeft,
					   hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElementLeft"
					   sortColumn="#{groupManagementBean.sortColumn}" sortAscending="#{groupManagementBean.ascending}"
					   width="100%" />
 -->
					
			<ice:rowSelector id="selected" value="#{user.selected}" multiple="true"
								 selectionListener="#{groupManagementBean.userSelected}" />
			<ace:column>

				<f:facet name="header">
					<h:outputText value="#{msg['members.id.title']}"/>
				</f:facet>
				<h:outputText id="number" value="#{user.id}" />
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="#{msg['members.firstName.title']}"/>
				</f:facet>
				<h:outputText id="firstName" value="#{user.firstName}" />
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="#{msg['members.lastName.title']}"/>
				</f:facet>
				<h:outputText id="lastName" value="#{user.lastName}" />
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="#{msg['members.organization.title']}"/>
				</f:facet>
				<h:outputText id="organization" value="#{user.organization}" />
			</ace:column>
			<ace:column>
				<f:facet name="header">
					<h:outputText value="#{msg['members.role.title']}"/>
				</f:facet>
				<h:outputText id="role" value="#{user.role}" />
			</ace:column>
		</ace:dataTable>
<!-- 
		<ace:dataTable id="foundUsersHeaderScroll" for="foundUsers" rendered="true"
						   rowsCountVar="rowsCount" displayedRowsCountVar="displayedRowsCountVar"
						   firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
						   pageCountVar="pageCount" pageIndexVar="pageIndex">
			<h:outputFormat value="#{msg['members.foundUsers.paginator.info']}"
							  styleClass="standard">
				<f:param value="#{rowsCount}" />
				<f:param value="#{displayedRowsCountVar}" />
				<f:param value="#{firstRowIndex}" />
				<f:param value="#{lastRowIndex}" />
				<f:param value="#{pageIndex}" />
				<f:param value="#{pageCount}" />
			</h:outputFormat>
		</ace:dataTable>
		<ace:dataTable id="foundUsersFooterScroll" for="foundUsers" rendered="true" fastStep="3"
						   pageCountVar="pageCount" pageIndexVar="pageIndex"
						   paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;"
					title="#{msg['page.dataScrolling.previouspage']}" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
		</ace:dataTable>
 -->		
	</h:panelGroup>
</h:panelGrid>