<ice:panelGrid 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	columns="1" width="100%" style="background: #f5f5f5;"
	columnClasses="hanDatatableElementLeft"
>
	<f:facet name="header">
		<ice:outputText value="#{msg['member.search.group.lists']}"/>
	</f:facet>
	<ice:panelGroup>
		<ice:outputText value="#{msg['member.search.group.lists.caption']}" />
		<ice:outputText value="#{msg['member.search.group.lists.caption2']}" />
		<ice:outputText value="#{msg['member.search.group.lists.caption3']}" />
		<ice:outputText value="#{msg['member.search.group.lists.caption4']}" />
	</ice:panelGroup>
	
	<ice:panelGroup>	
		<ice:dataTable id="userGroups" var="list" value="#{groupManagementBean.groupList}"
					   rows="100" scrollable="false"
					   columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft,
					   hanDatatableElement,hanDatatableElementLeft,hanDatatableElement,
					   hanDatatableElement"
					   bgcolor="#ffffff">
			<ice:column>
				<ice:rowSelector id="listSelected" value="#{list.selected}" multiple="true"
								 selectionListener="#{groupManagementBean.groupSelected}" />
				<f:facet name="header">
					<ice:outputText id="idListTitle" value="#{msg['member.group.id.title']}" />
				</f:facet>
				<ice:outputText id="listId" value="#{list.id}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="listNameTitle" value="#{msg['member.bulkupload.name.title']}" />
				</f:facet>
				<ice:outputText id="listName" value="#{list.name}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="createdByTitle" value="#{msg['member.bulkupload.createdby.title']}" />
				</f:facet>
				<ice:outputText id="listCreatedBy" value="#{list.createdBy}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="dateCreatedTitle" value="#{msg['member.bulkupload.datecreated.title']}" />
				</f:facet>
				<ice:outputText id="listDateCreated" value="#{list.dateCreated}">
					<f:convertDateTime pattern="MM/dd/yyyy"/>
				</ice:outputText>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="modifiedByTitle" value="#{msg['member.group.modifiedby.title']}" />
				</f:facet>
				<ice:outputText id="listModifiedBy" value="#{list.modifiedBy}"/>
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="dateModifiedTitle" value="#{msg['member.group.datemodified.title']}" />
				</f:facet>
				<ice:outputText id="listDateModified" value="#{list.dateModified}">
					<f:convertDateTime pattern="MM/dd/yyyy"/>
				</ice:outputText>
			</ice:column>
			<!-- <ice:column>
				<f:facet name="header">
					<ice:outputText value="#{msg['members.delete.group']}" />
				</f:facet>
				<ice:commandLink actionListener="#{groupManagementBean.toggleConfirmDelete}">
					<ice:outputText value="#{msg['members.delete.group']}" styleClass="alert_link"/>
					<f:param name="groupId" value="#{list.id}" />
					<f:param name="name" value="#{list.name}" />
				</ice:commandLink>
			</ice:column> -->
		</ice:dataTable>
<!-- 
		<ice:dataPaginator id="userGroupsScrollHeader" for="userGroups" rendered="true"
				   rowsCountVar="rowsCount"
				   displayedRowsCountVar="displayedRowsCountVar"
				   firstRowIndexVar="firstRowIndex"
				   lastRowIndexVar="lastRowIndex"
				   pageCountVar="pageCount" pageIndexVar="pageIndex">
			<ice:outputFormat value="#{msg['member.usergroups.paginator.info']}"
							  styleClass="standard">
				<f:param value="#{rowsCount}" />
				<f:param value="#{displayedRowsCountVar}" />
				<f:param value="#{firstRowIndex}" />
				<f:param value="#{lastRowIndex}" />
				<f:param value="#{pageIndex}" />
				<f:param value="#{pageCount}" />
			</ice:outputFormat>
		</ice:dataPaginator>
		<ice:dataPaginator id="userGroupsScrollFooter" for="userGroups" fastStep="3"
				   pageCountVar="pageCount" pageIndexVar="pageIndex"
				   paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage_1gl"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage_1gl"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage_1gl"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;"
					title="#{msg['page.dataScrolling.previouspage']}" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage_1gl"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
		</ice:dataPaginator>
 -->	
	</ice:panelGroup>
	<ice:panelGroup columns="2">
		<ice:commandButton value="#{msg['members.add']}" action="#{groupManagementBean.addSelectedGroups}"/>
		<ice:commandButton value="#{msg['member.group.edit']}"
						   actionListener="#{groupManagementBean.toggleConfirmEdit}" />
		<ice:commandButton value="#{msg['members.delete.group']}"
						   actionListener="#{groupManagementBean.toggleConfirmDelete}"
						   disabled="#{not groupManagementBean.canDelete}" />
		<!--ice:commandButton value="#{msg['member.group.edit']}" action="#{groupManagementBean.loadGroupForEdit}" /-->
	</ice:panelGroup>
	<ui:include src="groupDeleteConfirm.xhtml" />
	<ui:include src="groupEditConfirm.xhtml" />
</ice:panelGrid>