<ice:panelCollapsible xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	width="100%"
>

<!-- ice:panelLayout -->
	<f:facet name="header">
		<ice:panelGroup>
			<ice:outputText id="individualSearchTitle" value="#{msg['member.individual.criteria.title']}"/>
		</ice:panelGroup>
	</f:facet>	
	<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft">
		<!-- 		   rendered="#{groupManagementBean.collapsedIndividualSearch}"> -->
		<ice:panelGroup>
			<ice:outputText id="individualSearchInfo" value="#{msg['member.individual.criteria.info']}" />
			<ice:outputText id="individualSearchInfo2" value="#{msg['member.individual.criteria.info2']}" />
			<ice:outputText id="individualSearchInfo3" value="#{msg['member.individual.criteria.info3']}" />
			<ice:outputText value="#{msg['member.individual.criteria.note']}" />
		</ice:panelGroup>
	</ice:panelGrid>
	<ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft">
		<!-- 		   	 rendered="#{groupManagementBean.collapsedIndividualSearch}"> -->
		<ice:outputText value="#{msg['member.group.search.chicago.users']}"/>
		<ice:selectBooleanCheckbox value="#{groupManagementBean.onlySelectChicago}"
								   valueChangeListener="#{groupManagementBean.searchOnlyChicagoUsersChanged}" />
		<ice:outputText value="#{msg['members.firstName.title']}"/>
		<ice:inputText value="#{groupManagementBean.firstNameFilter}" maxlength="75"/>
		<ice:outputText value="#{msg['members.lastName.title']}"/>
		<ice:inputText value="#{groupManagementBean.lastNameFilter}" maxlength="75"/>
		<ice:commandButton value="#{msg['members.search.title']}" action="#{groupManagementBean.searchByIndividual}"/>
	</ice:panelGrid>
	<!-- 
		<ice:commandButton value="#{msg['members.search.title']}" 
							action="#{groupManagementBean.searchByIndividual}"
							partialSubmit="true"/> -->
	</ice:panelCollapsible>
