<ice:panelGrid xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	width="100%"
	styleColumns="hanDatatableElementLeft" 
	columns="1"
>
	<ice:messages layout="list" />
	<ice:panelDivider dividerPosition="59" orientation="vertical"
		style="width: 100%; height: 300px;">
		<f:facet name="first">
			<ui:include src="foundUsers.xhtml" />
		</f:facet>
		<f:facet name="second">
			<ui:include src="members.xhtml" />
		</f:facet>
	</ice:panelDivider>
	<ui:include src="groupSearch.xhtml" />
	 <ui:include src="criteria.xhtml" />
	<ui:include src="individualSearch.xhtml" />
	<ui:include src="bulkUploadSearch.xhtml" /> 
</ice:panelGrid>