<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
		  xmlns:ui="http://java.sun.com/jsf/facelets" 
		  xmlns:h="http://java.sun.com/jsf/html" 
		  xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  draggable="true" modal="true" rendered="#{groupManagementBean.deleteConfirmationVisible}"
	   	  visible="#{groupManagementBean.deleteConfirmationVisible}"
		  autoCentre="true"
		  styleClass="corePopup" style="width: 400px;">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['member.group.confirmation.delete']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{groupManagementBean.toggleConfirmDelete}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup>
	    	<ice:panelGrid columns="1" columnClasses="hanDatatableElement" width="100%">
	    		<ice:panelGroup>
	    			<ice:outputText value="#{msg['member.group.confirmation.delete.text']}" /><br/>
	    			<ice:outputText value="#{groupManagementBean.groupNameToDelete}?" />
	    		</ice:panelGroup>
	    		<ice:panelGroup>
		    		<ice:commandButton value="#{msg['alerts.action.confirmation.yes']}"
		    						 actionListener="#{groupManagementBean.deleteGroup}" />
		    		<ice:commandButton value="#{msg['alerts.action.confirmation.no']}"
		    						 actionListener="#{groupManagementBean.toggleConfirmDelete}" />
	    		</ice:panelGroup>
	    	</ice:panelGrid>
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>