<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
		  xmlns:ui="http://java.sun.com/jsf/facelets" 
		  xmlns:h="http://java.sun.com/jsf/html" 
		  xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  draggable="true" modal="true" rendered="#{groupManagementBean.editConfirmationVisible}"
	   	  visible="#{groupManagementBean.editConfirmationVisible}"
		  autoCentre="true"
		  styleClass="corePopup" style="width: 400px;">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['member.group.confirmation.edit']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{groupManagementBean.toggleConfirmEdit}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup>
    		<ice:panelGrid columns="1" columnClasses="hanDatatableElement" width="100%">
    			<ice:panelGroup>
		    		<ice:outputText value="#{msg['member.group.confirmation.edit.text']}" /><br/>
		   			<ice:outputText value="#{msg['member.group.confirmation.edit.text2']}" /><br/>
		   			<ice:outputText value="#{msg['member.group.confirmation.edit.text3']}" />
	   			</ice:panelGroup>
		    	
	    		<ice:panelGroup>
		    		<ice:commandButton value="#{msg['alerts.action.confirmation.yes']}"
		    						 action="#{groupManagementBean.loadGroupForEdit}" />
		    		<ice:commandButton value="#{msg['alerts.action.confirmation.no']}"
		    						 actionListener="#{groupManagementBean.toggleConfirmEdit}" />
	    		</ice:panelGroup>
    		</ice:panelGrid>
	    </ice:panelGroup>
    </f:facet>
</ice:panelPopup>