<ice:panelCollapsible xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  id="groupSearchPanel" 
		  expanded="#{groupManagementBean.collapsedGroupSearch}"
		  actionListener="#{groupManagementBean.closePanels}"
		  action="#{groupManagementBean.loadUserGroups}">
	<f:facet name="header">
		<ice:panelGroup>
			<ice:outputText value="#{msg['member.groupsearch.title']}"/>
		</ice:panelGroup>
	</f:facet>
	<ice:panelDivider dividerPosition="30" orientation="vertical" style="width: 100%;">
		<f:facet name="first">
			<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft">
				<ice:panelGroup>
					<ice:outputText value="#{msg['member.search.group.info']}"/><br/>
					<ice:outputText value="#{msg['member.search.group.info2']}"/>
				</ice:panelGroup>
				<ice:inputText value="#{groupManagementBean.groupNameFilter}"/>
				
				<ice:panelGrid columns="2">
					<ice:commandButton value="#{msg['members.search.title']}"
									   action="#{groupManagementBean.loadUserGroups}"/>
					<ice:commandButton value="#{msg['members.search.clean.title']}"
									   action="#{groupManagementBean.clearGroupSearch}"
									   actionListener="#{groupManagementBean.cleanGroupNameListener}"/>
				</ice:panelGrid>
								   
				<ice:commandButton value="#{msg['members.search.show.all.groups.title']}"
								   action="#{groupManagementBean.loadUserGroups}"
								   actionListener="#{groupManagementBean.cleanGroupNameListener}"/>
				
				<ice:commandButton value="#{msg['members.search.show.my.groups.title']}"
								   action="#{groupManagementBean.loadMyGroups}"
								   actionListener="#{groupManagementBean.cleanGroupNameListener}"/>
			</ice:panelGrid>
		</f:facet>
		<f:facet name="second">
			<ice:panelGroup styleClass="exampleBox" style="border: none; background: #f5f5f5; margin-top: 0;">
				<ui:include src="../groupManagement/groupList.xhtml" />
			</ice:panelGroup>
		</f:facet>
	</ice:panelDivider>
</ice:panelCollapsible>