<ice:panelGrid xmlns:f="http://java.sun.com/jsf/core"
		  xmlns:h="http://java.sun.com/jsf/html"
		  xmlns:ice="http://www.icesoft.com/icefaces/component"
		  xmlns:ui="http://java.sun.com/jsf/facelets"
		  columns="1" columnClasses="hanDatatableElementLeft"
		  width="100%">
	<ice:outputText value="#{msg['members.members.title']}" style="font-weight: bold;"/>
	
	<ice:panelGroup>
		<ice:outputText value="#{msg['members.members.caption']}"/><br/>
		<ice:outputText value="#{msg['members.members.caption2']}"/>
	</ice:panelGroup>		
	
	<ice:panelGroup>
		<ice:dataTable id="members" var="recipient" value="#{groupManagementBean.recipients}"
					   rows="#{msg['page.size']}" scrollable="false" cellpadding="0"
					   columnClasses="hanDatatableElement,hanDatatableElementLeft,
					   hanDatatableElement"
					   width="100%">
			<ice:column>
				<ice:rowSelector id="memberSelected" value="#{recipient.selected}" multiple="true"
								 selectionListener="#{groupManagementBean.recipientSelected}" />
				<f:facet name="header">
					<ice:outputText id="idMemberTitle" value="#{msg['members.id.title']}" />
				</f:facet>
				<ice:outputText id="memberId" value="#{recipient.id}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="memberFirstNameTitle" value="#{msg['members.name.title']}" />
				</f:facet>
				<ice:outputText id="memberFirstName" value="#{recipient.name}" />
			</ice:column>
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="memberLastNameTitle" value="#{msg['members.type.title']}" />
				</f:facet>
				<ice:outputText id="memberLastName" value="#{msg[recipient.typeMessage]}" />
			</ice:column>
		</ice:dataTable>
	
	
		<ice:dataPaginator id="membersScrollHeader" for="members" rendered="true"
						   rowsCountVar="rowsCount"
						   displayedRowsCountVar="displayedRowsCountVar"
						   firstRowIndexVar="firstRowIndex"
						   lastRowIndexVar="lastRowIndex"
						   pageCountVar="pageCount" pageIndexVar="pageIndex">
			<ice:outputFormat value="#{msg['members.members.paginator.info']}"
							  styleClass="standard">
				<f:param value="#{rowsCount}" />
				<f:param value="#{displayedRowsCountVar}" />
				<f:param value="#{firstRowIndex}" />
				<f:param value="#{lastRowIndex}" />
				<f:param value="#{pageIndex}" />
				<f:param value="#{pageCount}" />
			</ice:outputFormat>
		</ice:dataPaginator>
		<ice:dataPaginator id="memberScrollFooter" for="members" fastStep="3"
						   pageCountVar="pageCount" pageIndexVar="pageIndex"
						   paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage_1"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage_1"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage_1"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;"
					title="#{msg['page.dataScrolling.previouspage']}" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage_1"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
		</ice:dataPaginator>
	</ice:panelGroup>
	
	<ice:panelGrid columns="3" columnClasses="hanDatatableElementLeft">
		<ice:outputText value="#{msg['member.group.group.name']}" />
		<ice:inputText value="#{groupManagementBean.groupName}" maxlength="40" />
		<ice:panelGrid columns="2">
			<ice:commandButton value="#{msg['member.group.save']}" action="#{groupManagementBean.saveGroup}" />
			<ice:commandButton value="#{msg['member.group.clear']}" action="#{groupManagementBean.clear}" />
		</ice:panelGrid>
	</ice:panelGrid>
</ice:panelGrid>