<ice:panelGrid xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  width="100%" styleColumns="hanDatatableElementLeft" columns="1">
	<ice:messages layout="list"/>
	<ice:panelDivider dividerPosition="59" orientation="vertical" style="width: 100%; height: 300px;">
		<f:facet name="first">
			<ui:include src="../groupManagement/foundUsers.xhtml" />
		</f:facet>
		<f:facet name="second">
			<ui:include src="../groupManagement/members.xhtml" />
		</f:facet>
	</ice:panelDivider>
	<ui:include src="../groupManagement/groupSearch.xhtml" />
	<ui:include src="../groupManagement/criteria.xhtml" />
	<ui:include src="../groupManagement/individualSearch.xhtml" />
	<ui:include src="../groupManagement/bulkUploadSearch.xhtml" />
</ice:panelGrid>