<html>
<body>
<table border="0" width="100%" cellspacing="0" cellpadding="8" bgcolor="#000042">
<tr>
<td>
<font face="Arial" size="2">
<a href="https://www.chicagohan.org/">
<img border="0" src="http://www.chicagohan.org/public/images/HAN-Logo-5b.png" align="left"></a></font></td>
</tr>
</table>
<p><font face="Arial" size="2"><b><font color="#000080">This is a message from the Chicago Department of Public Health - Health Alert 
Network (HAN) - </font> <a href="http://www.chicagohan.org">
<font color="#000080">http://www.chicagohan.org</font></a></b></font></p>
<b>!-----DO NOT REPLY TO THIS EMAIL-----!</b><br><br>
CDPH HAN Registration Request Confirmation of Receipt<br><br>

Thank you for interest in the Health Alert Network (HAN).  We have received your registration request.<br><br>

Your request No. is: <b><font color='blue'>${registrationReq.id}</font></b><br><br>

What you should expect next:<br>
<p>Your request will be reviewed by the Chicago Department of Public Health within 48 hours (during regular working hours). At that time you will receive an approval email with instructions on how to access the HAN or a rejection email explaining why you were denied access.</p>

Please contact the HAN Help Desk with your questions: (312) 747-8789 or <a href='mailto:hanhelpdesk@cdph.org'>hanhelpdesk@cdph.org</a><br><br>

<b>!-----DO NOT REPLY TO THIS EMAIL-----!</b>
<hr color="#808080" size="4">
<p>
<font face="Arial" size="2">
<a href="http://egov.cityofchicago.org/city/webportal/portalEntityHomeAction.do?entityName=Health&entityNameEnumValue=21">
<img border="0" src="http://www.chicagohan.org/public/images/RxChicago-horizontal.jpg" align="left"></a></font></p>
</body>
</html>
