<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:ui="http://java.sun.com/jsf/facelets">
<!--
Available ui:params to pass:
 title
 description
 resourceValue
-->
    <div class="example">
        <style type="text/css">
            .documentation-menu .wijmo-wijmenu-link { padding:2px; }
            .documentation-menu .wijmo-wijmenu-item { margin:0; }
            .documentation-menu { padding:0; }

            #examplePanel > .ui-panel-titlebar > .ui-panel-title {
                width:100%;
            }

                /*menu*/
            #examplePanel > .ui-panel-titlebar > .ui-panel-title > div { /* ace:menuBar has detail-less wrapper div */
                display:inline-block;
                vertical-align: middle;
                width:20%;
                text-align: right;
                /* IE7 inline-block hack */
                zoom: 1;
                *display:inline;
            }
            #examplePanel > .ui-panel-titlebar > .ui-panel-title > div > div {
                display: inline-block;
                font-size:10pt;
                /* IE7 inline-block hack */
                zoom: 1;
                *display:inline;
            }

                /*title*/
            #examplePanel > .ui-panel-titlebar > .ui-panel-title > span {
                display:inline-block;
                vertical-align: middle;
                width:80%;
                /* IE7 inline-block hack */
                zoom: 1;
                *display:inline;
            }
        </style>
        <ace:panel header="#{title}" id="examplePanel" styleClass="containerPanelStyle">
        <div class="content">
            <div class="desc">
                <ice:outputText value="#{description}" escape="false" nospan="true"/>
            </div>
            <h:panelGroup layout="block" styleClass="instance" rendered="#{navigationModel.renderAsExample}">
                <ui:insert name="example"/>
            </h:panelGroup>
        </div>
            <f:facet name="header">
				<h:outputText value="#{title}"  escape="false"/>
				<ace:menuBar direction="down left" styleClass="documentation-menu">
					<ace:multiColumnSubmenu label="Documentation">
						<ace:menuColumn>
							<ace:submenu label="WIKI Documentation">
								<c:forEach items="#{wikiResources}" var="wiki">
								   <ace:menuItem value="#{wiki.title}" url="#{wiki.resource}" urlEncoding="none" target="_blank"/>
								</c:forEach>
							</ace:submenu>
						</ace:menuColumn>
						<ace:menuColumn>
							<ace:submenu label="TLD Documentation">
								<c:forEach items="#{tldResources}" var="tld">
								   <ace:menuItem value="#{tld.title}" url="#{tld.resource}" urlEncoding="none" target="_blank"/>
								</c:forEach>
							</ace:submenu>
						</ace:menuColumn>
					</ace:multiColumnSubmenu>
				</ace:menuBar>
            </f:facet>
        </ace:panel>

        <h:form id="sourceCodeForm" rendered="#{navigationModel.renderAsExample}">
            <ace:panel id="sourceCodePanel" collapsed="#{navigationModel.sourceCodeToggleStatus}" toggleable="true" header="Source Code" styleClass="containerPanelStyle rimeHeightAdjustment">
                <ace:ajax event="toggle" execute="@this"/>
                <div class="resources">
                    <ace:tabSet clientSide="true" selectedIndex="0"
                                rendered="#{not empty resourceValue}">
                        <c:forEach items="#{resourceValue}"
                                   var="exRes">
                            <ace:tabPane label="#{exRes.title}">
								<div style="background-color:#fff;">
									<h:outputText escape="false" value="#{sourceCodeLoaderConnection[exRes.resource]}" />
								</div>
                            </ace:tabPane>
                        </c:forEach>
                    </ace:tabSet>
                </div>
            </ace:panel>
        </h:form>
    </div>
</ui:composition>