<!--ui:component xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets"-->
<ice:panelGroup width="100%" style="padding: 10px;"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core">

	<ice:panelCollapsible id="formPanel" expanded="true" immediate="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText id="formHeader"
					value="#{msg['audittrail.search.form.panel1.title']}" />
			</ice:panelGroup>
		</f:facet>
		<ice:panelGroup>
			<ice:outputText value="#{msg['audittrail.search.form.note.title']}"
				style="font-weight: bold" />
			<ice:outputText value="#{msg['audittrail.search.form.note.text']}" />
			<ice:panelGrid columns="4" cellpadding="15px" cellspacing="15px"
				width="100%" id="gridSearchForm1">
				<!-- Start Date-->
				<ice:outputLabel for="formStartDate"
					value="#{msg['audittrail.search.form.field.startdate.text']}" />
				<ice:panelGroup>
					<!-- <ace:dateTimeEntry id="formStartDate"
						value="#{auditTrailBean.startDate}"
						timeZone="#{msg['han.time.zone']}"
						pattern="#{msg['han.form.date.format']}"
						renderAsPopup="true"
						/> -->
					
					<ice:selectInputDate id="formStartDate"
						binding="#{auditTrailBean.startDateComp}"
						value="#{auditTrailDataModel.startDate}" renderAsPopup="true"
						highlightClass="weekend" highlightUnit="DAY_OF_WEEK"
						highlightValue="1,7"
						label="#{msg['audittrail.search.form.field.startdate.text']}">
						<f:convertDateTime pattern="#{msg['han.form.date.format']}"
							timeZone="#{msg['han.time.zone']}" />
					</ice:selectInputDate>
					<!-- <h:message style="color: red" for="formStartDate" /> -->
				</ice:panelGroup>
				<!-- End Date-->
				<ice:outputLabel for="formEndDate"
					value="#{msg['audittrail.search.form.field.enddate.text']}" />
				<ice:panelGroup>
					<!-- <ace:dateTimeEntry id="formEndDate"
						value="#{auditTrailBean.endDate}"
						timeZone="#{msg['han.time.zone']}"
						pattern="#{msg['han.form.date.format']}"
						renderAsPopup="true"
						/> -->
					<ice:selectInputDate id="formEndDate"
						binding="#{auditTrailBean.endDateComp}"
						value="#{auditTrailDataModel.endDate}" renderAsPopup="true"
						highlightClass="weekend" highlightUnit="DAY_OF_WEEK"
						highlightValue="1,7"
						label="#{msg['audittrail.search.form.field.enddate.text']}">
						<f:convertDateTime pattern="#{msg['han.form.date.format']}"
							timeZone="#{msg['han.time.zone']}" />
					</ice:selectInputDate>
					<h:message style="color: red" for="formEndDate" />
				</ice:panelGroup>

				<!-- Performed by -->
				<ice:outputLabel for="performedBy"
					value="#{msg['audittrail.search.form.field.performedby.text']}" />
					<!-- <ace:textEntry 
						id="performedBy" 
						value="#{auditTrailBean.performedBy}" 
						style="width:150px;"
					/> -->

				<ice:inputText id="performedBy"
					value="#{auditTrailDataModel.performedBy}" style="width:150px;"
					binding="#{auditTrailBean.performedByComp}" />

				<!-- Operation -->
				<ice:outputLabel for="operation"
					value="#{msg['audittrail.search.form.field.operation.text']}" />

				<ice:selectOneMenu value="#{auditTrailDataModel.actionPerformed}" id="operation" binding="#{auditTrailBean.actionPerformedComp}">
					<f:selectItems value="#{auditTrailBean.actions}" />
					<!-- <f:selectItems value="#{auditTrailBean.actions.displayFormat}" /> -->
					<ace:ajax />
				</ice:selectOneMenu>
				<!-- <ice:selectOneMenu id="operation"
					value="#{auditTrailBean.actionPerformed}"
					binding="#{auditTrailBean.actionPerformedComp}">
					<f:selectItems value="#{auditTrailBean.actions}" />
				</ice:selectOneMenu> -->

				<!-- Result -->
				<!--ice:outputLabel for="result"
                                     value="#{msg['audittrail.search.form.field.result.text']}"/>
                    <ice:inputText id="result" value="#{auditTrailBean.result}"/-->
			</ice:panelGrid>
			<br />
			<ice:panelGrid columns="2" cellpadding="15px" id="gridSearchForm2">
				<ice:commandButton id="SubmitBtn" type="submit"
					value="#{msg['audittrail.search.form.field.submit.text']}"
					actionListener="#{auditTrailBean.searchButtonListener}" />
				<ice:commandButton id="ClearBtn"
					value="#{msg['audittrail.search.form.field.clear.text']}"
					actionListener="#{auditTrailBean.clearButtonListener}"
					immediate="true" />
			</ice:panelGrid>
		</ice:panelGroup>
	</ice:panelCollapsible>
	<ice:panelCollapsible id="batchGroupPanel" expanded="true"
		immediate="true">
		<f:facet name="header">
			<ice:panelGroup>
				<ice:outputText id="resultsHeader"
					value="#{msg['audittrail.search.form.panel2.title']}" />
			</ice:panelGroup>
		</f:facet>

		<!-- <ui:include src="users.xhtml" /> -->

		<ui:include src="results.xhtml" />

	</ice:panelCollapsible>

</ice:panelGroup>
<!--/ui:component-->