<?xml version="1.0" encoding="UTF-8"?>
<ui:composition 
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:alloy="http://liferay.com/faces/alloy"
	xmlns:aui-cc="http://liferay.com/faces/aui-cc" 
	xmlns:liferay-ui="http://liferay.com/faces/ui"
	xmlns:ice="http://www.icesoft.com/icefaces/component" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" 
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:portal="http://liferay.com/faces/portal"
	>

	<h:form id="f1" styleClass="aui-form">
		<aui-cc:messages globalOnly="true" layout="table" />
		<h:panelGroup layout="block" rendered="#{usersViewBean.formRendered}">
			<alloy:row>
				<alloy:column width="15">
					<alloy:fieldset label="#{i18n['personal']}">
						<alloy:field id="firstNameField" label="#{i18n['first-name']}">
							<ace:textEntry id="firstName" required="true" requiredIndicator="*"
								value="#{usersModelBean.selectedUser.firstName}" />
							<h:message for="firstName" />
						</alloy:field>
						<alloy:field id="middleNameField" label="#{i18n['middle-name']}">
							<ace:textEntry id="middleName" value="#{usersModelBean.selectedUser.middleName}" />
						</alloy:field>
						<alloy:field id="lastNameField" label="#{i18n['last-name']}">
							<ace:textEntry id="lastName" required="true" requiredIndicator="*"
								value="#{usersModelBean.selectedUser.lastName}" />
							<h:message for="lastName" />
						</alloy:field>
						<alloy:field id="emailAddressField" label="#{i18n['email-address']}">
							<ace:textEntry id="emailAddress" inlineMessage="true" label="#{i18n['email-address']}" required="true"
								requiredIndicator="*" validatorMessage="#{i18n['invalid-email-address']}"
								value="#{usersModelBean.selectedUser.emailAddress}">
								<f:validateRegex pattern=".+[@].+[.].+" />
							</ace:textEntry>
							<h:message for="emailAddress" />
						</alloy:field>
						<alloy:field id="jobTitleField" label="#{i18n['job-title']}">
							<ace:textEntry id="jobTitle" inlineMessage="true" label="#{i18n['job-title']}" required="false"
								value="#{usersModelBean.selectedUser.jobTitle}" />
							<h:message for="jobTitle" />
						</alloy:field>
					</alloy:fieldset>
				</alloy:column>
				<alloy:column width="15">
					<alloy:fieldset label="#{i18n['administration']}">
						<aui-cc:select inlineMessage="true" label="#{i18n['status']}" required="true"
							value="#{usersModelBean.selectedUser.status}">
							<f:selectItems value="#{usersModelBean.statusSelectItems}" />
							<f:converter for="selectOneMenu" converterId="javax.faces.Integer" />
						</aui-cc:select>
					</alloy:fieldset>
				</alloy:column>
				<alloy:column width="20">
					<alloy:fieldset label="#{i18n['portrait']}">
						<alloy:field>
							<h:graphicImage value="#{usersModelBean.selectedUserPortraitURL}" style="width:100px;" />
							<ace:fileEntry id="fileEntryComp" absolutePath="#{usersBackingBean.fileUploadAbsolutePath}"
								fileEntryListener="#{usersBackingBean.handleFileUpload}" />
							<h:commandButton immediate="true" value="#{i18n['upload-image']}" />
						</alloy:field>
					</alloy:fieldset>
				</alloy:column>
			</alloy:row>
			<alloy:buttonRow>
				<ace:pushButton id="pushButtonSubmit" actionListener="#{usersBackingBean.save}" value="#{i18n['submit']}" />
				<ace:pushButton id="pushButtonCancel" actionListener="#{usersBackingBean.cancel}" immediate="true"
					value="#{i18n['cancel']}" />
			</alloy:buttonRow>
			<hr />
		</h:panelGroup>
		<h:panelGroup layout="block" rendered="#{!usersViewBean.formRendered}">
			<alloy:row>
				<alloy:column styleClass="aui-w100 pfusers">
					<div class="separator" />
					<ace:dataTable id="users" doubleClickSelect="true" lazy="true" paginator="true" paginatorPosition="top"
						rows="#{usersModelBean.dataModel.rowsPerPage}" rowSelectListener="#{usersBackingBean.selectUser}"
						selectionMode="single" singleSort="true" value="#{usersModelBean.dataModel}" var="user">
						<ace:column id="screenName" filterBy="#{user.screenName}" headerText="#{i18n['screen-name']}"
							sortBy="#{user.screenName}">
							<h:outputText id="screenNameCell" value="#{user.screenName}" />
						</ace:column>
						<ace:column id="lastName" filterBy="#{user.lastName}" headerText="#{i18n['last-name']}" sortBy="#{user.lastName}">
							<h:outputText id="lastNameCell" value="#{user.lastName}" />
						</ace:column>
						<ace:column id="firstName" filterBy="#{user.firstName}" headerText="#{i18n['first-name']}"
							sortBy="#{user.firstName}">
							<h:outputText id="firstNameCell" value="#{user.firstName}" />
						</ace:column>
						<ace:column id="middleName" filterBy="#{user.middleName}" headerText="#{i18n['middle-name']}"
							sortBy="#{user.middleName}">
							<h:outputText id="middleNameCell" value="#{user.middleName}" />
						</ace:column>
						<ace:column id="emailAddress" filterBy="#{user.emailAddress}" headerText="#{i18n['email-address']}"
							sortBy="#{user.emailAddress}">
							<h:outputLink value="mailto:#{user.emailAddress}">
								<h:outputText value="#{user.emailAddress}" />
							</h:outputLink>
						</ace:column>
						<ace:column id="jobTitle" filterBy="#{user.jobTitle}" headerText="#{i18n['job-title']}" sortBy="#{user.jobTitle}">
							<h:outputText id="jobTitleCell" value="#{user.jobTitle}" />
						</ace:column>
					</ace:dataTable>
					<liferay-ui:info message="there-are-no-results" rendered="#{usersModelBean.dataModel.rowCount == 0}" />
				</alloy:column>
			</alloy:row>
		</h:panelGroup>
	</h:form>

</ui:composition>
