<ui:component xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
	<ice:panelGrid columns="1" width="100%" columnClasses="hanDatatableElementLeft">

		<!-- DataTable with 10 rows per page -->
		<ice:dataTable id="resultTable" var="group"
			value="#{batchUploadSearchBean.searchResults}" 
			rows="#{batchUploadSearchBean.searchResults.rowsPerPage}" scrollable="false"
			columnWidths="100px,100px,200px,200px,100px,50px,100px,50px,50px" cellpadding="0" 
			style="background-color:white"
			headerClasses="hanDatatableElement"
			columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElement,
				hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElement">
			<ice:column>
				 <ice:rowSelector id="selected"
                                 value="#{group.selected}"
                                 multiple="false"
                                 selectionListener="#{batchUploadSearchBean.rowSelectionListener}"/>				
				<f:facet name="header">
					<ice:outputText id="column1"
						value="#{msgs['batchSearch.panel2.search.results.header1']}" />
				</f:facet>
				<ice:outputText id="createdDate" value="#{group.createdDate}">
					<f:convertDateTime pattern="#{msgs['han.date.format']}"
												   timeZone="#{msgs['han.time.zone']}" />
				</ice:outputText>
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column2"
						value="#{msgs['batchSearch.panel2.search.results.header2']}" />
				</f:facet>
				<ice:outputText id="groupName" value="#{group.name}" />
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column3"
						value="#{msgs['batchSearch.panel2.search.results.header3']}" />
				</f:facet>
				<ice:outputText id="description" value="#{group.description}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column4"
						value="#{msgs['batchSearch.panel2.search.results.header4']}" />
				</f:facet>
				<ice:outputText id="eventDescription" value="#{group.eventDescription}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column5"
						value="#{msgs['batchSearch.panel2.search.results.header5']}" />
				</f:facet>
				<ice:outputText id="contactPreferences" value="#{group.contactPreferencesAbbreviated}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column6"
						value="#{msgs['batchSearch.panel2.search.results.header6']}" />
				</f:facet>
				<ice:panelGroup style="text-align: center; white-space: nowrap;" >
					<ice:graphicImage url="#{msgs[group.statusImagePath]}" alt="#{group.status}"/>
					<ice:outputResource
					        resource="#{group.errorLogResource}"
					        type="image"
							image="#{msgs['batchSearch.row.error.log.image']}"
							fileName="#{group.name}.log"
							shared="false"
							mimeType="text/plain"
							attachment="true" 
							rendered="#{group.errorLogRendered}"/>
				</ice:panelGroup>
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column7"
						value="#{msgs['batchSearch.panel2.search.results.header7']}" />
				</f:facet>
				<ice:outputText id="processedDate" value="#{group.processedDate}" >
					<f:convertDateTime pattern="#{msgs['han.date.format']}"
												   timeZone="#{msgs['han.time.zone']}" />
				</ice:outputText>
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column8"
						value="#{msgs['batchSearch.panel2.search.results.header8']}" />
				</f:facet>
				<ice:panelGroup style="text-align: center; white-space: nowrap;" >
					<ice:outputResource
				        resource="#{group.fileResource}"
				        type="image"
						image="#{msgs['batchSearch.row.download.image']}"
						fileName="#{group.name}.xls"
						shared="false"
						mimeType="text/plain"
						attachment="true" 
						rendered="#{group.downloadButtonRendered}"/>
				</ice:panelGroup>
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column9"
						value="#{msgs['batchSearch.panel2.search.results.header9']}" />
				</f:facet>
				<ice:panelGroup style="text-align: center; white-space: nowrap;" >				
					<ice:commandButton
							   image="#{msgs['batchSearch.row.delete.image']}"
                               actionListener="#{batchUploadSearchBean.togglePopUp}"
		                       alt="#{msgs['batchSearch.delete.row.button.text']}"
		                       rendered="#{group.deleteButtonRendered}"/>
		        </ice:panelGroup>                
			</ice:column>

		</ice:dataTable>
		
		
		<ice:panelGrid columns="1">
			<ice:panelGrid border="1" bgcolor="#f7e68e" columnClasses="hanDatatableElement">
				<ice:outputText value="#{msgs['batchSearch.preferences.legend']}" />		
			</ice:panelGrid>
			
			<!-- DataPaginator displaying information about the currently displayed
		         page and location within the dataModel-->
			<ice:panelGroup>
				<ice:dataPaginator id="dataScroll" for="resultTable"
					rowsCountVar="rowsCount"
					displayedRowsCountVar="displayedRowsCountVar"
					firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
					pageCountVar="pageCount" pageIndexVar="pageIndex">
					<ice:outputFormat
						value="#{msgs['batchSearch.panel2.search.results.summary']}">
						<f:param value="#{rowsCount}" />
						<f:param value="#{displayedRowsCountVar}" />
						<f:param value="#{firstRowIndex}" />
						<f:param value="#{lastRowIndex}" />
						<f:param value="#{pageIndex}" />
						<f:param value="#{pageCount}" />
					</ice:outputFormat>
				</ice:dataPaginator>
			</ice:panelGroup>
			
			<ice:dataPaginator id="dataScroll_batches" 
				for="resultTable" rendered="true" fastStep="3" pageIndexVar="pageIndex"
				paginator="true" paginatorMaxPages="4">
				<f:facet name="first">
					<ice:graphicImage 
						url="#{msgs['icefaces.paginator.first.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="last">
					<ice:graphicImage
						url="#{msgs['icefaces.paginator.last.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="previous">
					<ice:graphicImage
						url="#{msgs['icefaces.paginator.previous.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="next">
					<ice:graphicImage
						url="#{msgs['icefaces.paginator.next.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="fastforward">
					<ice:graphicImage
						url="#{msgs['icefaces.paginator.fastforward.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="fastrewind">
					<ice:graphicImage 
						url="#{msgs['icefaces.paginator.fastrewind.button.image']}"
						style="border:none;" />
				</f:facet>
			</ice:dataPaginator>
		</ice:panelGrid>
		
		<!-- Modal Panel Popup -->
		<ice:panelPopup draggable="false" modal="true"
		                visible="#{batchUploadSearchBean.popUpRendered}"
		                autoCentre="true"
		                styleClass="corePopup">
		    <f:facet name="header">
		        <ice:panelGroup styleClass="popupHeaderWrapper">
		            <ice:outputText
		                    value="#{msgs['batchSearch.delete.popup.title']}"
		                    styleClass="popupHeaderText"/>
		            <ice:commandButton type="button"
		                               image="#{msgs['page.panelPopup.closeImage']}"
		                               actionListener="#{batchUploadSearchBean.togglePopUp}"
		                               styleClass="popupHeaderImage"
		                               title="#{msgs['batchSearch.delete.popup.close.caption']}" 
		                               alt="#{msgs['batchSearch.delete.popup.close.alt']}"/>
		        </ice:panelGroup>
		    </f:facet>
		    <f:facet name="body">
		        <ice:panelGroup styleClass="popupBody">
		            <ice:outputText value="#{msgs['batchSearch.delete.popup.body']}"/><br/>
		            <ice:commandButton id="popbtn1" 		            					
		            				   type="submit"
		                               value="#{msgs['batchSearch.delete.popup.yes.button']}"
		                               actionListener="#{batchUploadSearchBean.deleteGroup}"/>
		            <ice:commandButton id="popbtn2"
		            				   type="submit"
		                               value="#{msgs['batchSearch.delete.popup.no.button']}"
		                               actionListener="#{batchUploadSearchBean.togglePopUp}"/>
		        </ice:panelGroup>
		    </f:facet>
		</ice:panelPopup>

	</ice:panelGrid>
	
	
	

</ui:component>