<ice:panelGroup xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
	<ice:panelPositioned id="contactPref" var="contactPref"
		value="#{batchUploadBean.contactPrefs}"
		styleClass="positionPanelContainer"
		constraint="vertical">
		<ice:panelGroup style="cursor:move;" styleClass="container">
			<ice:panelGroup styleClass="moveLabel" style="border: 4px red">
				<ice:outputText id="name" value="#{contactPref}" />
			</ice:panelGroup>
		</ice:panelGroup>
	</ice:panelPositioned>
</ice:panelGroup>