<ice:panelGroup xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  style="width: 250px">
	<ice:panelPositioned id="alternateContacts" var="alternateContact"
						 value="#{devicePreferencesBean.alternateContacts}"
						 styleClass="positionPanelContainer"
						 constraint="vertical">
		<ice:panelGroup style="cursor:move;width:auto;" styleClass="container">
			<ice:panelGroup styleClass="moveLabel" style="height:auto;border: 4px red;">
				<ice:outputText value="#{alternateContact.id}" />
				<ice:outputText value="#{alternateContact.firstName}" />
				<ice:outputText value="#{alternateContact.lastName}" />
				<ice:commandLink value="x" actionListener="#{devicePreferencesBean.removeAlternateContact}">
					<f:param value="#{alternateContact.id}" name="alternateContactId" />
				</ice:commandLink>
			</ice:panelGroup>
		</ice:panelGroup>
	</ice:panelPositioned>
</ice:panelGroup>