<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msg['icefaces.portlet.style.showcase.css']}" />	
		<ice:form>
			<ui:include src="uploadForm.xhtml" />
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>