<ice:panelGrid xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	columns="1" columnClasses="hanDatatableElementLeft" width="100%"
>
 		<ice:panelGrid columns="1" columnClasses="hanDatatableElementLeft">
	  		<ice:outputText value="#{msg['preferences.alternates.inst.1']}"/>
	  		<ice:outputText value="#{msg['preferences.alternates.inst.2']}"/>
	  		<ice:outputText value="#{msg['preferences.alternates.inst.3']}"/>
	  		<ice:outputText value="#{msg['preferences.alternates.inst.note']}"/>
 		</ice:panelGrid>
  		<ice:panelGrid columns="3" columnClasses="hanDatatableElementLeft">
	   		<ice:outputText value="#{msg['preferences.search.first.name']}" />
	   		<ice:outputText value="#{msg['preferences.search.last.name']}" />
	   		<ice:outputText value=" " />
	   		<ice:inputText id="firstName" value="#{devicePreferencesBean.firstName}" size="15" maxlenght="20" />
	   		<ice:inputText id="lastName" value="#{devicePreferencesBean.lastName}" size="15" maxlenght="20" />
	   		<ice:commandButton actionListener="#{devicePreferencesBean.searchUsers}"
	   						   value="#{msg['preferences.search.title']}"/>
  		</ice:panelGrid>
  		<ice:dataTable id="users" var="user" value="#{devicePreferencesBean.foundUsers}"
				   rows="15" scrollable="true" scrollHeight="200px" columnWidths="50px,120px,140px,150px,150px"
				   cellpadding="0"
				   columnClasses="hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft"
				   width="70%">
		<ice:column>
			<ice:rowSelector value="#{user.selected}" multiple="true" />
			<f:facet name="header">
				<ice:outputText value="#{msg['members.id.title']}" />
			</f:facet>
			<ice:outputText value="#{user.id}" />
		</ice:column>
		<ice:column>
			<f:facet name="header">
				<ice:outputText value="#{msg['members.firstName.title']}" />
			</f:facet>
			<ice:outputText value="#{user.firstName}" />
		</ice:column>
		<ice:column>
			<f:facet name="header">
				<ice:outputText value="#{msg['members.lastName.title']}" />
			</f:facet>
			<ice:outputText value="#{user.lastName}" />
		</ice:column>
		<ice:column>
			<f:facet name="header">
				<ice:outputText value="#{msg['members.organization.title']}" />
			</f:facet>
			<ice:outputText value="#{user.organization}" />
		</ice:column>
		<ice:column rendered="false">
			<f:facet name="header">
				<ice:outputText value="#{msg['members.role.title']}" />
			</f:facet>
			<ice:outputText value="#{user.role}" />
		</ice:column>
	</ice:dataTable>
<!-- 
	<ice:panelGrid columns="1">
		<ice:dataPaginator id="userPaginator" for="users" fastStep="3"
						   paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage"
					url="#{msg['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage"
					url="#{msg['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage"
					url="#{msg['icefaces.paginator.previous.button.image']}"
					style="border:none;"
					title="#{msg['page.dataScrolling.previouspage']}" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage"
					url="#{msg['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
		</ice:dataPaginator>
	</ice:panelGrid>
 -->
	<ice:commandButton action="#{devicePreferencesBean.addAlternateContacts}"
					   value="#{msg['preferences.search.add']}"/>

	<ice:panelGroup>
		<ice:commandButton action="#{devicePreferencesBean.savePreferences}" value="#{msg.save}"/>
		<ice:commandButton action="#{devicePreferencesBean.reloadPreferences}" value="#{msg.cancel}"/>
	</ice:panelGroup>

</ice:panelGrid>