<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="true">
			<ice:panelGroup style="background-color:#F7E68E;padding:10px;">
				<ice:outputText value="#{msg['preferences.myaccount.message']}" escape="false" />
			</ice:panelGroup>
			<ice:messages layout="list"/>
			<ice:panelGrid columns="1" 
				columnClasses="hanDatatableElementLeft"
				width="100%">
				<f:facet name="header">
					<h:outputText value="#{msg.preferencesTitle}"/>
				</f:facet>
				<ice:panelGrid columns="1">
					<ice:outputText value="#{msg.preferencesInfo}"/>
					<ice:outputText value="#{msg['preferences.note1']}" />
					<ice:outputText value="#{msg['preferences.note2']}" />
					<ice:outputText value="#{msg['required.field.text.1']}" />
					<ice:outputText value="#{msg['required.field.marker']}"
									style="#{msg['required.field.marker.style']}" />
					<ice:outputText value="#{msg['required.field.text.2']}" />
				</ice:panelGrid>
				<ice:panelGrid columns="2">
						<ice:outputText value="#{msg['required.field.marker']}"
										style="#{msg['required.field.marker.style']}" />
						<ice:outputText value="#{msg.preferenceTitle1}"/>
						<ice:outputText value="          " />
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[0]}" id="pref0" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle2}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[1]}" id="pref1" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle3}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[2]}" id="pref2" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle4}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[3]}" id="pref3" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle5}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[4]}" id="pref4" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle6}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[5]}" id="pref5" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
				</ice:panelGrid>
				<ice:panelGroup>
					<ice:commandButton action="#{devicePreferencesBean.savePreferences}" value="#{msg.save}"/>
					<ice:commandButton action="#{devicePreferencesBean.reloadPreferences}" value="#{msg.cancel}"/>
				</ice:panelGroup>
				<ice:panelGroup style="border-bottom: 1px solid #ABABAB; width: 100%"/>
				<ice:outputLabel value="#{msg['preferences.retrieval.title']}" style="color: black;" />
				<ice:outputLabel value="#{msg['preferences.retrieval.subtitle']}"
								 style="color: black; font-style: italic;" />
					<ice:outputText value="#{msg['preferences.retrieval.info']}" escape="false" />
					<ice:outputText value="#{msg['preferences.retrieval.note']}" escape="false" />
				<ice:panelGrid columns="3">
					<ice:outputLabel value="#{msg['preferences.retrieval.telid']}" for="teleid" />
					<ice:outputText value="#{devicePreferencesBean.telephonyId}" id="teleid" />
					<ice:panelGroup rendered="#{composeAlertBean.admin}">
						<ice:outputText value=" " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyId.help']}" />
					</ice:panelGroup>
					<ice:outputLabel value="#{msg['preferences.retrieval.telpin']}" for="telepin" />
					<ice:inputText value="#{devicePreferencesBean.telephonyPIN}" id="telepin"
								   maxlength="8" />
					<ice:panelGroup>
						<ice:outputText value="  " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyPIN.help']}" />
					</ice:panelGroup>

					<ice:outputLabel value="#{msg['preferences.retrieval.telpass']}" for="telepass"
 									 rendered="#{composeAlertBean.admin}" />
					<ice:inputText value="#{devicePreferencesBean.telephonyPass}" id="telepass"
 								   rendered="#{composeAlertBean.admin}" maxlength="16" />
					<ice:panelGroup>
						<ice:outputText value="  " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyPass.help']}" />
					</ice:panelGroup>
				</ice:panelGrid>
				<ice:panelGroup style="background-color:#F7E68E;padding:10px;"
 								rendered="#{composeAlertBean.admin}">
					<ice:outputLabel value="#{msg['preferences.password.rule.title']}" />
					<ice:panelGroup>
						<ice:outputText value="#{msg['preferences.password.rule.rule.1']}" />
						<ice:outputText value="#{msg['preferences.password.rule.rule.2']}" />
						<ice:outputText value="#{msg['preferences.password.rule.rule.3']}" />
						<ice:outputText value="#{msg['preferences.password.rule.rule.4']}" />
					</ice:panelGroup>
				</ice:panelGroup>
				<ice:panelGroup>
					<ice:commandButton action="#{devicePreferencesBean.savePreferences}" value="#{msg.save}"/>
					<ice:commandButton action="#{devicePreferencesBean.reloadPreferences}" value="#{msg.cancel}"/>
				</ice:panelGroup>
				<ice:panelGroup style="border-bottom: 1px solid #ABABAB; width: 100%"/>
				<ice:outputLabel value="#{msg['preferences.alternates.title']}" style="color: black;" />
					<ice:outputText value="#{msg['preferences.alternates.instructions']}" />
					<ice:outputText value="#{msg['preferences.alternates.note']}" />
				<ice:panelDivider dividerPosition="63" orientation="vertical"
								  style="width: 100%; height: 600px;">
				<f:facet name="first">
					<ui:include src="alternateContactsWindow.xhtml" />
				</f:facet>
				<f:facet name="second">
					<ui:include src="alternateContactsTable.xhtml" />
				</f:facet>
				</ice:panelDivider>
			</ice:panelGrid>
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>