<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
	<f:loadBundle basename="messages" var="msg" />
	<h:head></h:head>
	<h:body>

	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msg['icefaces.portlet.style.showcase.css']}" />
		<ice:form>
			<ice:panelGroup>
				<h2><ice:outputText value="#{msg['registration.request.confirmed.title']}"/></h2>
				<p>
					<ice:outputText value="#{msg['registration.request.confirmed.legend']}" style="font-weight:bold;"/>
				</p>
				<p>
					<ice:outputText value="#{msg['registration.request.confirmed.legend2']}"/>
					<ice:outputText value="#{registrationBean.requestNumber}" style="color:blue; font-weight:bold;"/>
				</p>
				<p>
					<ice:outputText value="#{msg['registration.request.confirmed.legend3']}"/>
				</p>
				<ice:commandButton
                           value="#{msg['registration.request.confirm.finish.button']}"
                           action="finish"
                           immediate="true"/>
			</ice:panelGroup>
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>