<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
>
<!-- <h:outputStyleSheet	 -->
	<f:loadBundle basename="messages" var="msg" />

	<h:head/>
	<h:body>
 	<ice:portlet>  
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msg['icefaces.portlet.style.showcase.css']}" />
		<h:form>
			<ui:include src="registrationForm.xhtml" /> 
		</h:form>
	</ice:portlet> 
	</h:body>
</f:view>