
#set ($portlet_display = $portletDisplay)

#set ($portlet_id = $portlet_display.getId())
#set ($portlet_title = $portlet_display.getTitle())
#set ($portlet_content = $portlet_display.getContent())
#set ($portlet_back_url = $portlet_display.getURLBack())

<div class="portlet" id="portlet-wrapper-$portlet_id">
	<div class="portlet-topper">
		<span class="portlet-title">
			$theme.iconPortlet() $portlet_title
		</span>

		<menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_$portlet_id" type="toolbar">
			#if ($portlet_display.isShowBackIcon())
				<a class="portlet-icon-back" href="$portlet_back_url">#language ("return-to-full-page")</a>
			#else
				$theme.portletIconOptions()
			#end
		</menu>
		</div>
	

	<div class="portlet-content">
		$portlet_display.writeContent($writer)
	</div>
</div>