<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:loadBundle basename="messages" var="msgs" />

	<ice:outputDeclaration doctypeRoot="HTML"
		doctypePublic="-//W3C//DTD HTML 4.01 Transitional//EN"
		doctypeSystem="http://www.w3.org/TR/html4/transitional.dtd" />

	<ice:portlet>
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="#{msgs['icefaces.portlet.style.showcase.css']}" />
		<ice:form>
			<ice:panelGroup>
				<h2><ice:outputText value="#{msgs['registration.approval.approved.title']}" style="font-color:green;font-weight:bold;"/></h2>
				<p>
					<ice:outputText value="#{msgs['registration.approval.approved.legend']}" style="font-weight:bold;"/>
				</p>
				<p>
					<ul>
						<li><ice:outputText value="#{msgs['registration.approval.approved.step1']}"/></li>
						<li><ice:outputText value="#{msgs['registration.approval.approved.step2']}"/></li>
						<li><ice:outputText value="#{msgs['registration.approval.approved.step3']}"/></li>
						<li><ice:outputText value="#{msgs['registration.approval.approved.step4']}"/></li>
						<li><ice:outputText value="#{msgs['registration.approval.approved.step5']}"/></li>
					</ul>
				</p>
				<ice:commandButton
                           value="#{msgs['registration.approval.approved.finish.button']}"
                           action="finish"
                           immediate="true"/>
			</ice:panelGroup>
		</ice:form>
	</ice:portlet>
</f:view>