<ui:component xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ice:panelGrid columns="1" width="100%">

		<!-- DataTable with 10 rows per page -->
		<ice:dataTable id="resultTable" var="regReq"
			value="#{registrationApprovalBean.pendingRegistrations}" 
			rows="#{registrationApprovalBean.pendingRegistrations.rowsPerPage}" 
			scrollable="false"
			columnWidths="100px,150px,300px,200px" 
			cellpadding="0" 
			style="background-color:white"
			columnClasses="hanDatatableElement">
			<ice:column>
				 <ice:rowSelector id="selected"
                                 value="#{regReq.selected}"
                                 multiple="false"
                                 selectionAction="#{registrationApprovalBean.rowSelectionAction}"/>				
				<f:facet name="header">
					<ice:outputText id="column1"
						value="#{msgs['registration.approval.form.table.header1']}" />				
				</f:facet>
				<ice:outputText id="createdDate" value="#{regReq.id}"/>
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column2"
						value="#{msgs['registration.approval.form.table.header2']}" />
				</f:facet>
				<ice:outputText id="groupName" value="#{regReq.firstName} #{regReq.middleName} #{regReq.lastName}"/>
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column3"
						value="#{msgs['registration.approval.form.table.header3']}" />
				</f:facet>
				<ui:fragment rendered="#{not empty regReq.organization}">		
					<ice:outputText value="#{regReq.organization.name}"/>
				</ui:fragment>
				<ui:fragment rendered="#{empty regReq.organization}">	
					<ice:outputText value="#{regReq.organizationName}"/>
				</ui:fragment>
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column4"
						value="#{msgs['registration.approval.form.table.header4']}" />
				</f:facet>
				<ice:outputText id="eventDescription" value="#{regReq.requestSubmissionDate}">
					<f:convertDateTime pattern="#{msgs['han.date.format']}"
												   timeZone="#{msgs['han.time.zone']}" />
				</ice:outputText>
			</ice:column>
		
		</ice:dataTable>
		
		<!-- DataPaginator displaying information about the currently displayed
	         page and location within the dataModel-->
		<ice:panelGroup>
			<ice:dataPaginator id="dataScroll" for="resultTable"
				rowsCountVar="rowsCount"
				displayedRowsCountVar="displayedRowsCountVar"
				firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
				pageCountVar="pageCount" pageIndexVar="pageIndex">
				<ice:outputFormat
					value="#{msgs['registration.approval.form.title.summary']}">
					<f:param value="#{rowsCount}" />
					<f:param value="#{displayedRowsCountVar}" />
					<f:param value="#{firstRowIndex}" />
					<f:param value="#{lastRowIndex}" />
					<f:param value="#{pageIndex}" />
					<f:param value="#{pageCount}" />
				</ice:outputFormat>
			</ice:dataPaginator>
		</ice:panelGroup>
		
		<ice:dataPaginator id="dataScroll_2" 
			for="resultTable" rendered="true" fastStep="3" pageIndexVar="pageIndex"
			paginator="true" paginatorMaxPages="4">
			<f:facet name="first">
				<ice:graphicImage id="firstpage"
					url="#{msgs['icefaces.paginator.first.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="last">
				<ice:graphicImage id="lastpage"
					url="#{msgs['icefaces.paginator.last.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="previous">
				<ice:graphicImage id="previouspage"
					url="#{msgs['icefaces.paginator.previous.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="next">
				<ice:graphicImage id="nextpage"
					url="#{msgs['icefaces.paginator.next.button.image']}"
					style="border:none;" />
			</f:facet>
			<!--f:facet name="fastforward">
				<ice:graphicImage id="fastforward"
					url="#{msgs['icefaces.paginator.fastforward.button.image']}"
					style="border:none;" />
			</f:facet>
			<f:facet name="fastrewind">
				<ice:graphicImage id="fastrewind"
					url="#{msgs['icefaces.paginator.fastrewind.button.image']}"
					style="border:none;" />
			</f:facet-->
		</ice:dataPaginator>

	</ice:panelGrid>

</ui:component>