<f:view xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ice="http://www.icesoft.com/icefaces/component">
    <f:loadBundle basename="messages" var="msg"/>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="true">
			<ice:panelGroup style="background-color:#F7E68E;padding:10px;">
				<ice:outputText value="#{msg['preferences.myaccount.message']}" escape="false" />
			</ice:panelGroup>
			<br />
			<ice:messages layout="list"/>
			<ice:panelGrid columns="1" 
				columnClasses="hanDatatableElementLeft"
				width="100%">
				<f:facet name="header">
					<h:outputText value="#{msg.preferencesTitle}"/>
				</f:facet>
				<p>
					<ice:outputText value="#{msg.preferencesInfo}"/><br />
					<ice:outputText value="#{msg['preferences.note1']}" /><br />
					<ice:outputText value="#{msg['preferences.note2']}" /><br />
					<ice:outputText value="#{msg['required.field.text.1']}" />
					<ice:outputText value="#{msg['required.field.marker']}"
									style="#{msg['required.field.marker.style']}" />
					<ice:outputText value="#{msg['required.field.text.2']}" />
				</p>
				<ice:panelGrid columns="2">
					<ice:panelGroup>
						<ice:outputText value="#{msg['required.field.marker']}"
										style="#{msg['required.field.marker.style']}" />
						<ice:outputText value="#{msg.preferenceTitle1}"/>
						<ice:outputText value="          " />
					</ice:panelGroup>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[0]}" id="pref0" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle2}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[1]}" id="pref1" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle3}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[2]}" id="pref2" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle4}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[3]}" id="pref3" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle5}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[4]}" id="pref4" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
					<ice:outputText value="#{msg.preferenceTitle6}"/>
					<ice:selectOneMenu value="#{devicePreferencesBean.preferences[5]}" id="pref5" immediate="true"
									   valueChangeListener="#{devicePreferencesBean.preferenceChanged}">
						<f:selectItem itemLabel="#{msg.preferenceSelectOne}" itemValue=""/>
						<f:selectItems value="#{devicePreferencesBean.contactDevices}"/>
					</ice:selectOneMenu>
				</ice:panelGrid>
				<ice:panelGroup>
					<ice:commandButton action="#{devicePreferencesBean.savePreferences}" value="#{msg.save}"/>
					<ice:commandButton action="#{devicePreferencesBean.reloadPreferences}" value="#{msg.cancel}"/>
				</ice:panelGroup>
				<br />
				<ice:panelGroup style="border-bottom: 1px solid #ABABAB; width: 100%"/>
				<ice:outputLabel value="#{msg['preferences.retrieval.title']}" style="color: black;" />
				<ice:outputLabel value="#{msg['preferences.retrieval.subtitle']}"
								 style="color: black; font-style: italic;" />
				<p>
					<ice:outputText value="#{msg['preferences.retrieval.info']}" escape="false" /><br />
					<ice:outputText value="#{msg['preferences.retrieval.note']}" escape="false" />
				</p>
				<ice:panelGrid columns="3">
					<ice:outputLabel value="#{msg['preferences.retrieval.telid']}" for="teleid" />
					<ice:outputText value="#{devicePreferencesBean.telephonyId}" id="teleid">
						<f:convertNumber pattern="###-###-###" />
					</ice:outputText>
					<ice:panelGroup>
						<ice:outputText value=" " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyId.help']}" />
					</ice:panelGroup>
					<ice:outputLabel value="#{msg['preferences.retrieval.telpin']}" for="telepin" />
					<ice:inputText value="#{devicePreferencesBean.telephonyPIN}" id="telepin"
								   maxlength="8" />
					<ice:panelGroup>
						<ice:outputText value="  " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyPIN.help']}" />
					</ice:panelGroup>
					<ice:outputLabel value="#{msg['preferences.retrieval.telpass']}" for="telepass"
									 rendered="#{composeAlertBean.admin}" />
					<ice:inputText value="#{devicePreferencesBean.telephonyPass}" id="telepass"
								   rendered="#{composeAlertBean.admin}" maxlength="16" />
					<ice:panelGroup rendered="#{composeAlertBean.admin}">
						<ice:outputText value="  " />
						<ice:graphicImage value="/images/help.png"
										  title="#{msg['preferences.retrieval.telephonyPass.help']}" />
					</ice:panelGroup>
				</ice:panelGrid>
				<ice:panelGroup style="background-color:#F7E68E;padding:10px;"
								rendered="#{composeAlertBean.admin}">
					<ice:outputLabel value="#{msg['preferences.password.rule.title']}" />
					<ul>
						<li><ice:outputText value="#{msg['preferences.password.rule.rule.1']}" /></li>
						<li><ice:outputText value="#{msg['preferences.password.rule.rule.2']}" /></li>
						<li><ice:outputText value="#{msg['preferences.password.rule.rule.3']}" /></li>
						<li><ice:outputText value="#{msg['preferences.password.rule.rule.4']}" /></li>
					</ul>
				</ice:panelGroup>
				<ice:panelGroup>
					<ice:commandButton action="#{devicePreferencesBean.savePreferences}" value="#{msg.save}"/>
					<ice:commandButton action="#{devicePreferencesBean.reloadPreferences}" value="#{msg.cancel}"/>
				</ice:panelGroup>
				<br />
				<ice:panelGroup style="border-bottom: 1px solid #ABABAB; width: 100%"/>
				<ice:outputLabel value="#{msg['preferences.alternates.title']}" style="color: black;" />
				<p>
					<ice:outputText value="#{msg['preferences.alternates.instructions']}" /><br />
					<ice:outputText value="#{msg['preferences.alternates.note']}" />
				</p>
				<ice:panelDivider dividerPosition="63" orientation="vertical"
								  style="width: 100%; height: 600px;">
				<f:facet name="first">
					<ui:include src="alternateContactsWindow.xhtml" />
				</f:facet>
				<f:facet name="second">
					<ui:include src="alternateContactsTable.xhtml" />
				</f:facet>
				</ice:panelDivider>
				<!--ice:panelGrid columns="2" columnClasses="hanDatatableElementLeft" 
					width="100%" border="1">
					<ui:include src="alternateContactsWindow.xhtml" />
					<ui:include src="alternateContactsTable.xhtml" />
				</ice:panelGrid-->
			</ice:panelGrid>
		</ice:form>
	</ice:portlet>
</f:view>