<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:ui="http://java.sun.com/jsf/facelets" 
			  	xmlns:h="http://java.sun.com/jsf/html" 
			  	xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:ice="http://www.icesoft.com/icefaces/component"
			  	draggable="false" modal="true" rendered="#{composeMessageBean.cancelVisible}"
				visible="#{composeMessageBean.cancelVisible}"
				autoCentre="true" positionOnLoadOnly="true" styleClass="corePopup hanInboxPopup">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['email.inbox.compose.cancel.title']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{composeMessageBean.toggleCancel}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    		<ice:outputText value="#{msg['email.inbox.compose.cancel.info']}" />
    		<br />
    		<ice:commandButton value="#{msg['email.inbox.yes.label']}"
    						   actionListener="#{composeMessageBean.cancelMessage}" />
    		<ice:commandButton value="#{msg['email.inbox.no.label']}"
    						   actionListener="#{composeMessageBean.toggleCancel}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>