<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelPopup draggable="true" modal="true" rendered="#{folderBean.renameVisible}"
					visible="#{folderBean.renameVisible}" autoCentre="true"
					styleClass="corePopup hanInboxPopup" style="height: 180px;">
		<f:facet name="header">
	        <ice:panelGroup styleClass="popupHeaderWrapper">
	            <ice:outputText value="#{msg['email.inbox.folder.confirm.rename.title']}"
								styleClass="popupHeaderText"/>
	            <ice:commandButton type="button"
								   image="/images/popupclose.gif"
								   actionListener="#{folderBean.toggleRenameFolder}"
								   styleClass="popupHeaderImage"
								   title="Close Popup" alt="Close"/>
	        </ice:panelGroup>
	    </f:facet>
	    <f:facet name="body">
	    	<ice:panelGroup styleClass="popupBody">
		    	<ice:panelGrid columns="1">
		    		<ice:outputText value="#{msg['email.inbox.folder.confirm.rename.1']}" />
		    		<ice:outputText value="#{folderBean.currentSelection.name}" style="font-weight: bold;" />
		    		<ice:panelGroup>
			    		<ice:outputText value="#{msg['email.inbox.folder.confirm.rename.2']}" />
			    		<ice:inputText id="folderName" value="#{folderBean.folderName}" size="20">
			    			<f:validateLength maximum="20" minimum="2"/>
			    		</ice:inputText>
		    		</ice:panelGroup>
	    		</ice:panelGrid>
	    		<br />
	    		<ice:commandButton value="#{msg['email.inbox.yes.label']}"
	    						   actionListener="#{folderBean.renameFolder}" />
	    		<ice:commandButton value="#{msg['email.inbox.no.label']}"
	    						   actionListener="#{folderBean.toggleRenameFolder}" />
	    	</ice:panelGroup>
	    </f:facet>
	</ice:panelPopup>
</ui:component>