<ui:component xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	
	<ice:panelGrid columns="1" width="100%" columnClasses="hanDatatableElementLeft">
	
		<!-- DataTable with 10 rows per page -->
		<ice:dataTable id="memberTable" var="member"
			value="#{batchUploadSearchBean.batchMembers}" 
			rows="#{batchUploadSearchBean.batchMembers.rowsPerPage}" 
			scrollable="false"
			columnWidths="100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px" 
			headerClasses="hanDatatableElement"
			columnClasses="hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElement,hanDatatableElement,hanDatatableElement,
				hanDatatableElementLeft,hanDatatableElement,hanDatatableElementLeft,hanDatatableElementLeft,hanDatatableElementLeft,
				hanDatatableElement,hanDatatableElement,hanDatatableElement,hanDatatableElementLeft"
			cellpadding="0" style="background-color:white">
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column1"
						value="#{msgs['batchSearch.panel3.search.results.header1']}" />
				</f:facet>
				<ice:outputText id="createdDate" value="#{member.lastName}"/>
				<!--ice:outputText id="createdDate">
					<fmt:formatDate value="#{group.createdDate}" pattern="yyyy-MM-dd"/>
				</ice:outputText-->
			</ice:column>
			
			<!--c:forEach var="device" items="#{member.nonHanContactDevices}">	
				<c:if test="#{device.contacType == 'WORK_PHONE'}">
					<c:set var="WORK_PHONE" value="#{device.contactDevice}"/>
				</c:if>
			</c:forEach-->

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column2"
						value="#{msgs['batchSearch.panel3.search.results.header2']}" />
				</f:facet>
				<ice:outputText id="groupName" value="#{member.firstName}" />
			</ice:column>

			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column3"
						value="#{msgs['batchSearch.panel3.search.results.header3']}" />
				</f:facet>
				<ice:outputText id="description" value="#{member.middleInitial}" />
			</ice:column>
						
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column4"
						value="#{msgs['batchSearch.panel3.search.results.header4']}" />
				</f:facet>
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<!--ui:fragment rendered="#{device.contactType.deviceType == 'Work Phone'}"-->
					<ui:fragment rendered="#{device.contactType == 'WORK_PHONE'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>	
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column5"
						value="#{msgs['batchSearch.panel3.search.results.header5']}" />
				</f:facet>
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<ui:fragment rendered="#{device.contactType == 'WORK_EXT'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column6"
						value="#{msgs['batchSearch.panel3.search.results.header6']}" />
				</f:facet>
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<ui:fragment rendered="#{device.contactType == 'WORK_EMAIL'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>	
				
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column7"
						value="#{msgs['batchSearch.panel3.search.results.header7']}" />
				</f:facet>
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<ui:fragment rendered="#{device.contactType == 'CELL_PHONE'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>

			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column8"
						value="#{msgs['batchSearch.panel3.search.results.header8']}" />
				</f:facet>
				<ice:outputText id="addressLine1" value="#{member.addressLine1}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column9"
						value="#{msgs['batchSearch.panel3.search.results.header9']}" />
				</f:facet>
				<ice:outputText id="addressLine2" value="#{member.addressLine2}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column10"
						value="#{msgs['batchSearch.panel3.search.results.header10']}" />
				</f:facet>
				<ice:outputText id="city" value="#{member.city}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column11"
						value="#{msgs['batchSearch.panel3.search.results.header11']}" />
				</f:facet>
				<ice:outputText id="state" value="#{member.state}" />
			</ice:column>
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column12"
						value="#{msgs['batchSearch.panel3.search.results.header12']}" />
				</f:facet>
				<ice:outputText id="processedDate" value="#{member.zip}" />
			</ice:column>			
			
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column13"
						value="#{msgs['batchSearch.panel3.search.results.header13']}" />
				</f:facet>
				<c:forEach var="device" items="#{member.nonHanContactDevices}">
					<c:if test="#{device.contacType == ContactDeviceType.HOME_PHONE}">
						<ice:outputText id="contactDevice5" value="#{device.contactDevice}" />
					</c:if>
				</c:forEach>
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<ui:fragment rendered="#{device.contactType == 'HOME_PHONE'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>

		
			<ice:column>
				<f:facet name="header">
					<ice:outputText id="column14"
						value="#{msgs['batchSearch.panel3.search.results.header14']}" />
				</f:facet>				
				<ui:repeat value="#{member.nonHanContactDevices}" var="device">					
					<ui:fragment rendered="#{device.contactType == 'PERSONAL_EMAIL'}">
						<ice:outputText value="#{device.contactDevice}" />
					</ui:fragment>
				</ui:repeat>
			</ice:column>	

		</ice:dataTable>
		
		<ice:panelGrid columns="1">
			<ice:panelGroup>
				<ice:dataPaginator id="dataScrollMembers" for="memberTable"
					rowsCountVar="memberCount"
					displayedRowsCountVar="displayedMembersCountVar"
					firstRowIndexVar="firstMemberRowIndex" lastRowIndexVar="lastMemberRowIndex"
					pageCountVar="memberPageCount" pageIndexVar="memberPageIndex">
					<ice:outputFormat
						value="#{msgs['batchSearch.panel3.search.results.summary']}">
						<f:param value="#{memberCount}" />
						<f:param value="#{displayedMembersCountVar}" />
						<f:param value="#{firstMemberRowIndex}" />
						<f:param value="#{lastMemberRowIndex}" />
						<f:param value="#{memberPageIndex}" />
						<f:param value="#{memberPageCount}" />
					</ice:outputFormat>
				</ice:dataPaginator>
			</ice:panelGroup>
			
			<ice:dataPaginator id="dataScrollMembers_2" 
				for="memberTable" rendered="true" fastStep="3" pageIndexVar="#{memberPageIndex}"
				paginator="true" paginatorMaxPages="4">
				<f:facet name="first">
					<ice:graphicImage id="firstpage"
						url="#{msgs['icefaces.paginator.first.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="last">
					<ice:graphicImage id="lastpage"
						url="#{msgs['icefaces.paginator.last.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="previous">
					<ice:graphicImage id="previouspage"
						url="#{msgs['icefaces.paginator.previous.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="next">
					<ice:graphicImage id="nextpage"
						url="#{msgs['icefaces.paginator.next.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="fastforward">
					<ice:graphicImage id="fastforward"
						url="#{msgs['icefaces.paginator.fastforward.button.image']}"
						style="border:none;" />
				</f:facet>
				<f:facet name="fastrewind">
					<ice:graphicImage id="fastrewind"
						url="#{msgs['icefaces.paginator.fastrewind.button.image']}"
						style="border:none;" />
				</f:facet>
			</ice:dataPaginator>
		</ice:panelGrid>
	</ice:panelGrid>

</ui:component>