<ui:component xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets">
	<ice:panelGroup width="100%" style="padding: 10px;">
		
		
		
		<ice:panelCollapsible id="formPanel" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="formHeader" value="#{msgs['batchSearch.panel1.title']}"/>
                </ice:panelGroup>
            </f:facet>            
            <ice:panelGroup >
                <ice:panelGrid columns="6" columnClasses="hanDatatableElementLeft">
                    <!-- Group Name-->
                    <ice:outputLabel for="formGroupName"
                                     value="#{msgs['batchSearch.panel1.form.groupName']}"/>
                    <ice:inputText id="formGroupName"
                                   value="#{batchUploadSearchBean.groupName}"/>

                    <!-- Description-->
                    <ice:outputLabel for="formGroupDesc"
                                     value="#{msgs['batchSearch.panel1.form.groupDesc']}"/>
                    <ice:inputText id="formGroupDesc" value="#{batchUploadSearchBean.groupDesc}"/>
                    <ice:commandButton id="SubmitBtn"
                    	   type="submit"
                           value="#{msgs['batchSearch.panel2.form.searchButton']}"
                           actionListener="#{batchUploadSearchBean.searchButtonListener}"/>
                    <ice:commandButton id="NewBatchBtn"
                           value="#{msgs['batchSearch.panel2.form.newButton']}"
                           action="upload"/>                    
                </ice:panelGrid>
            </ice:panelGroup>
        </ice:panelCollapsible>
        <ice:panelCollapsible id="batchGroupPanel" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="resultsHeader"
                            value="#{msgs['batchSearch.panel2.title']}"/>
                </ice:panelGroup>
            </f:facet>
            <ui:include src="searchResults.xhtml" />
        </ice:panelCollapsible>
		<ice:panelCollapsible id="batchMemberPanel" expanded="true" immediate="true">
            <f:facet name="header">
                <ice:panelGroup>
                    <ice:outputText id="membersDetailHeader"
                            value="#{msgs['batchSearch.panel3.title']}"/>
                </ice:panelGroup>
            </f:facet>
            <ui:include src="batchMembers.xhtml" />
        </ice:panelCollapsible>	
		
	</ice:panelGroup>
</ui:component>