<ice:panelGroup xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:h="http://java.sun.com/jsf/html"
			  xmlns:ice="http://www.icesoft.com/icefaces/component"
			  xmlns:ui="http://java.sun.com/jsf/facelets"
			  xmlns:portlet="http://java.sun.com/portlet"
			  width="100%" style="padding: 10px;">
	
	<portlet:renderURL var="portletUrl"/>	
	
	<ice:panelCollapsible expanded="true" immediate="true">
         <f:facet name="header">
             <ice:panelGroup>
                 <ice:outputText value="#{msgs['batchUpload.panel1.title']}"/>
             </ice:panelGroup>
         </f:facet>            
         <ice:panelGroup >
             <ol>
             	<li>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step1']}" escape="false"/><br/>
					<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step1a']}"/>
					<ice:panelGroup panelTooltip="errorInfoTooltip">            	
             			<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step1b']}"
             				style="color: orange;"/>
             		</ice:panelGroup>
             	</li>                	
             	<li>                		     	
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step2']}"/><br/>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step2a']}"/>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step2b']}"  escape="false"/>
             		<br />
             	</li>
             	<li>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step3']}" escape="false"/>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step3a']}" style="font-weight: bold;"/><br/>
             		<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step3b']}"/>
             		<ice:panelGroup panelTooltip="errorInfoTooltip2" >            	
             			<ice:outputText value="#{msgs['batchUpload.panel1.instructions.step3c']}"
             				style="color: orange;"/>
             		</ice:panelGroup>
             	</li>
             	<li><ice:outputText id="step4" value="#{msgs['batchUpload.panel1.instructions.step4']}"/></li>
             	<li><ice:outputText id="step5" value="#{msgs['batchUpload.panel1.instructions.step5']}"/></li>
             </ol>
             <h3>Template:</h3>
              <ice:outputLink id="excelIconBtn"
                        image="/images/excel_icon.png" 
                        value="https://www.chicagohan.org/public/images/Template.xls"
                        style="img {border: none; height: 100px; width: 100px;}"
                        target="_blank">
                  <ice:graphicImage value="/images/excel_icon.png"/>                        
             </ice:outputLink>
         </ice:panelGroup>
     </ice:panelCollapsible>
     <ice:panelCollapsible expanded="true" immediate="true">
           <f:facet name="header">
               <ice:panelGroup>
                   <ice:outputText value="#{msgs['batchUpload.panel2.title']}"/>
               </ice:panelGroup>
           </f:facet>            
           <ice:panelGroup>
	      	<ice:messages layout="list"/>
      		<ice:outputText value="#{msgs['batchUpload.panel2.form.note']}"
      						style="font-weight: bold; color: red;" />
               <ice:panelGrid columns="4" columnClasses="hanDatatableElementLeft" 
               	cellspacing="5" width="100%">
                   <!-- Group Name-->
                   <ice:outputLabel for="formGroupName"
                                    value="#{msgs['batchUpload.panel2.form.groupName']}"/>
                   <ice:inputText id="formGroupName"
                   			   label="#{msgs['batchUpload.panel2.form.groupName']}"
                                  value="#{batchUploadBean.groupName}"
                                  partialSubmit="false"
                                  required="true"/>

                   <!-- Description-->
                   <ice:outputLabel for="formGroupDesc"
                                    value="#{msgs['batchUpload.panel2.form.groupDescription']}"/>
                   <ice:inputTextarea id="formGroupDesc"
                   				label="#{msgs['batchUpload.panel2.form.groupDescription']}"
                   				required="true"
                              		value="#{batchUploadBean.groupDescription}"
                              		partialSubmit="false"
                              		cols="20" rows="4"/>
                   
                    <!-- Description-->
                   <ice:outputLabel for="formEventDesc"
                                    value="#{msgs['batchUpload.panel2.form.eventDescription']}"/>
                   <!--ice:inputText id="formEventDesc" value="#{batchUploadBean.eventDescription}"/-->
                   <ice:inputTextarea id="formEventDesc"
                   				label="#{msgs['batchUpload.panel2.form.eventDescription']}"
                   				required="true"
                              		value="#{batchUploadBean.eventDescription}"
                              		partialSubmit="false"
                              		cols="20" rows="4"/>
                              
                   <!-- Description-->
                   <ice:outputLabel for="contactPref"
                                    value="#{msgs['batchUpload.panel2.form.currentPref.title']}"/>
                   <ui:include src="uploadPriorityPref.xhtml" />      
               </ice:panelGrid>
               
           </ice:panelGroup>
       </ice:panelCollapsible>
       <ice:panelCollapsible expanded="true" immediate="true">
           <f:facet name="header">
               <ice:panelGroup>
                   <ice:outputText
                           value="#{msgs['batchUpload.panel3.title']}"/>
               </ice:panelGroup>
           </f:facet>
           <ice:panelGroup>
           	<!-- file upload usage with progress callback. -->
	        <ice:inputFile id="inputFileName"
	                       partialSubmit="true"
	                       progressRender="true"
	                       progressListener="#{batchUploadBean.fileUploadProgress}"
	                       actionListener="#{batchUploadBean.uploadFile}"
	                       fileNamePattern=".+\.xls"/>
	                       
	        <!-- progress bar, percent value is upated via progressListener-->
	        <ice:outputProgress id="outProgress" value="#{batchUploadBean.fileProgress}"/>
	        
	        <ice:panelGroup>
	            <h:message for="inputFileName" style="color:red; font-weight:bold;"/>
	        </ice:panelGroup>
        	<br/>
            <ice:panelGrid columns="2">
                 	<!-- Buttons -->
                 	<ice:commandButton
                           value="#{msgs['batchUpload.panel2.form.backButton']}"
                           action="back2Search"
                           immediate="true"/> 
                    <ice:commandButton
                    	   type="submit"
                           value="#{msgs['batchUpload.panel2.form.uploadButton']}"
                           action="#{batchUploadBean.submitButtonAction}"/> 
             </ice:panelGrid>
            </ice:panelGroup>
       </ice:panelCollapsible>		
       
    <ice:panelTooltip id="errorInfoTooltip"
   				draggable="false"    				  
              	hideOn="mouseout" 
                style="width: 670px;">	
        <f:facet name="body">
	        <ice:panelGroup>
	            <ice:graphicImage url="#{msgs['batchUpload.panel.tooltip.warning.window.image']}" style="width: 642px; height: 117px;"/>
	        </ice:panelGroup>
        </f:facet>
    </ice:panelTooltip>
    
    <ice:panelTooltip id="errorInfoTooltip2"
   				draggable="false"    				  
              	hideOn="mouseout" 
                style="width: 650px;" >	
        <f:facet name="body">
	        <ice:panelGroup>
	            <ice:graphicImage url="#{msgs['batchUpload.panel.tooltip.warning2.window.image']}" style="width: 623px; height: 161px;"/>
	        </ice:panelGroup>
        </f:facet>
    </ice:panelTooltip>
    
</ice:panelGroup>	
