<ice:panelPopup xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:ui="http://java.sun.com/jsf/facelets" 
			  	xmlns:h="http://java.sun.com/jsf/html" 
			  	xmlns:f="http://java.sun.com/jsf/core"
			  	xmlns:ice="http://www.icesoft.com/icefaces/component"
			  	draggable="false" modal="true" rendered="#{folderBean.deleteVisible}"
				visible="#{folderBean.deleteVisible}" style="height: 180px;"
				autoCentre="true" positionOnLoadOnly="true" styleClass="corePopup hanInboxPopup">
	<f:facet name="header">
        <ice:panelGroup styleClass="popupHeaderWrapper">
            <ice:outputText value="#{msg['email.inbox.folder.confirm.delete.title']}"
							styleClass="popupHeaderText"/>
            <ice:commandButton type="button"
							   image="/images/popupclose.gif"
							   actionListener="#{folderBean.toggleDeleteFolder}"
							   styleClass="popupHeaderImage"
							   title="Close Popup" alt="Close"/>
        </ice:panelGroup>
    </f:facet>
    <f:facet name="body">
    	<ice:panelGroup styleClass="popupBody">
    	<ice:panelGrid columns="1">
	    	<ice:outputText value="#{msg['email.inbox.folder.confirm.delete.1']}" />
	    	<ice:outputText value="#{folderBean.currentSelection.name}" style="font-weight: bold;" />
    		<ice:outputText value="#{msg['email.inbox.folder.confirm.delete.2']}" />
    	</ice:panelGrid>
    		<p></p>
    		<ice:commandButton value="#{msg['email.inbox.yes.label']}"
    						   actionListener="#{folderBean.deleteFolder}" />
    		<ice:commandButton value="#{msg['email.inbox.no.label']}"
    						   actionListener="#{folderBean.toggleDeleteFolder}" />
    	</ice:panelGroup>
    </f:facet>
</ice:panelPopup>