<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
    <f:loadBundle basename="messages" var="msg"/>
    <h:head/>
	<h:body>
	<ice:portlet>
		<ice:outputStyle href="#{msg['icefaces.portlet.style.rime.css']}" />
		<ice:outputStyle href="/css/showcase_style.css" />
		<ice:outputStyle href="/css/custom_styles.css" />
		<ice:form partialSubmit="true">
			<ice:messages layout="list" />
			<ice:panelGrid columns="2" columnClasses="hanInboxFolder,hanInboxMessages" width="96%">
				<ui:include src="folderList.xhtml" />
				<ice:panelGrid style="width: 100%; height: 100%;" columns="1">
					<ui:include src="messageList.xhtml" />
					<ice:outputText value=" "
									rendered="#{not messageBean.showMessage and not composeMessageBean.editorVisible}" />
					<ice:outputText value="#{msg['email.inbox.compose.no.selection']}" style="font-weight: bold;"
									rendered="#{not messageBean.showMessage and not composeMessageBean.editorVisible}" />
					<ui:include src="messageView.xhtml" />
					<ui:include src="newMessage.xhtml" />
				</ice:panelGrid>
			</ice:panelGrid>
		</ice:form>
	</ice:portlet>
	</h:body>
</f:view>