<ui:component 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
>
	<ice:panelGrid columns="1" style="width: 100%" rendered="#{messageBean.showMessage}">
		<ice:panelGroup styleClass="exampleBox menuBarContainer" style="width: 94%;">
			<ice:menuBar style="background-color: #E0E0E0;">
				<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply']}" rendered="#{not messageBean.draft}">
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply.with.attachments']}"
								  actionListener="#{composeMessageBean.replyMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
						<f:param name="addAttachments" value="true" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply.no.attachments']}"
								  actionListener="#{composeMessageBean.replyMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply.all']}" rendered="#{not messageBean.draft}">
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply.all.with.attachments']}"
								  actionListener="#{composeMessageBean.replyMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
						<f:param name="addAttachments" value="true" />
						<f:param name="replyToAll" value="true" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.reply.all.no.attachments']}"
								  actionListener="#{composeMessageBean.replyMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
						<f:param name="replyToAll" value="true" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['email.inbox.view.toolbar.forward']}" rendered="#{not messageBean.draft}">
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.forward.with.attachments']}"
								  actionListener="#{composeMessageBean.forwardMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
						<f:param name="addAttachments" value="true" />
					</ice:menuItem>
					<ice:menuItem value="#{msg['email.inbox.view.toolbar.forward.no.attachments']}"
								  actionListener="#{composeMessageBean.forwardMessage}"
								  action="#{messageBean.hideMessage}">
						<f:param name="folderName" value="#{messageBean.email.folderName}" />
						<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
					</ice:menuItem>
				</ice:menuItem>
				<ice:menuItem value="#{msg['email.inbox.view.toolbar.edit']}"
							  actionListener="#{composeMessageBean.editMessage}"
							  action="#{messageBean.hideMessage}"
							  rendered="#{messageBean.draft}">
					<f:param name="folderName" value="#{messageBean.email.folderName}" />
					<f:param name="messageNumber" value="#{messageBean.email.messageNumber}" />
				</ice:menuItem>
			</ice:menuBar>
		</ice:panelGroup>
		<ice:panelGroup styleClass="exampleBox" style="width: 94%;">
			<ice:panelGrid columns="2">
				<ice:outputText value="#{msg['email.inbox.view.message.from']}" />
				<ice:outputText value="#{messageBean.email.from}" />
				<ice:outputText value="#{msg['email.inbox.view.message.to']}" />
				<ice:outputText value="#{messageBean.email.formattedTo}" />
				<ice:outputText value="#{msg['email.inbox.view.message.cc']}" />
				<ice:outputText value="#{messageBean.email.formattedCc}" />
				<ice:outputText value="#{msg['email.inbox.view.message.subject']}" />
				<ice:outputText value="#{messageBean.email.subject}" />
				<ice:outputText value="#{msg['email.inbox.view.message.date']}" />
				<ice:outputText value="#{messageBean.email.sent}">
					<f:convertDateTime pattern="#{msg['han.date.format']}"
									   timeZone="#{msg['han.time.zone']}" />
				</ice:outputText>
			</ice:panelGrid>
			<ice:outputText value="#{messageBean.email.content}" escape="#{not messageBean.email.html}" />
			<ice:dataTable var="attachment" value="#{messageBean.email.attachments}"
						   columnWidths="270px,100px,100px"
						   columnClasses="hanDatatableElementLeft,hanDatatableElement,hanDatatableElement">
				<ice:column>
					<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.name']}" /></f:facet>
					<ice:outputResource shared="false" fileName="#{attachment.fileName}"
										resource="#{attachment.fileContent}" />
				</ice:column>
				<ice:column>
					<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.size']}" /></f:facet>
					<ice:outputText value="#{attachment.formattedSize}" />
				</ice:column>
				<ice:column>
					<f:facet name="header"><ice:outputText value="#{msg['alerts.detail.attachments.type']}" /></f:facet>
					<ice:outputText value="#{attachment.mimeType}" />
				</ice:column>
			</ice:dataTable>
		</ice:panelGroup>
	</ice:panelGrid>
</ui:component>