<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelPopup draggable="true" modal="true" rendered="#{messageBean.moveVisible}"
					visible="#{messageBean.moveVisible}" autoCentre="true"
					styleClass="corePopup hanInboxPopup" style="height: 250px;">
		<f:facet name="header">
	        <ice:panelGroup styleClass="popupHeaderWrapper">
	            <ice:outputText value="#{msg['email.inbox.folder.move.title']}"
								styleClass="popupHeaderText"/>
	            <ice:commandButton type="button"
								   image="/images/popupclose.gif"
								   actionListener="#{messageBean.toggleMove}"
								   styleClass="popupHeaderImage"
								   title="Close Popup" alt="Close"/>
	        </ice:panelGroup>
	    </f:facet>
	    <f:facet name="body">
	    	<ice:panelGroup styleClass="popupBody">
	    		<ice:outputText value="#{msg['email.inbox.folder.move.select.folder']}" /><p></p>
	    		<ice:selectOneListbox value="#{messageBean.toMoveFolder}" size="6">
	    			<f:selectItems value="#{folderBean.plainFolders}"/>
	    		</ice:selectOneListbox><p></p>
	    		<ice:commandButton actionListener="#{messageBean.moveMessages}"
	    						   action="#{messageBean.loadMessages}"
	    						   value="#{msg['email.inbox.folder.move.move']}">
	    			<f:actionListener binding="#{folderBean}" type="org.cdph.han.email.beans.FolderBean" />
	    		</ice:commandButton>
	    	</ice:panelGroup>
	    </f:facet>
	</ice:panelPopup>
</ui:component>