<ui:component xmlns="http://www.w3.org/1999/xhtml" 
			  xmlns:ui="http://java.sun.com/jsf/facelets" 
			  xmlns:h="http://java.sun.com/jsf/html" 
			  xmlns:f="http://java.sun.com/jsf/core"
			  xmlns:ice="http://www.icesoft.com/icefaces/component">
	<ice:panelPopup draggable="true" modal="true" rendered="#{folderBean.createVisible}"
					visible="#{folderBean.createVisible}" autoCentre="true"
					styleClass="corePopup hanInboxPopup">
		<f:facet name="header">
	        <ice:panelGroup styleClass="popupHeaderWrapper">
	            <ice:outputText value="#{msg['email.inbox.folder.new.popup.title']}"
								styleClass="popupHeaderText"/>
	            <ice:commandButton type="button"
								   image="/images/popupclose.gif"
								   actionListener="#{folderBean.toggleNewFolder}"
								   styleClass="popupHeaderImage"
								   title="Close Popup" alt="Close"/>
	        </ice:panelGroup>
	    </f:facet>
	    <f:facet name="body">
	    	<ice:panelGroup styleClass="popupBody">
	    		<ice:outputText value="#{msg['email.inbox.folder.new.inst.1']}" /><p></p>
	    		<ice:outputText value="#{msg['email.inbox.folder.new.inst.2']}" /><p></p>
	    		<ice:inputText id="folderName" value="#{folderBean.folderName}" size="20" maxlength="20">
	    			<f:validateLength maximum="20" minimum="2"/>
	    		</ice:inputText>
	    		<ice:commandButton actionListener="#{folderBean.createFolder}"
	    						   value="#{msg['email.inbox.folder.new.create']}"/>
	    	</ice:panelGroup>
	    </f:facet>
	</ice:panelPopup>
</ui:component>